Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Use HTML 404 for server too
  server/index.ts
  server/modules/assets.ts
  server/test/assets.test.ts
  web/nginx.conf
Due: none

Fix merge conflict
  .github/workflows/preview-clean.yml
Due: none

Sync static error pages with in-app
  web/nginx.conf
  web/pages/fatal.svelte
  web/public/404.html
  web/public/500.html
Due: prettier --write, stylelint --fix

Fix home page infinite loader bug
  core/feed.ts
  core/test/feed.test.ts
Due: none

Use new icons
  web/.size-limit.json
  web/main/colors.css
  web/public/apple-touch-icon.png
  web/public/favicon.ico
  web/public/icon-192.png
  web/public/icon-512.png
  web/public/icon-dev.svg
  web/public/icon-staging.svg
  web/public/icon.svg
  web/public/manifest.webmanifest
  web/ui/navbar/fireplace.svelte
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Move PWA-ish webmanifest to force Chrome mask the icon
  web/public/manifest.webmanifest
Due: none

Fix CSP for logo in navbar
  server/test/assets.test.ts
  web/nginx.conf
  web/scripts/generate-csp.ts
Due: none

Fix issue of feeds with duplicated in origin IDs
  core/loader/atom.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/popups/post.ts
  core/post.ts
  core/posts-list.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
  core/test/popups.test.ts
  core/test/popups/post.test.ts
  core/test/utils.ts
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Fix menu infinite loader if menu reducer was broken
  api/package.json
  core/package.json
  core/pages/feeds.ts
  core/schema.ts
  core/test/menu.test.ts
  core/test/pages/feeds.test.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: none

Try to improve LLM language
  AGENTS.md
Due: none

Use thew same keep-major logic for both pnpm and Node.js in update env script
  README.md
  scripts/update-env.ts
Due: none

Update pnpm and dependencies
  .devcontainer/Dockerfile
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/.browserslistrc
  web/.size-limit.json
  web/Dockerfile
  web/package.json
Due: none

Fix srcset normalization
  core/lib/html.ts
  core/test/lib/html.test.ts
Due: none

Reduce post title size
  web/main/fonts.css
Due: stylelint --fix

Add stories for post popup
  web/stories/popups/post.stories.svelte
Due: prettier --write, stylelint --fix

Ask LLM to not create too many stories
  AGENTS.md
Due: none

Add app icon to the About page
  web/pages/about.svelte
  web/ui/app-icon.svelte
Due: prettier --write, stylelint --fix

Add forgotten shadow changes
  web/main/colors.css
Due: stylelint --fix

Cleaner loader sync
  web/index.html
  web/main/index.ts
  web/main/main.svelte
  web/nginx.conf
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Improve busy and download conflict
  core/busy.ts
  core/messages/common/en.ts
  core/pages/relogin.ts
  core/schema.ts
  core/test/log.test.ts
  core/test/pages/relogin.test.ts
Due: none

Reduce numbers of posts for fast feed
  core/readers/feed.ts
  core/test/readers/feed.test.ts
  server/test/assets.test.ts
Due: none

Fix relogin page on mobile
  server/modules/auth.ts
  server/test/auth.test.ts
Due: none

Add demo feeds mode
  .github/workflows/demo-db.yml
  .github/workflows/main.yml
  core/README.md
  core/node.ts
  core/package.json
  core/test/dom-parser.ts
  core/test/lib/download.test.ts
  core/test/lib/html.test.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
  core/test/pages/add.test.ts
  core/test/pages/import.test.ts
  core/test/popups/feed.test.ts
  core/test/post.test.ts
  core/test/refresh.test.ts
  core/test/utils.ts
  loader-tests/check-opml.ts
  loader-tests/dom-api.ts
  loader-tests/package.json
  loader-tests/utils.ts
  pnpm-lock.yaml
  server/modules/assets.ts
  server/test/assets.test.ts
  web/.gitignore
  web/.size-limit.json
  web/README.md
  web/nginx.conf
  web/package.json
  web/public/copy-demo-db.html
  web/scripts/build-demo-db.ts
  web/scripts/demo-feeds.opml
  web/scripts/generate-csp.ts
  web/vite.config.ts
Due: none

Avoid changing tests too often
  server/test/assets.test.ts
Due: none

Allow to return back to menu by Back button in browser on mobile
  core/current-page.ts
  core/menu.ts
  core/popups/index.ts
  core/popups/menu.ts
  core/router.ts
  core/test/menu.test.ts
  web/main/main.svelte
  web/popups/menu.svelte
  web/stories/popups/menu.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Explain why user ID is so complicated
  core/messages/auth/en.ts
  web/pages/sign-up.svelte
Due: prettier --write, stylelint --fix

Use pages for mobile menu to prevent seing loader on background on Back from feed
  core/menu.ts
  core/pages/feeds.ts
  core/pages/index.ts
  core/pages/menu.ts
  core/popups/index.ts
  core/popups/menu.ts
  core/router.ts
  core/test/menu.test.ts
  core/test/pages/feeds.test.ts
  core/test/pages/redirects.test.ts
  web/main/animations.css
  web/main/colors.css
  web/main/main.svelte
  web/pages/fatal.svelte
  web/pages/feeds/index.svelte
  web/pages/menu.svelte
  web/popups/menu.svelte
  web/stores/url-router.ts
  web/stories/pages/feeds.stories.svelte
  web/stories/pages/menu.stories.svelte
  web/stories/popups/menu.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  .github/workflows/clean-images.yml
  .github/workflows/demo-db.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  .github/workflows/workflows.yml
  core/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/.browserslistrc
  web/Dockerfile
  web/package.json
Due: none

More secure reference to local action
  .github/workflows/audit.yml
  .github/workflows/demo-db.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
Due: none

Try to fix menu stories
  web/.storybook/preview-head.html
Due: none

Show error on logux/undo to find reasons of broken DB case
  core/client.ts
  core/errors.ts
  core/messages/fatal/en.ts
  core/pages/fatal.ts
  core/router.ts
  core/test/pages/fatal.test.ts
  web/pages/fatal.svelte
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Clean up code
  core/errors.ts
  core/router.ts
Due: none

Add error dot on sync error to man navbar
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/dot.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Add demo mode to UI
  AGENTS.md
  core/auth.ts
  core/benchmark.ts
  core/feed.ts
  core/messages/auth/en.ts
  core/messages/cloud/en.ts
  core/messages/storage/en.ts
  core/pages/storage.ts
  core/post.ts
  core/settings.ts
  core/test/pages/storage.test.ts
  web/main/colors.css
  web/pages/cloud.svelte
  web/pages/start.svelte
  web/pages/storage.svelte
  web/scripts/build-demo-db.ts
  web/stories/pages/cloud.stories.svelte
  web/stories/pages/storage.stories.svelte
  web/stories/scene.svelte
  web/stories/ui/note.stories.svelte
  web/ui/note.svelte
Due: prettier --write, stylelint --fix

Clean up extension
  extension/.env
  extension/.env.dev.example
  extension/.env.example
  extension/manifest.config.ts
Due: none

Allow to use extension types in web client
  extension/package.json
  pnpm-lock.yaml
  web/package.json
  web/tsconfig.json
Due: none

Improve extension API for request() needs
  extension/api.ts
  extension/background.ts
Due: none

Rename page and clean messages
  core/menu.ts
  core/messages/index.ts
  core/messages/interface/en.ts
  core/messages/navbar/en.ts
  core/messages/network/en.ts
  core/messages/settings/en.ts
  core/pages/index.ts
  core/router.ts
  web/.size-limit.json
  web/main/main.svelte
  web/pages/interface.svelte
  web/pages/network.svelte
  web/stores/url-router.ts
  web/stories/pages/network.stories.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Re-use the same error like dot for refresh too
  web/ui/navbar/dot.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
