Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Fix text contrast
  web/demo/index.css
  web/main/colors.css
Due: stylelint --fix

Fix landing scroll om mobile
  landings/layout/layout.js
  landings/root/root.css
  landings/root/root.js
Due: stylelint --fix

More realistics old-school button
  landings/layout/layout.css
Due: stylelint --fix

Auto-install chrome if it is missed
  .github/workflows/demo-db.yml
  landings/chromium.ts
  landings/scripts/screenshots.ts
  landings/vite/og.ts
Due: none

Update docs
  README.md
  landings/README.md
Due: none

Remove duplicate landing build script
  landings/package.json
Due: none

Update dependencies
  .devcontainer/Dockerfile
  api/package.json
  core/package.json
  extension/package.json
  landings/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/.browserslistrc
  web/Dockerfile
  web/nginx.conf
  web/package.json
Due: none

Reduce chromatic usage by calling it only on web changes
  .github/workflows/visual.yml
Due: none

Fix dependencies
  core/package.json
  pnpm-lock.yaml
Due: none

Avoid using COMMIT_TIME in web for simpler build
  web/global.d.ts
  web/main/updater.ts
  web/vite.config.ts
Due: none

Release demo time-sensitive files as separated image to make main image as reproducible build
  .github/workflows/clean-images.yml
  .github/workflows/demo-db.yml
  web/README.md
  web/demo/Dockerfile
  web/demo/Dockerfile.dockerignore
Due: none

Fix Privacy Policy system to have correct date for the system compatible with reproducible build
  docs/privacy.md
  landings/vite/docs.ts
  nano-staged.json
  package.json
  scripts/check-docs-dates.ts
Due: none

Typo
  web/README.md
Due: none

Add docs of supply chain attack protection
  README.md
  docs/development/supply-chain.md
Due: none

Fix allow-list of network requests to build image
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
Due: none

Faster staging deploy
  .github/workflows/clean-images.yml
  .github/workflows/main.yml
  docs/development/supply-chain.md
Due: none

Fix network allow-list on CI
  .github/workflows/main.yml
Due: none

Don't build Storybook for production to reduce risk
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  Dockerfile
  README.md
  docs/development/supply-chain.md
Due: none

Add hardware 2FA to supplu chain protection
  docs/development/supply-chain.md
Due: none

Try to fix deploy
  .github/workflows/main.yml
Due: none

Tune supply chain doc
  docs/development/supply-chain.md
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .github/actions/init-node/action.yml
  .github/workflows/audit.yml
  .github/workflows/clean-images.yml
  .github/workflows/demo-db.yml
  .github/workflows/deploy-checks.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  .github/workflows/workflows.yml
  .node-version
  Dockerfile
  core/package.json
  extension/package.json
  landings/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  server/aaguids/commit.lock
  web/.browserslistrc
  web/README.md
  web/package.json
Due: none

Add welcome page
  core/auth.ts
  core/demo.ts
  core/feed.ts
  core/index.ts
  core/messages/demo/en.ts
  core/messages/feeds/en.ts
  core/messages/index.ts
  core/messages/welcome/en.ts
  core/pages/feeds.ts
  core/pages/home.ts
  core/pages/import.ts
  core/pages/storage.ts
  core/request.ts
  core/settings.ts
  core/test/demo.test.ts
  core/test/feed.test.ts
  core/test/utils.ts
  core/test/welcome.test.ts
  core/welcome.ts
  web/main/extension.ts
  web/main/main.svelte
  web/pages/feeds/index.svelte
  web/pages/feeds/welcome.svelte
  web/pages/network.svelte
  web/pages/welcome.svelte
  web/stores/request-method.ts
  web/stories/pages/network.stories.svelte
  web/stories/pages/welcome.stories.svelte
  web/stories/scene.svelte
  web/ui/demo-note.svelte
  web/ui/welcome-todo.svelte
Due: prettier --write, stylelint --fix

Auto-format code
  landings/root/root.css
Due: stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
