Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Add routing to docs
  core/README.md
Due: none

Fix local links
  core/README.md
Due: none

WIP
  core/messages/export/en.ts
  core/messages/index.ts
  core/messages/navbar/en.ts
  core/router.ts
  web/main/main.svelte
  web/pages/feeds/export.svelte
  web/stores/router.ts
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Disable postinstall for developers for better security
  .npmrc
Due: none

Run allow-list of post-install scripts
  CONTRIBUTING.md
Due: none

No local postinstall for better security (#190)
  .npmrc
  CONTRIBUTING.md
Due: none

Open all links from posts in new tab
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Lock proxy test port for firewall compatibility
  proxy/test/proxy.test.ts
Due: none

renamed the localization variable
  core/messages/navbar/en.ts
  web/ui/navbar/progress.svelte
Due: prettier --write, stylelint --fix

fixed eslint error
  web/ui/navbar/progress.svelte
Due: prettier --write, stylelint --fix

Navbar progress semantics (#187)
  core/messages/navbar/en.ts
  web/ui/navbar/progress.svelte
Due: prettier --write, stylelint --fix

Better full to inrto limit to work for Mastadon and Tumblr posts
  core/post.ts
Due: none

Move to Node.js 22.1
  .tool-versions
  package.json
  proxy/Dockerfile
Due: none

Move to Node.js 22.1 (#191)
  .tool-versions
  package.json
  proxy/Dockerfile
Due: none

Fix Ctrl+C in proxy server
  proxy/index.ts
Due: none

Fix tests
  core/test/post.test.ts
Due: none

Improve keyboard press style
  web/main/index.css
Due: stylelint --fix

WIP: prepare layout for OMPL export
  core/export.ts
  core/messages/export/en.ts
  core/router.ts
  web/main/main.svelte
  web/pages/feeds/export.svelte
  web/pages/feeds/exportOPML.svelte
  web/stores/router.ts
Due: prettier --write, stylelint --fix

WIP: add opml export
  core/export.ts
  core/index.ts
  core/messages/export/en.ts
  web/pages/feeds/export.svelte
  web/pages/feeds/exportOPML.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Remode debug code
  web/stories/ui/formatted-text.stories.svelte
Due: prettier --write, stylelint --fix

Fix fetch() error on too many parallel requests
  loader-tests/check-opml.ts
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
Due: none

Update toggle steps logic
  core/test/two-steps.test.ts
  core/two-steps.ts
  web/pages/feeds/add.svelte
  web/pages/feeds/categories.svelte
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/post-card.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Add current Node.js version to all package.json for better Node.js features lint
  api/package.json
  core/package.json
  loader-tests/package.json
  proxy/package.json
  scripts/check-versions.ts
  server/package.json
  web/package.json
Due: none

Update dependencies
  core/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

refactor: move export logic to module
  core/category.ts
  core/export.ts
  web/pages/feeds/exportOPML.svelte
Due: prettier --write, stylelint --fix

Move to ESLint 9 and update other dependencies
  eslint.config.js
  package.json
  pnpm-lock.yaml
  proxy/package.json
  web/package.json
Due: none

auto review action init
  .github/workflows/review-comments.yml
  docs/review-comments-data.yml
Due: none

add: add internal format export
  core/export.ts
  core/messages/export/en.ts
  web/pages/feeds/export.svelte
  web/pages/feeds/exportInternal.svelte
Due: prettier --write, stylelint --fix

Avoid error throw on bad URL to not interupt check-opml script
  core/preview.ts
Due: none

Fix some false-negative reports from check-opml script related to http/https protocol changes or trailing slash
  loader-tests/utils.ts
Due: none

Be ready for empty homeUrl in OPML
  loader-tests/utils.ts
Due: none

Fix more false-negative check-opml results related with presence of www. and case sensitivity
  loader-tests/utils.ts
Due: none

use the new version of the action
  .github/workflows/review-comments.yml
Due: none

new yaml data
  docs/review-comments-data.yml
Due: none

Do not push with message in Discord
  CONTRIBUTING.md
Due: none

Clean up feeds.yaml since we can detect home automatically
  loader-tests/feeds.yml
Due: none

Simplify CLI API in loader tests
  loader-tests/check-opml.ts
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
Due: none

Add script to test single URL with loaders
  loader-tests/README.md
  loader-tests/check-opml.ts
  loader-tests/package.json
  loader-tests/url.ts
  loader-tests/utils.ts
Due: none

Fix FeedBurner URLs support
  core/loader/atom.ts
  core/test/loader/atom.test.ts
  loader-tests/feeds.yml
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
