Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Update Vite
  package.json
  pnpm-lock.yaml
  web/package.json
  web/vite.config.ts
Due: none

Update Perfectionist and ESLint config
  package.json
  pnpm-lock.yaml
Due: none

Simplify request() types to fix Node.js types
  core/request.ts
  package.json
  pnpm-lock.yaml
  web/main/environment.ts
Due: none

Stabilize package manager tasks by using direct version
  core/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Trim titles on subscribing
  core/preview.ts
  core/test/preview.test.ts
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add svgo
  nano-staged.json
  package.json
  pnpm-lock.yaml
Due: none

Format HTML with Prettier
  nano-staged.json
  web/index.html
Due: none

Add application icon
  web/.size-limit.json
  web/index.html
  web/main/icon.svg
  web/public/apple-touch-icon.png
  web/public/favicon.ico
  web/public/icon-192.png
  web/public/icon-512.png
  web/public/manifest.webmanifest
  web/vite.config.ts
Due: none

Remove versions from package.json since they have private: true
  api/package.json
  core/package.json
  nano-staged.json
  proxy/package.json
  scripts/check-subprotocol.ts
  server/package.json
  web/package.json
Due: none

Move clean script to per-project package.json
  core/package.json
  package.json
  web/package.json
Due: none

Move to isolated per-project git ignore
  .gitignore
  core/.gitignore
  web/.gitignore
Due: none

Add Storybook
  pnpm-lock.yaml
  web/.gitignore
  web/.storybook/main.ts
  web/.storybook/manager-head.html
  web/package.json
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Add themes to Storybook
  pnpm-lock.yaml
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/main/index.css
  web/main/index.ts
  web/package.json
Due: stylelint --fix

Add global CSS to Storybook
  web/.storybook/preview.ts
  web/main/index.css
  web/main/index.ts
Due: stylelint --fix

Clean up code
  web/main/index.ts
Due: none

Add tool for pseudo states
  pnpm-lock.yaml
  web/.storybook/main.ts
  web/package.json
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add groups to stories
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Keep Ui prefix for components in stories
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Publish Storybook
  .eslintignore
  web/.size-limit.json
  web/package.json
Due: none

Avoid storybook in scripts names
  web/package.json
Due: none

Avoid Template where it is unnecessary
  web/stories/ui/button.stories.svelte
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Add story scene sugar
  core/refresh.ts
  web/.storybook/preview.ts
  web/stories/pages/refresh.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Add Storybook (#63)
  .eslintignore
  core/refresh.ts
  pnpm-lock.yaml
  web/.gitignore
  web/.size-limit.json
  web/.storybook/main.ts
  web/.storybook/manager-head.html
  web/.storybook/preview.ts
  web/main/index.css
  web/main/index.ts
  web/package.json
  web/stories/pages/refresh.stories.svelte
  web/stories/scene.svelte
  web/stories/ui/button.stories.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Make script name more clear
  web/package.json
Due: none

Update dependencies
  core/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Clean up dependency versions
  nano-staged.json
  package.json
  pnpm-lock.yaml
  scripts/check-versions.ts
  web/package.json
Due: none

Move to Harmony color palette
  pnpm-lock.yaml
  web/.postcssrc.json
  web/main/colors.css
  web/main/index.css
  web/package.json
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Update lock file
  pnpm-lock.yaml
Due: none

Update Node.js version
  .tool-versions
  package.json
Due: none

Clean unused colors CSS properties
  web/package.json
  web/scripts/clean-vars.ts
Due: none

Better design system for sizes
  web/main/common.css
  web/main/index.css
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Use padding CSS vars to later create compact UI
  web/main/common.css
  web/main/index.css
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Add browser-specific mixins to hide hacks
  pnpm-lock.yaml
  web/.postcssrc.json
  web/main/browsers.mixins.pcss
  web/package.json
Due: none

Do not change Storybook URL
  web/package.json
Due: none

Use start: like prefix only for -r type scripts
  web/package.json
Due: none

Add styles for loader
  core/messages/common/en.ts
  core/messages/index.ts
  web/.size-limit.json
  web/stories/ui/loader.stories.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Fix loader background color on dark
  web/main/colors.css
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix
