Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Add card to feed side
  core/messages/preview/en.ts
  web/pages/organize/edit.svelte
  web/pages/preview.svelte
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Refactor main page wrapper
  core/messages/organize/en.ts
  core/messages/preview/en.ts
  web/pages/about.svelte
  web/pages/download.svelte
  web/pages/interface.svelte
  web/pages/organize/feed.svelte
  web/pages/organize/index.svelte
  web/pages/preview.svelte
  web/pages/profile.svelte
  web/pages/start.svelte
  web/ui/page-title.svelte
  web/ui/page.svelte
  web/ui/settings.svelte
  web/ui/two-steps-page.svelte
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary validation error on preview page
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Hide feeds list on no feeds
  web/ui/navbar/manage.svelte
Due: prettier --write, stylelint --fix

Add more styles to preview page
  core/messages/preview/en.ts
  web/main/main.svelte
  web/pages/preview.svelte
  web/ui/page.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Fix stories after refactoring
  web/stories/pages/preview.stories.svelte
Due: prettier --write, stylelint --fix

Imporove TextField and use it more in feed form
  core/messages/organize/en.ts
  web/pages/organize/edit.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Add debounce to preview search
  pnpm-lock.yaml
  web/package.json
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Use sidemenu style hotkey hints in card links to explain using Enter
  web/ui/card-link.svelte
Due: prettier --write, stylelint --fix

Re-use generateMenuListeners() in navbar and improve keyboard UX
  web/lib/hotkeys.ts
  web/ui/card-link.svelte
  web/ui/navbar/submenu.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Simplify API
  web/lib/hotkeys.ts
  web/ui/card-link.svelte
  web/ui/navbar/submenu.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Refactor UiRadio to use it in feed edit
  core/messages/organize/en.ts
  web/.size-limit.json
  web/pages/download.svelte
  web/pages/interface.svelte
  web/pages/organize/edit.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Add XSS tests to preview visual
  web/stories/pages/preview.stories.svelte
Due: prettier --write, stylelint --fix

Add XSS to loader tests
  core/test/loader/atom.test.ts
  core/test/loader/rss.test.ts
Due: none

Add inline paddings to page not to menu
  web/main/index.css
  web/ui/page.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Better focus jumps between elements
  tsconfig.json
  web/lib/hotkeys.ts
  web/main/browser.ts
  web/pages/preview.svelte
  web/stories/pages/preview.stories.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/card-link.svelte
  web/ui/card-links.svelte
  web/ui/navbar/submenu.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Fix linters
  web/.size-limit.json
  web/ui/card-links.svelte
Due: prettier --write, stylelint --fix

Unify radio and text field and add ability to hide label
  web/pages/download.svelte
  web/pages/interface.svelte
  web/pages/organize/edit.svelte
  web/stories/ui/radio.stories.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/radio-field.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Access page by simple Tab since all menu has hotkeys
  web/main/main.svelte
Due: prettier --write, stylelint --fix

Add fomatting to translation where we need it
  core/messages/preview/en.ts
  web/lib/text.ts
  web/pages/preview.svelte
  web/stories/ui/rich-translation.stories.svelte
  web/ui/rich-translation.svelte
Due: prettier --write, stylelint --fix

Return focus to HTML to always have the same result on Tab press
  web/lib/hotkeys.ts
Due: none

Keep feed candidates lists in the same order
  core/preview.ts
  core/test/preview.test.ts
Due: none

Add styles for preview errors
  core/messages/preview/en.ts
  core/preview.ts
  core/test/preview.test.ts
  web/lib/text.ts
  web/pages/preview.svelte
  web/stories/ui/rich-translation.stories.svelte
  web/ui/rich-translation.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Update Stylelint
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Replace stylelint-use-logic with properties deny-list
  web/.stylelintrc
Due: none

Fix index.html PostCSS plugin
  web/postcss/html-keeper.cjs
Due: none

Make subscribe buttom bigger and more important
  core/messages/preview/en.ts
Due: none

Less dirty color for background
  web/main/colors.css
Due: stylelint --fix

Add secondary button style
  web/main/colors.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix hot key conflict
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Add more styles to feed form
  core/messages/organize/en.ts
  web/.size-limit.json
  web/pages/organize/edit.svelte
  web/pages/organize/feed.svelte
  web/ui/button.svelte
  web/ui/radio-field.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Update selectors to component name change
  web/ui/radio-field.svelte
Due: prettier --write, stylelint --fix

Reduce margin for label-less radio
  web/ui/radio-field.svelte
Due: prettier --write, stylelint --fix

Reduce margin for label-less text field
  web/stories/ui/text-field.stories.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Keep consistency between button states
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add custom selects
  web/pages/organize/edit.svelte
  web/stories/section.svelte
  web/stories/ui/select-field.stories.svelte
  web/ui/select-field.svelte
Due: prettier --write, stylelint --fix

Better visual tests for button
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Allow to hide label for select
  web/stories/ui/select-field.stories.svelte
  web/ui/select-field.svelte
Due: prettier --write, stylelint --fix

Clean up field margins
  web/ui/radio-field.svelte
  web/ui/select-field.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
