Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update Harmony palette
  pnpm-lock.yaml
  web/main/colors.css
  web/package.json
Due: stylelint --fix

Fix CSS vars cleaning
  web/scripts/clean-vars.ts
Due: none

Keep CSS orders the same as JS file imports
  .eslintrc
  web/main/index.ts
Due: none

Combine loader stories to speedup tests and test value changes
  web/stories/section.svelte
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Uncomment reset since we started custom design
  web/main/reset.css
Due: stylelint --fix

Add .pcss files support
  nano-staged.json
Due: none

Clean up browsers mixins
  web/main/browsers.mixins.pcss
Due: none

Fix Svelte issue with CSS nesting
  web/.postcssrc.json
  web/scripts/svelte-nesting-css-fixer.cjs
Due: none

Fix global styles
  pnpm-lock.yaml
  web/.postcssrc.json
  web/main/browsers.mixins.pcss
  web/package.json
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Fix tight parent case for loader
  .eslintrc
  web/stories/section.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Add loading screen
  web/main/main.svelte
  web/pages/loading.svelte
  web/stories/pages/loading.stories.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary empty prop
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Add base card style
  web/main/colors.css
  web/main/common.css
  web/stories/ui/card.stories.svelte
  web/ui/card.svelte
Due: prettier --write, stylelint --fix

Use card in app to fix linters
  web/pages/about.svelte
Due: prettier --write, stylelint --fix

Update JSDom
  core/package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Different appoach for dark color
  web/main/colors.css
Due: stylelint --fix

Use inset shadow instead of border
  web/main/colors.css
  web/ui/card.svelte
Due: prettier --write, stylelint --fix

Allow to test multiple pseudostates in the same story
  pnpm-lock.yaml
  web/.postcssrc.json
  web/.storybook/main.ts
  web/package.json
  web/stories/section.svelte
Due: prettier --write, stylelint --fix

Add button
  web/main/colors.css
  web/main/common.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/card.svelte
Due: prettier --write, stylelint --fix

Add click event to button
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Use button on page to fix linter
  web/pages/profile.svelte
Due: prettier --write, stylelint --fix

Avoid PostCSS 7 because of security issue
  package.json
  pnpm-lock.yaml
Due: none

Fix secutiry issue by updating PostCSS plugin
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Fix pseudo-state class name
  web/.postcssrc.json
  web/stories/section.svelte
Due: prettier --write, stylelint --fix

Remove esbuild dublication my moving from tsm to tsx
  nano-staged.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  scripts/every
  web/package.json
Due: none

Lock pnpm version by package.engines
  package.json
  scripts/check-versions.ts
Due: none

Sync html lang with locale store
  web/index.html
  web/main/index.ts
Due: none

Add icons to buttons
  pnpm-lock.yaml
  web/package.json
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Fade out hover colors
  web/main/colors.css
Due: stylelint --fix

Fix adding .is-pseudo-where on :where()
  web/.postcssrc.json
Due: none

Add placeholder for better loading experience
  web/index.html
  web/main/index.ts
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Clean up start script
  web/main/browser.ts
  web/main/index.ts
Due: none

Be ready for RTL translations
  pnpm-lock.yaml
  web/.stylelintrc
  web/main/index.css
  web/package.json
  web/ui/loader.svelte
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Change navbar padding by adding/removing element from DOM
  web/main/browser.ts
  web/main/index.css
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Add start page design with page title and card componentns
  core/messages/start/en.ts
  web/main/common.css
  web/main/index.css
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
  web/stories/section.svelte
  web/stories/ui/button.stories.svelte
  web/stories/ui/card.stories.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/button.svelte
  web/ui/card-actions.svelte
  web/ui/card-title.svelte
  web/ui/page-title.svelte
  web/ui/paragraph.svelte
Due: prettier --write, stylelint --fix

Fix CI warning
  web/pages/profile.svelte
Due: prettier --write, stylelint --fix

Make card smaller
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Prevent creating too many intervals
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
