Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Hide menu for signup warning step
  core/pages/common.ts
  core/pages/signup.ts
  core/test/pages/signup.test.ts
  web/main/main.svelte
  web/pages/signup.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add P3 colors for accent elements to make them more pop
  web/main/colors.css
Due: stylelint --fix

Make all save-password options with thge same size
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Add not found page
  core/comfort.ts
  core/index.ts
  core/messages/index.ts
  core/messages/not-found/en.ts
  core/modes.ts
  core/router.ts
  core/test/modes.test.ts
  core/test/router.test.ts
  scripts/check-messages.ts
  web/.size-limit.json
  web/main/browser.ts
  web/main/colors.css
  web/main/main.svelte
  web/nginx.conf
  web/pages/not-found.svelte
  web/public/404.html
  web/public/500.html
  web/stories/pages/not-found.stories.svelte
  web/ui/page-action.svelte
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Improve recovery email
  core/messages/auth/en.ts
  core/pages/signup.ts
Due: none

Combine similar button cases
  web/stories/section.svelte
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary anymore border
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Add example of Input with main background
  web/stories/ui/input.stories.svelte
Due: prettier --write, stylelint --fix

Increase margin for thin page
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Center 404 page on mobile
  web/pages/not-found.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Use more clear names
  web/pages/not-found.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Move to rem units in sizes and make font a little bigger on phones
  web/.stylelintrc.json
  web/main/colors.css
  web/main/fonts.css
  web/main/index.css
  web/main/loader.css
  web/main/sizes.css
  web/stories/section.svelte
  web/ui/button.svelte
  web/ui/error.svelte
  web/ui/icon.svelte
  web/ui/input.svelte
  web/ui/label.svelte
  web/ui/navbar.svelte
  web/ui/note.svelte
  web/ui/output.svelte
  web/ui/page-action.svelte
  web/ui/page-icon.svelte
  web/ui/paper.svelte
  web/ui/stack.svelte
  web/ui/thin-page.svelte
  web/ui/title.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Fix few regression after migration to rem
  web/main/index.css
  web/main/loader.css
  web/nginx.conf
Due: stylelint --fix

Tune mobile version
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Tune mobile view a little more
  web/main/index.css
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

feat:CopyButton-to-Output-Control
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add one extra host to preview CI
  .github/workflows/preview-prepare.yml
Due: none

ui improvements for the button
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

adding story test and a triggerCopy function to simulate clicks
  web/stories/ui/output.stories.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add docs to icon
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Simplify future multiple buttons by moving common code to Clickable
  web/ui/button.svelte
  web/ui/clickable.svelte
Due: prettier --write, stylelint --fix

Add helpers to work with location hash
  web/stores/url-router.ts
Due: none

Remove unnecessary DOM attribute
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Use default value for property instead of setting them on root
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Allow to call stopRefreshing() before starting it to use it in visual tests
  core/refresh.ts
  core/test/refresh.test.ts
Due: none

Move PostCSS config and plugins to ESM
  web/postcss.config.cts
  web/postcss.config.ts
  web/postcss/html-keeper.ts
  web/postcss/mixins/clickable.pcss
  web/postcss/pseudo-classes.ts
  web/postcss/svelte-nesting-css-fixer.ts
  web/postcss/theme-classes.ts
  web/test/theme-classes.test.ts
Due: none

Add PostCSS mixins plugin and move clickable styles to mixin
  package.json
  pnpm-lock.yaml
  web/package.json
  web/postcss.config.ts
  web/postcss/mixins/clickable.pcss
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add syntax sugar for color changes
  web/.stylelintrc.json
  web/main/index.css
  web/postcss.config.ts
  web/postcss/mixins/background.pcss
  web/postcss/tune-color.ts
  web/stories/section.svelte
  web/ui/button.svelte
  web/ui/input.svelte
  web/ui/note.svelte
  web/ui/output.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Use only custom properties for colors
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Update postcss-mixins to fix types
  pnpm-lock.yaml
  web/package.json
Due: none

Fix CSS custom prop usage script with new --tune-color() syntax and var() with default value
  web/postcss/props-checker.ts
Due: none

Add navbar styles
  web/.size-limit.json
  web/.stylelintrc.json
  web/main/browser.ts
  web/main/colors.css
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar.svelte
  web/ui/navbar/fireplace.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/progress.svelte
Due: prettier --write, stylelint --fix

Add more stories for navbar
  web/.stylelintrc.json
  web/stories/pages/start.stories.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Use width: stretch since it is a little more stable
  web-archive/ui/text-field.svelte
  web/main/index.css
  web/ui/button.svelte
  web/ui/input.svelte
  web/ui/output.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Simplify button padding
  web/ui/button.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Add other submenu
  core/messages/navbar/en.ts
  core/router.ts
  web/main/main.svelte
  web/ui/navbar.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Reduce JS bundle size by removing unnused translations by moving marking their constructors as pure calls
  pnpm-lock.yaml
  web/package.json
  web/vite.config.ts
Due: none

Use only commonMessages in pages to tree-shake more from core bundle
  core/messages/auth/en.ts
  core/messages/common/en.ts
  core/pages/start.ts
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Remove rollup plugins by adding tree-shaking marker on Nano Stores I18n
  core/package.json
  pnpm-lock.yaml
  web/package.json
  web/vite.config.ts
Due: none

Update dependencies
  .devcontainer/Dockerfile
  api/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none
