Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Fix app loading
  core/post.ts
  core/test/post.test.ts
Due: none

Simplify comment
  landings/scripts/screenshots.ts
Due: none

Always show an error on app fail, do not draw infinite loader
  core/current-page.ts
  core/errors.ts
  core/messages/fatal/en.ts
  core/pages/fatal.ts
  core/test/pages/fatal.test.ts
  web/main/index.ts
  web/main/main.svelte
  web/pages/fatal.svelte
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Shorter text
  core/messages/fatal/en.ts
Due: none

Update Privacy Policy
  docs/privacy.md
Due: none

Insert changed time automatically
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/server.yml
  docs/privacy.md
Due: none

Improve landing loading
  landings/layout/layout.css
Due: stylelint --fix

Insert changed time automatically
  landings/vite/docs.ts
Due: none

Fix visible guest/user switch on landing
  landings/layout/layout.html
  landings/layout/layout.js
  landings/root/root.html
  web/nginx.conf
  web/scripts/generate-csp.ts
Due: none

Improve landing loading experience
  landings/root/root.css
  landings/root/root.js
  web/nginx.conf
Due: stylelint --fix

Improve AAGUIDs DB update CLI output
  server/aaguids/update.ts
Due: none

Update dependencies to fix audit error
  .devcontainer/Dockerfile
  README.md
  api/http/utils.ts
  api/validators/utils.ts
  core/package.json
  extension/package.json
  landings/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/aaguids/commit.lock
  server/lib/http.ts
  server/package.json
  web/.browserslistrc
  web/Dockerfile
  web/package.json
Due: none

Improve CSS readability by avoiving rare 3-values props in CSS
  landings/layout/docs.css
  landings/root/root.css
  web/nginx.conf
  web/public/404.html
  web/public/500.html
  web/ui/formatted-text.svelte
  web/ui/navbar/index.svelte
  web/ui/paper.svelte
  web/ui/posts-numbers.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Reduce confussion because of many steps to save backup password
  core/messages/auth/en.ts
  core/pages/cloud.ts
  core/pages/sign-up.ts
  core/test/auth.test.ts
  core/test/pages/cloud.test.ts
  core/test/pages/sign-up.test.ts
  web/lib/password.ts
  web/main/environment.ts
  web/pages/cloud.svelte
  web/pages/sign-up.svelte
Due: prettier --write, stylelint --fix

Improve passkey naming on name conflict to start postfix from 2 instead of 1
  core/test/pages/cloud.test.ts
  server/lib/webauthn.ts
  server/test/passkeys.test.ts
Due: none

Render time for today sessions
  core/format.ts
  core/test/format.test.ts
  web/pages/cloud.svelte
  web/stories/pages/cloud.stories.svelte
Due: prettier --write, stylelint --fix

Fix joined button with different height
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Show full time in sessions/passkey popup
  web/popups/passkey.svelte
  web/popups/session.svelte
Due: prettier --write, stylelint --fix

Add UI for PWA
  core/messages/about/en.ts
  web/global.d.ts
  web/pages/about.svelte
  web/stores/install.ts
  web/stories/pages/about.stories.svelte
Due: prettier --write, stylelint --fix

Be sure that PWA will use latest version of the app
  web/nginx.conf
  web/public/manifest.webmanifest
Due: none

Add warning about staging server
  core/messages/cloud/en.ts
  core/pages/cloud.ts
  core/test/pages/cloud.test.ts
  web/pages/cloud.svelte
  web/stories/pages/cloud.stories.svelte
Due: prettier --write, stylelint --fix

Add links tester
  web/pages/about.svelte
  web/public/link-test.html
Due: prettier --write, stylelint --fix

Fix PWA in-app links
  core/messages/interface/en.ts
  web/global.d.ts
  web/main/browser.ts
  web/pages/interface.svelte
  web/stores/links.ts
  web/stories/pages/interface.stories.svelte
  web/stories/ui/switch.stories.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Faster code
  web/main/browser.ts
Due: none

Tune new password design
  web/pages/cloud.svelte
Due: prettier --write, stylelint --fix

Fix ThinPage with popups
  web/stories/popups/passkey.stories.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Fix post with align images
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Set theme_color to use for bottom panel in PWA
  web/main/colors.css
  web/public/manifest.webmanifest
Due: stylelint --fix

Add viewport-fit=cover
  web/app.html
  web/main/index.css
  web/main/sizes.css
  web/public/404.html
  web/public/500.html
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
  web/ui/popupable-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Add OG image
  landings/README.md
  landings/layout/layout.html
  landings/og/og.css
  landings/og/og.html
  landings/package.json
  landings/root/root.html
  landings/vite.config.ts
  landings/vite/images.ts
  landings/vite/og.ts
  pnpm-lock.yaml
  web/.size-limit.json
  web/app.html
  web/vite.config.ts
Due: stylelint --fix

Fix relative URLs in feeds
  core/lib/html.ts
  core/loader/atom.ts
  core/loader/common.ts
  core/loader/rss.ts
  core/popups/feed.ts
  core/test/loader/atom.test.ts
  core/test/loader/rss.test.ts
  core/test/utils.ts
Due: none

Fix broken DB on feeds page reload
  core/pages/feeds.ts
  core/test/pages/feeds.test.ts
Due: none

Add a button to remove local DB on fatal carsh
  web/demo/index.ts
  web/main/database.ts
  web/main/environment.ts
  web/pages/fatal.svelte
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Fix CI tests
  loader-tests/utils.ts
Due: none

Increase size limit
  web/.size-limit.json
Due: none

Remove style for RSS and allow <picture>
  core/lib/html.ts
  core/loader/common.ts
  core/test/lib/html.test.ts
  core/test/loader/atom.test.ts
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Clran up agents instructions
  AGENTS.md
Due: none

Fix busy page story
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Fix feedsByCategories story
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Normalize image URLs in refresh only, clean trackers
  core/lib/html.ts
  core/loader/atom.ts
  core/loader/common.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/post.ts
  core/test/lib/html.test.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
  core/test/post.test.ts
  web/popups/post.svelte
  web/stories/ui/formatted-text.stories.svelte
  web/ui/feed/post.svelte
  web/ui/formatted-text.svelte
  web/ui/post.svelte
Due: prettier --write, stylelint --fix
