Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Avoid too many m-dash
  core/messages/auth/en.ts
Due: none

More direct style
  core/messages/common/en.ts
Due: none

Avoid m-dash
  core/messages/profile/en.ts
Due: none

Fix Input#oninput type
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix code formatting
  core/messages/auth/en.ts
  core/messages/common/en.ts
  core/messages/profile/en.ts
  core/messages/settings/en.ts
Due: none

Fix tests after messages changes
  core/test/pages/signup.test.ts
  core/test/pages/start.test.ts
Due: none

Add LLM guide
  AGENTS.md
Due: none

Fix preview cleaning
  .github/workflows/preview-clean.yml
  .github/workflows/preview-deploy.yml
  scripts/prepare-google-cloud.sh
Due: none

Add add page states
  web/pages/add.svelte
  web/stories/pages/add.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Fix Chromatic by copying styles between #main and #storybook-root
  web/.storybook/preview-head.html
  web/main/index.css
Due: stylelint --fix

Fix Markdown rules in agents guide
  AGENTS.md
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/visual.yml
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/.size-limit.json
  web/Dockerfile
  web/package.json
Due: none

Fix page icons
  core/messages/add/en.ts
  web/main/colors.css
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Fix storybook
  web/.storybook/preview-head.html
  web/stories/section.svelte
  web/stories/ui/input.stories.svelte
Due: prettier --write, stylelint --fix

Add errors to add page
  core/messages/common/en.ts
  web/pages/add.svelte
  web/pages/start.svelte
  web/stories/ui/rich-text.stories.svelte
  web/ui/error.svelte
  web/ui/input.svelte
  web/ui/placeholder.svelte
  web/ui/rich-text.svelte
Due: prettier --write, stylelint --fix

Prevent pushing broken types
  nano-staged.json
Due: none

Fix types
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Fix tests after message update
  core/test/pages/start.test.ts
Due: none

Fix pill button style on Chrome
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix compatibility with Nano Stores Router
  core/router.ts
  core/test/router.test.ts
Due: none

Show invalid field on missed feed
  web/pages/add.svelte
Due: prettier --write, stylelint --fix

Fix big font for extra big screens
  web/main/sizes.css
Due: stylelint --fix

Change target browsers to increase coverage while removing dead browsers like QQ
  web/.browserslistrc
Due: none

Prevent changing router too often for better performance and less race condition issues
  core/router.ts
Due: none

Add API to re-set popup
  web/stores/url-router.ts
Due: none

Add API to highlight the current feed candidate and fix openning to popups on refresh
  core/pages/add.ts
  core/test/pages/add.test.ts
Due: none

Unify dark and light flat control border
  web/main/colors.css
Due: stylelint --fix

Prevent loosing popups in Storybook
  core/pages/add.ts
  web/stories/environment.ts
Due: none

Add helper to set popups
  core/pages/add.ts
  core/router.ts
  core/test/router.test.ts
Due: none

Fix setting mobile mode in Storybook
  web/stories/environment.ts
Due: none

Fix Stylelint warning by using token for 1px
  web/.stylelintrc.json
  web/main/index.css
  web/main/sizes.css
Due: stylelint --fix

Add feeds list
  web/pages/add.svelte
  web/stories/pages/add.stories.svelte
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Shorter setting text
  core/messages/settings/en.ts
Due: none

Add refresh/back button animation
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Be sure that mobile set before router
  web/main/environment.ts
Due: none

Do not render :active on mobile to prevent ugly animation
  web/ui/navbar/button.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Add jump to feeds list on pressing Enter in URL field
  web/pages/add.svelte
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Remove now unnecessary coverage ignore comments
  core/lib/download.ts
  core/pages/add.ts
  core/router.ts
Due: none

Fix calling waitLoading() when store already has such value
  core/lib/stores.ts
Due: none

Allow to fail in network request
  core/request.ts
Due: none
