Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Enable staging database debug
  .github/workflows/server.yml
Due: none

Use debug env variable in database
  server/db/index.ts
Due: none

Try to avoid broken staging DB
  server/db/index.ts
Due: none

Fix focus indicator in navbar submenu
  web/ui/navbar.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Add focus jump logic in navbar
  web/main/browser.ts
  web/ui/navbar.svelte
  web/ui/navbar/item.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Move code to Page component
  web/ui/page.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Fix mobile view with navbar
  web/main/index.css
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Fix showing navbar menu opn mobile
  core/menu.ts
  core/router.ts
Due: none

Fix links support in Button
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

SImplify Clickable types and reduce number of unnecessary listeners
  web/ui/button.svelte
  web/ui/clickable.svelte
Due: prettier --write, stylelint --fix

Fix types
  web/ui/button.svelte
  web/ui/clickable.svelte
Due: prettier --write, stylelint --fix

Remove nested submenu from focus ring after using
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Move profile to the bottom
  core/router.ts
Due: none

Add categories to navbar
  core/menu.ts
  core/test/menu.test.ts
  pnpm-lock.yaml
  web/main/fonts.css
  web/package.json
  web/ui/clickable.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Fix :focus to menu when it is off-menu page
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Use Stack for paddings between Input/Output
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/input.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Pass all props from Button to Clickable
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add about page
  api/index.ts
  core/messages/about/en.ts
  core/messages/index.ts
  core/messages/settings/en.ts
  core/pages/about.ts
  core/pages/index.ts
  core/test/pages/about.test.ts
  web/.size-limit.json
  web/main/main.svelte
  web/pages/about.svelte
  web/stories/pages/about.stories.svelte
Due: prettier --write, stylelint --fix

Move normal pages to top
  web/pages/not-found.svelte
  web/pages/signup.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Fix 404 page with navbar
  web/pages/not-found.svelte
Due: prettier --write, stylelint --fix

Typo
  web/pages/not-found.svelte
Due: prettier --write, stylelint --fix

Remove padding in Navbar story to be closer to real page and show real content in Scroll story
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Add sync status to Navbar
  core/client.ts
  core/messages/navbar/en.ts
  core/test/menu.test.ts
  package.json
  pnpm-lock.yaml
  server/package.json
  web/.size-limit.json
  web/main/colors.css
  web/package.json
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar.svelte
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Reduce messesages
  core/messages/navbar/en.ts
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Simplify RegExp
  api/validators/auth.ts
  scripts/update-env.ts
Due: none

Add saving sync status state
  core/messages/navbar/en.ts
  pnpm-lock.yaml
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Fix paddings in story
  web/stories/section.svelte
  web/stories/ui/input.stories.svelte
Due: prettier --write, stylelint --fix

Add a way to run Chromatic manually
  .github/workflows/visual.yml
Due: none

Make Chromatic action faster
  .github/workflows/visual.yml
Due: none

Try to fix state update issue in Chromatic
  web/.storybook/preview.ts
Due: none

Fix NotFound page story
  web/stories/pages/not-found.stories.svelte
Due: prettier --write, stylelint --fix

Fix sync status on Chromatic
  web/.storybook/preview.ts
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Allow to use browser font size on the app
  web/main/index.css
Due: stylelint --fix

Do not ruin validation on blur event for empty field
  web/ui/form.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add Card to simplify TwoOptionsPage
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/card.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Bigger phone for start story to test sticky bottom
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Add ESLint cache to ignore
  .gitignore
Due: none

Update dependencies
  .devcontainer/Dockerfile
  core/loader/atom.ts
  core/loader/rss.ts
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/db/index.ts
  web/Dockerfile
  web/package.json
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Remove ping from Dev Container since it requires special permission
  .devcontainer/Dockerfile
Due: none

Move eslint cache to local gitignore
  .gitignore
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
