Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Increase font size to avoid zoom issue on iPhone
  web/main/fonts.css
  web/ui/title.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Sync font token with color token
  web/main/fonts.css
  web/main/index.css
Due: stylelint --fix

Re-use code between pages with mixins
  core/pages/mixins/custom-server-field.ts
  core/pages/signup.ts
  core/pages/start.ts
Due: none

Add mixins to docs
  core/README.md
Due: none

Fix staging/development favicon for Storybook
  web/.storybook/main.ts
  web/.storybook/manager-head.html
Due: none

Fix Storybook generation on guest pages
  web/.storybook/preview.ts
  web/stories/environment.ts
  web/stories/pages/signup.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Avoid page jumps on form size changes
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Update Node.js
  .devcontainer/Dockerfile
  .node-version
  proxy/Dockerfile
  server/Dockerfile
Due: none

Fix mobile view
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Try to fix mobile bottom position
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Update min button height
  web/ui/button.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Allow to install new Node.js with cache is empty
  .github/workflows/audit.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/visual.yml
Due: none

Add Node.js host to allow-list to other relevant tasks
  .github/workflows/proxy.yml
  .github/workflows/server.yml
Due: none

Sync Google Cloud allow-list for CI
  .github/workflows/server.yml
Due: none

Another way to fix min height on mobile browsers with auto-hide UI
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Sync pages width
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Redirect to profile is sign-in user try to open sign-up
  core/pages/signup.ts
  core/test/pages/signup.test.ts
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Fix updating changes between projects by changing pnpm config
  .npmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Return back to pglite file DB on staging
  .github/workflows/server.yml
Due: none

Fix flucky test
  server/test/sync.test.ts
Due: none

Fix warning by normalizing code style in Dockerfile
  proxy/Dockerfile
  server/Dockerfile
Due: none

Try to fix pglite on staging
  .github/actions/deploy/action.yml
  .github/workflows/server.yml
  server/db/index.ts
Due: none

Add another host to CI allow-list
  .github/workflows/server.yml
Due: none

Add way to show PGLite debug messages on the server
  server/db/index.ts
  server/lib/config.ts
Due: none

Fix out-of-memory server error
  .github/workflows/server.yml
Due: none

Fix config parsing
  server/lib/config.ts
  server/test/config.test.ts
Due: none

Update dependencies
  extension/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Fix server debug
  server/db/index.ts
Due: none

Try to fix staging deploy by having only one running revision
  .github/actions/deploy/action.yml
  .github/workflows/server.yml
Due: none

Close db carefully
  server/db/index.ts
  server/index.ts
  server/lib/exit.ts
Due: none

Fix test coverage
  server/lib/exit.ts
Due: none

Update Svelte
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Go back to dump logic for staging
  .github/workflows/server.yml
  server/db/index.ts
Due: none

Another way to fix test coverage
  server/.c8rc.json
  server/lib/exit.ts
Due: none

Move accurate way to dump previous data to FS
  .github/actions/deploy/action.yml
  .github/workflows/server.yml
  server/.c8rc.json
  server/db/index.ts
  server/modules/dump.ts
Due: none

Add missed server to CI allow-list
  .github/workflows/server.yml
Due: none

Add new line to the end of HTTP response for better use in terminal
  server/modules/dump.ts
Due: none

Update Logux Server to reduce dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update tests after updating Logux Server
  server/test/auth.test.ts
Due: none

Try to fix broken width in visual tests
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix
