Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Sync app preloader colors with app
  web/index.html
  web/nginx.conf
Due: none

Fix duplicated global CSS directives
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix app loading first time
  core/menu.ts
  core/test/menu.test.ts
  core/test/utils.ts
  web/main/index.ts
Due: none

Fix Stylelint & Prettier compatibility and syntax highlight of Stylelint config
  .prettierignore
  nano-staged.json
  web/.stylelintrc.json
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Stop having CI issues with ESLint on Svelte files
  nano-staged.json
Due: none

Make dark background lighter again
  web/main/colors.css
Due: stylelint --fix

Add empty start page and clean up smooth loader code
  core/index.ts
  core/lib/stores.ts
  core/test/utils.test.ts
  web/main/index.ts
  web/main/main.svelte
  web/pages/busy.svelte
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
  web/ui/two-options.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Update size limit assets list
  web/.size-limit.json
Due: none

Improve pressed button style
  web/main/colors.css
Due: stylelint --fix

Fix Input focus style
  web/main/index.css
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix Input size
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add CTA button variant
  web/main/colors.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add text selection style
  web/main/colors.css
  web/main/index.css
Due: stylelint --fix

Sync Button height with Input
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix big button on small screen
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add design for start page
  core/messages/start/en.ts
  web/main/colors.css
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
  web/ui/actions.svelte
  web/ui/description.svelte
  web/ui/two-options.svelte
Due: prettier --write, stylelint --fix

Update size limit
  web/.size-limit.json
Due: none

Add page title
  web/pages/start.svelte
  web/ui/page.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/page.svelte
Due: prettier --write, stylelint --fix

Use page instance instead of router in web
  core/messages/start/en.ts
  core/pages/index.ts
  core/pages/start.ts
  core/test/pages/start.test.ts
  web/main/main.svelte
  web/pages/start.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add validation to login form
  core/messages/common/en.ts
  core/test/validators.test.ts
  core/validators.ts
  web/.size-limit.json
  web/main/colors.css
  web/pages/start.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add GitHub token permissions to CI tasks
  .github/workflows/audit.yml
  .github/workflows/preview-close.yml
  .github/workflows/test-loaders.yml
Due: none

Do not block PR by code style issues
  eslint.config.ts
  package.json
Due: none

Add CI task to auto-fix code style issues
  .github/workflows/format.yml
Due: none

Fix loader tests since LJ changed default feed URL
  loader-tests/feeds.yml
Due: none

Do not block PR because of Svelte props order like any other code style rule
  eslint.config.ts
Due: none

Add sign up page template
  core/pages/index.ts
  core/router.ts
  core/test/router.test.ts
  web/pages/start.svelte
  web/stores/router.ts
Due: prettier --write, stylelint --fix

Update Nano Stores Persitant and other dependencies
  core/package.json
  extension/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Move warn for order rules to ESLint config
  core/filter.ts
  core/test/download.test.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/update-env.ts
  web/main/environment.ts
  web/scripts/generate-csp.ts
Due: none

Makr the link between inner and outer radius more clear
  web/ui/button.svelte
  web/ui/two-options.svelte
Due: prettier --write, stylelint --fix

Move styles only for screen reader to global class
  web/main/index.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add aria-live for Input error messages
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary aria attribuites from Loader
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Fix ESLint warning on new global class
  eslint.config.ts
Due: none

Unify sign in and sign up HTTP API
  api/http/signup.ts
  server/modules/auth.ts
  server/test/auth.test.ts
  server/test/sync.test.ts
Due: none

Remove temporary type hack
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Fix linter warnings
  web/pages/busy.svelte
  web/pages/start.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Do not do a lot of request processing in API package
  api/http/signin.ts
  api/http/signout.ts
  api/http/signup.ts
  api/http/utils.ts
  api/index.ts
  server/test/auth.test.ts
  server/test/sync.test.ts
  server/test/utils.ts
Due: none

Fix long buttons
  web/ui/button.svelte
Due: prettier --write, stylelint --fix
