Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Improve a11y
  core/messages/navbar/en.ts
  web/ui/navbar/button.svelte
  web/ui/navbar/dot.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Prevent post duplicated
  core/log.ts
  core/post.ts
  core/test/log.test.ts
  core/test/post.test.ts
Due: none

Bulk read post in list too
  web/pages/feeds/list.svelte
  web/stories/pages/feeds.stories.svelte
Due: prettier --write, stylelint --fix

Explain --min-size
  web/main/sizes.css
Due: stylelint --fix

Add RadioList control
  web/stories/ui/radio-list.stories.svelte
  web/ui/radio-list.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix <Note> padding for <Button> case
  web/pages/cloud.svelte
  web/pages/storage.svelte
  web/stories/ui/note.stories.svelte
  web/ui/note.svelte
Due: prettier --write, stylelint --fix

Add request method settings
  core/menu.ts
  core/messages/network/en.ts
  core/settings.ts
  web/README.md
  web/main/environment.ts
  web/main/extension.ts
  web/pages/network.svelte
  web/stories/pages/network.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Smaller mark as read button
  web/pages/feeds/list.svelte
Due: prettier --write, stylelint --fix

Add tools for LLM
  .devcontainer/Dockerfile
Due: none

Fix code format conflict between tools
  web/.stylelintrc.json
  web/ui/radio-list.svelte
Due: prettier --write, stylelint --fix

Use extension for network by default
  core/settings.ts
  core/test/settings.test.ts
  web/main/environment.ts
  web/pages/network.svelte
  web/stores/request-method.ts
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Show welcome screeen for demo users
  core/feed.ts
  core/test/feed.test.ts
Due: none

Cross-browser extension
  core/messages/network/en.ts
  docs/browser.md
  extension/.env
  extension/README.md
  extension/_locales/en/messages.json
  extension/api.ts
  extension/background.ts
  extension/build.ts
  extension/config.ts
  extension/content.ts
  extension/manifest.config.ts
  extension/manifest.ts
  extension/options.html
  extension/options.ts
  extension/package.json
  extension/vite-env.d.ts
  extension/vite.config.ts
  pnpm-lock.yaml
  web/main/extension.ts
  web/pages/network.svelte
  web/stores/request-method.ts
  web/stories/pages/network.stories.svelte
  web/stories/scene.svelte
  web/tsconfig.json
Due: prettier --write, stylelint --fix

Fix Switch animation on page openning in Chrome
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Fix settings menu
  core/messages/interface/en.ts
  web/pages/interface.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Add icons to extensions and generate 192 from 512 in web
  extension/build.ts
  extension/manifest.ts
  extension/package.json
  pnpm-lock.yaml
  web/.gitignore
  web/package.json
  web/public/icon-192.png
  web/vite.config.ts
Due: none

Clarify for LLM the separation between devDependencies and dependencies
  README.md
Due: none

Improve demo mdoe
  core/demo.ts
  core/index.ts
  core/messages/cloud/en.ts
  core/messages/demo/en.ts
  core/messages/import/en.ts
  core/messages/index.ts
  core/messages/storage/en.ts
  core/pages/import.ts
  core/pages/storage.ts
  core/test/demo.test.ts
  core/test/pages/import.test.ts
  core/test/pages/storage.test.ts
  web/nginx.conf
  web/pages/add.svelte
  web/pages/cloud.svelte
  web/pages/import.svelte
  web/pages/start.svelte
  web/pages/storage.svelte
  web/public/copy-demo-db.html
  web/stories/pages/add.stories.svelte
  web/stories/pages/import.stories.svelte
  web/ui/demo-note.svelte
  web/vite.config.ts
Due: prettier --write, stylelint --fix

Improve the note after extension install
  core/messages/network/en.ts
  web/pages/network.svelte
Due: prettier --write, stylelint --fix

Improve extension steps for Chrome
  extension/README.md
Due: none

Open next page after finishing reading the curren one
  core/pages/feeds.ts
  core/post.ts
  core/readers/common.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/test/pages/feeds.test.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
Due: none

Use busy loader during the import
  core/messages/import/en.ts
  core/pages/import.ts
  core/test/pages/import.test.ts
  loader-tests/check-opml.ts
  web/pages/import.svelte
  web/stories/pages/import.stories.svelte
Due: prettier --write, stylelint --fix

Remove wrong docs
  docs/browser.md
Due: none

Fix the extension
  extension/README.md
  extension/background.ts
  extension/build.ts
  extension/manifest.ts
  extension/package.json
Due: none

Fix openning mobile menu on desktop
  core/pages/add.ts
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix export and re-import
  core/pages/export.ts
  core/pages/import.ts
  core/test/pages/import.test.ts
Due: none

New Svelte type checking is pretty reliable
  .github/workflows/main.yml
Due: none

Clean up code
  core/lib/html.ts
  core/pages/export.ts
Due: none

Use warning style for warning in busy
  web/pages/busy.svelte
Due: prettier --write, stylelint --fix

Fix Firefox extension requirements
  .devcontainer/Dockerfile
  extension/build.ts
  extension/manifest.ts
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .github/actions/init-node/action.yml
  AGENTS.md
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/.browserslistrc
  web/Dockerfile
  web/nginx.conf
Due: none

Remove unnecessary wrapper
  web/lib/clipboard.ts
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add loud error on issues with database in the browser
  core/client.ts
  core/errors.ts
  core/messages/fatal/en.ts
  core/pages/fatal.ts
  core/test/pages/fatal.test.ts
  web/main/environment.ts
  web/pages/fatal.svelte
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Shorter message
  core/messages/fatal/en.ts
Due: none

Remove EM tools
  AGENTS.md
Due: none

Do not show menu on fatal errors whene page changes would not help
  core/pages/fatal.ts
  core/test/pages/fatal.test.ts
Due: none

Fix LLM background tasks
  AGENTS.md
Due: none

Fix Safari SQLite support
  core/errors.ts
  core/messages/fatal/en.ts
  core/package.json
  core/pages/fatal.ts
  core/test/pages/fatal.test.ts
  pnpm-lock.yaml
  web/.size-limit.json
  web/README.md
  web/main/database.ts
  web/main/environment.ts
  web/main/sahpool-worker.ts
  web/package.json
  web/pages/fatal.svelte
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
