Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Export helper to be used in other files too
  core/feed.ts
  core/utils/stores.ts
Due: none

Clean up code from removed types
  core/request.ts
Due: none

Add stories for preview page states
  web/pages/preview.svelte
  web/stories/environment.ts
  web/stories/pages/preview.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Fix Chromatic
  web/package.json
Due: none

Update pnpm
  .tool-versions
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update Vite
  pnpm-lock.yaml
  web/package.json
Due: none

Update Storybook
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update Stylelint and temporary removed stylelint-use-logical until Stylelint 16 support
  package.json
  pnpm-lock.yaml
  web/.stylelintrc
  web/package.json
Due: none

Add app description
  README.md
Due: none

Fix scroll in centeral part of navbar for future long feeds list
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix cutting :focus in navbar
  web/ui/navbar/index.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Update ESLint TS
  package.json
  pnpm-lock.yaml
Due: none

Less hacky way to add text compensation in card
  web/ui/card-actions.svelte
  web/ui/card.svelte
  web/ui/paragraph.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Add story Section support for input
  web/stories/section.svelte
Due: prettier --write, stylelint --fix

Add UiTextField
  core/messages/common/en.ts
  core/messages/preview/en.ts
  pnpm-lock.yaml
  web/main/colors.css
  web/main/common.css
  web/package.json
  web/stories/section.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Add 2 side panel
  web/pages/organize/feed.svelte
  web/pages/organize/index.svelte
  web/pages/preview.svelte
  web/ui/settings.svelte
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Fix types until we will move page to new components
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Use new TextField to fix linter
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Fix linter
  web/.size-limit.json
  web/main/common.css
Due: stylelint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
  proxy/package.json
  web/package.json
Due: none

Improve preview page style
  core/messages/preview/en.ts
  web/pages/preview.svelte
  web/ui/text-field.svelte
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Add max width for 2-steps page
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Do not throw if CSS var was used only in stories to be able to prepare component before using in app
  pnpm-lock.yaml
  web/package.json
  web/postcss/vars-cleaner.ts
  web/scripts/clean-vars.ts
Due: none

Remove unnecessary for now event
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Fix navbar regression
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Update ESLint plugin
  package.json
  pnpm-lock.yaml
Due: none

Fix another regression in cutting :focus in navbar
  web/ui/navbar/index.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Improve keyboard reaction on key pressed
  web/lib/hotkeys.ts
  web/ui/button.svelte
  web/ui/navbar/submenu.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix types
  web/lib/hotkeys.ts
Due: none

Move Add into Manage Feeds section in navbar
  core/messages/navbar/en.ts
  core/router.ts
  web/ui/navbar/index.svelte
  web/ui/navbar/manage.svelte
  web/ui/two-steps.svelte
Due: prettier --write, stylelint --fix

Unify navbar messages location
  core/messages/navbar/en.ts
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix

Do not show help if URL for preview was given
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Use selectors instead of special prop
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix missed part during previous refactring
  web/pages/download.svelte
  web/pages/interface.svelte
Due: prettier --write, stylelint --fix

Move preview loader into card
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Disable rule which is not easy to use with nested syntax
  web/.stylelintrc
Due: none

Add CardLink
  web/.size-limit.json
  web/lib/hotkeys.ts
  web/pages/preview.svelte
  web/stories/pages/preview.stories.svelte
  web/stories/ui/card-link.stories.svelte
  web/ui/card-link.svelte
  web/ui/card-links.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix card link arrow
  web/ui/card-link.svelte
Due: prettier --write, stylelint --fix

Fix loosing input focus on URL input
  web/main/main.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix
