Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Clean up variable name
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Add :focus animation
  web/main/index.css
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Add Chromatic
  .github/workflows/visual.yml
  pnpm-lock.yaml
  web/package.json
Due: none

Run Chromatic daily to save free quota
  .github/workflows/visual.yml
Due: none

Run Chromatic only if there was commit today
  .github/workflows/visual.yml
Due: none

Running 00:00 we will not have commits since it is a new day
  .github/workflows/visual.yml
Due: none

Do not fail CI on visual changes
  .github/workflows/visual.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
  proxy/package.json
  web/package.json
Due: none

Clean up code
  web/stories/ui/button.stories.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/navbar.svelte
  web/ui/page-title.svelte
Due: prettier --write, stylelint --fix

Add hotkeys
  .eslintrc
  web/.size-limit.json
  web/lib/hotkeys.ts
  web/main/colors.css
  web/main/common.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/hotkey.svelte
Due: prettier --write, stylelint --fix

Add format command to unify code style
  LICENSE.md
  README.md
  nano-staged.json
  package.json
  web/package.json
Due: none

Add workflow to check that code style is correct
  .github/workflows/format.yml
Due: none

Run code style check only monthly
  .github/workflows/format.yml
Due: none

Hide hotkeys on mobile and tablets
  web/lib/hotkeys.ts
  web/main/browser.ts
  web/stories/section.svelte
  web/stories/ui/button.stories.svelte
  web/ui/hotkey.svelte
Due: prettier --write, stylelint --fix

Unify CSS Custom Properties names
  web/main/common.css
  web/main/index.css
  web/ui/card-title.svelte
  web/ui/hotkey.svelte
  web/ui/page-title.svelte
Due: prettier --write, stylelint --fix

Test button click handler
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Fix format
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Fix Chromatic task
  .github/workflows/visual.yml
Due: none

Add router to Storybook scene
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Make icons smaller
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Add ability compensate icon by moving it vertically
  web/ui/icon.svelte
Due: prettier --write, stylelint --fix

Fix :focus on two elements standing close to each other
  web/main/index.css
Due: stylelint --fix

Update dependencies
  core/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Fade-out hotkey color
  web/main/colors.css
Due: stylelint --fix

Fix conflict between Storybook themes and slow theme from router mocking
  web/.storybook/preview.ts
  web/stories/scene.svelte
  web/stories/ui/button.stories.svelte
  web/stories/ui/card.stories.svelte
Due: prettier --write, stylelint --fix

Add link button
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Make more visible top line on active button in dark theme
  web/main/colors.css
Due: stylelint --fix

Add slow/fast switcher to menu
  web/main/colors.css
  web/main/main.svelte
  web/stories/scene.svelte
  web/stories/ui/button.stories.svelte
  web/stories/ui/card.stories.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/button.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Fix button hotkey position
  web/ui/hotkey.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Fix switcher edge cases
  web/ui/hotkey.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Update Storybook
  pnpm-lock.yaml
  web/package.json
Due: none

Remove chromatic from dependencies since we are using Github Actions
  pnpm-lock.yaml
  web/package.json
Due: none

Fix code style
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Move to 0-1 value in refreshProgress for simpler usage in <UiLoader>
  core/refresh.ts
  core/test/refresh.test.ts
Due: none

Safer selector without catching aria-current=false
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Add styles for other navbar links
  core/messages/navbar/en.ts
  web/main/colors.css
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Update size limit
  web/.size-limit.json
Due: none

Fix hotkey conflict
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Try to fix CHromatic CI
  .github/workflows/visual.yml
Due: none

Return daily schedule to Chromatic
  .github/workflows/visual.yml
Due: none
