Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Simplify validators to use them in Form
  core/test/validators.test.ts
  core/validators.ts
  web/ui/form.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add button with loader for submitting form
  web/main/loader.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Fix form submit to always use AJAX instead of page reload
  web/ui/form.svelte
Due: prettier --write, stylelint --fix

Show error on form submit
  web/ui/button.svelte
  web/ui/form.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix loader CSS onm production and conflict with CSP headers
  web/nginx.conf
  web/scripts/generate-csp.ts
Due: none

Clean up inline CSS
  web/postcss/html-keeper.cts
Due: none

Fix cleaning old hashes
  web/scripts/generate-csp.ts
Due: none

Improve inline CSS minification
  web/postcss/html-keeper.cts
Due: none

Fix broken CSP hashes
  web/nginx.conf
  web/scripts/generate-csp.ts
Due: none

Remove browser validation since we are doing our own
  web/ui/form.svelte
Due: prettier --write, stylelint --fix

Fix start page visual tests
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Fix missed dependency
  pnpm-lock.yaml
  web/package.json
Due: none

Fix keeping Docker FROM free from tag which have conflict with digest
  .devcontainer/Dockerfile
  scripts/pin-docker.sh
Due: none

Add custom error messages to server HTTP API
  server/lib/http.ts
  server/modules/auth.ts
  server/test/auth.test.ts
Due: none

Fix form submit
  web/ui/form.svelte
Due: prettier --write, stylelint --fix

Use new API for Scene where most of cases will be set by function
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Add low-level API to client core to auth
  core/auth.ts
  core/client.ts
  core/environment.ts
  core/index.ts
  core/lib/http.ts
  core/messages/common/en.ts
  core/package.json
  core/settings.ts
  core/test/auth.test.ts
  core/test/comfort.test.ts
  core/test/production.test.ts
  core/test/router.test.ts
  core/test/settings.test.ts
  core/test/utils.ts
  pnpm-lock.yaml
  server/package.json
  server/test.ts
  server/test/utils.ts
  web/main/environment.ts
  web/stories/environment.ts
Due: none

Use test server builder in server tests to fix coverage, reduce code and test modules conflicts
  server/test/auth.test.ts
  server/test/sync.test.ts
  server/test/utils.ts
Due: none

Move error to separated component
  web/ui/error.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix false negative error of missed CSS props used in inline CSS of HTML
  web/scripts/check-css-props.ts
Due: none

Fix nested TS support since Node.js strip types does not support them
  loader-tests/package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add start page logic
  core/messages/start/en.ts
  core/pages/start.ts
  core/test/auth.test.ts
  core/test/pages/start.test.ts
  web/.size-limit.json
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Fix running loader test from root
  package.json
  pnpm-lock.yaml
Due: none

Add note about Logux server HTTP requests testing
  core/README.md
Due: none

Move mocking into test section
  core/README.md
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/main/index.css
  web/package.json
Due: stylelint --fix

Add italic font
  web/.size-limit.json
  web/main/fonts.css
Due: stylelint --fix

Preload main font to load app faster
  web/index.html
Due: none

Combine warning() and Environment#warn() to simplify code
  core/devtools.ts
  core/download.ts
  core/environment.ts
  core/loader/json-feed.ts
  core/test/pages/add.test.ts
  web/main/environment.ts
Due: none

Unify code style
  core/environment.ts
Due: none

Move all helpers to lib/ folder to reduce number of files in core root
  core/index.ts
  core/lib/html.ts
  core/lib/pagination.ts
  core/lib/validators.ts
  core/readers/list.ts
  core/test/lib/html.test.ts
  core/test/lib/stores.test.ts
  core/test/lib/validators.test.ts
Due: none

Add comments to most of public API in core
  api/README.md
  core/busy.ts
  core/client.ts
  core/comfort.ts
  core/devtools.ts
  core/download.ts
  core/environment.ts
  core/feed.ts
  core/filter.ts
  core/lib/http.ts
  core/lib/queue.ts
  core/lib/stores.ts
  core/loader/utils.ts
  core/opened-popups.ts
  core/posts-list.ts
  core/refresh.ts
  core/request.ts
  core/router.ts
  core/test/utils.ts
  web/main/browser.ts
  web/main/environment.ts
Due: none

Move download to lib/ too since it is not a public API
  core/README.md
  core/devtools.ts
  core/environment.ts
  core/feed.ts
  core/index.ts
  core/lib/download.ts
  core/loader/atom.ts
  core/loader/index.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/loader/utils.ts
  core/pages/add.ts
  core/pages/import.ts
  core/popups/feed-url.ts
  core/refresh.ts
  core/test/lib/download.test.ts
  core/test/lib/html.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/utils.test.ts
Due: none

Add Zed editor to docs
  CONTRIBUTING.md
Due: none

Block fields and button during the form submitting
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/form.svelte
Due: prettier --write, stylelint --fix

Less agressive hover color
  web/main/colors.css
Due: stylelint --fix

Add big button size to use on call to action
  web/pages/start.svelte
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix pill button size
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Sync the top border of options in TwoOptions
  web/ui/two-options.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
