Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/Dockerfile
  web/package.json
Due: none

Do not open multiple popups stack on posts clicks
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Prevent closing new popup on click on another feed
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Move popup and sub-page loaders to center
  web/pages/feeds/index.svelte
  web/popups/loading.svelte
  web/stories/pages/feeds.stories.svelte
  web/stories/scene.svelte
  web/ui/popup.svelte
  web/ui/popupable-page.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Render 404 page on NotFound error in any part of the app
  web/main/main.svelte
Due: prettier --write, stylelint --fix

Prevent feed page width jumps
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Fix popupable page width
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Fix mobile style for popupable page
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Add CLI to force Chromatic test and add a11y tests there
  .github/workflows/visual.yml
  pnpm-lock.yaml
  web/.gitignore
  web/.storybook/main.ts
  web/README.md
  web/package.json
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

Fix popup outside click and openning link list
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Fix stacking popups
  core/router.ts
  core/test/router.test.ts
  web/stores/url-router.ts
  web/ui/feeds.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Fix code coverage
  core/test/router.test.ts
Due: none

Fix click on popup source link
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Improve post links
  core/i18n.ts
  core/lib/html.ts
  core/post.ts
  core/test/post.test.ts
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Improve post popup loading logic to support candidate post
  core/package.json
  core/popups/post.ts
  core/post.ts
  core/test/popups.test.ts
  core/test/popups/post.test.ts
  pnpm-lock.yaml
  web/main/fonts.css
  web/main/main.svelte
  web/popups/post.svelte
  web/ui/formatted-text.svelte
  web/ui/posts.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Update size limit
  web/.size-limit.json
Due: none

Fix bug of mutation router by accident
  core/router.ts
  core/test/router.test.ts
Due: none

Sort feeds by title
  core/menu.ts
Due: none

Add new posts read logic
  core/menu.ts
  core/messages/index.ts
  core/messages/post/en.ts
  core/popups/post.ts
  core/post.ts
  core/readers/list.ts
  core/test/menu.test.ts
  core/test/popups/post.test.ts
  core/test/readers/list.test.ts
  web/.size-limit.json
  web/pages/feeds/list.svelte
  web/popups/post.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Run Chromatic task on workflow changes
  .github/workflows/visual.yml
  web/package.json
Due: none

Fix changes sync between browser tabs
  core/lib/stores.ts
Due: none

Mark post as read on open
  web/lib/visitibility.ts
  web/popups/post.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  core/client.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
  web/package.json
Due: none

Remove read mark from posts list since it takes too much space
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Lock Baseline target browser query for reproducible build
  README.md
  package.json
  web/.browserslistrc
  web/scripts/update-browsers.ts
Due: none

Rename since to from in feeds params since we do not use time
  core/pages/feeds.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/router.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  web/stores/url-router.ts
Due: none

Add Pagination control
  core/lib/pagination.ts
  core/messages/feeds/en.ts
  web/pages/feeds/list.svelte
  web/stories/ui/pagination.stories.svelte
  web/ui/clickable.svelte
  web/ui/pagination.svelte
Due: prettier --write, stylelint --fix

Fix tests
  core/test/readers/list.test.ts
  core/test/router.test.ts
Due: none

Add attention button variant
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/pagination.svelte
Due: prettier --write, stylelint --fix

Add feeds list stories
  web/stories/pages/feeds.stories.svelte
Due: prettier --write, stylelint --fix

Highlight current page
  web/ui/pagination.svelte
Due: prettier --write, stylelint --fix

Auto-scroll page to top
  web/main/browser.ts
Due: none

Auto-format code
  web/stories/loaded-popup.svelte
  web/ui/form.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Fix scroll reset on popup close click
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Move more code to code
  core/router.ts
  core/test/router.test.ts
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Revert "Auto-format code" since it break types
  web/stories/loaded-popup.svelte
  web/ui/form.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Revert Prettier since 3.7 has conflict with prettier-plugin-svelte
  package.json
  pnpm-lock.yaml
Due: none

Disable hidding browser elements to not break bottom menu on android
  web/main/index.css
Due: stylelint --fix

Remove Birman feed from loader tests since it return 504 error
  loader-tests/feeds.yml
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
