Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Resolve naming conflict with state export
  core/environment.ts
  core/messages/storage/en.ts
  core/pages/storage.ts
  core/test/pages/storage.test.ts
  web/main/database.ts
  web/main/environment.ts
  web/main/sahpool-worker.ts
  web/pages/storage.svelte
  web/stories/environment.ts
Due: prettier --write, stylelint --fix

Use default value for reading
  core/schema.ts
  core/test/schema.test.ts
Due: none

Update dependencies to fix sync issues
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  extension/package.json
  landings/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  server/test/sync.test.ts
  web/.browserslistrc
  web/Dockerfile
  web/nginx.conf
  web/package.json
Due: none

Use new `ready` message from Logux protocol and new HTTP APIs
  api/package.json
  core/benchmark.ts
  core/client.ts
  core/package.json
  core/schema.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/index.ts
  server/modules/assets.ts
  server/modules/proxy.ts
  server/package.json
  web/package.json
Due: none

Stabilize tests
  proxy/test/index.test.ts
Due: none

Fix busy loading text
  core/schema.ts
  core/test/log.test.ts
Due: none

Try to make OPFS read more stable
  web/README.md
  web/main/database.ts
  web/main/db-worker.ts
Due: none

Improve debug message of DB issues
  core/client.ts
  core/environment.ts
  core/errors.ts
  core/test/errors.test.ts
  core/test/pages/fatal.test.ts
  web/main/database.ts
Due: none

Add actions loading progress
  api/package.json
  core/client.ts
  core/messages/cloud/en.ts
  core/messages/navbar/en.ts
  core/package.json
  core/schema.ts
  core/test/log.test.ts
  pnpm-lock.yaml
  server/package.json
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Fix server tests
  server/test/utils.ts
Due: none

Fix sign-in breaks
  pnpm-lock.yaml
  web/pages/busy.svelte
Due: prettier --write, stylelint --fix

Tune feed list view and radio list for mobile to be edge-to-edge
  web/stories/pages/feeds.stories.svelte
  web/ui/feed-link.svelte
  web/ui/links.svelte
  web/ui/radio-list.svelte
Due: prettier --write, stylelint --fix

Other way to solve mobile padding issue
  web/main/sizes.css
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Add fatal mobile visual test
  web/stories/pages/fatal.stories.svelte
Due: prettier --write, stylelint --fix

Tune paddings
  web/main/sizes.css
  web/ui/navbar/category.svelte
  web/ui/navbar/item.svelte
  web/ui/page-icon.svelte
  web/ui/popup.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Fix menu icons with refresh icon position lock
  web/main/sizes.css
  web/ui/navbar/category.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Fix card size after tunning
  web/ui/card.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Improve tests and update Logux
  core/test/log.test.ts
  pnpm-lock.yaml
Due: none

Fix preview cleaning on no preview in PR
  .github/workflows/preview-clean.yml
Due: none

Use average color on landing
  .stylelintrc.json
  landings/README.md
  landings/package.json
  landings/postcss.config.ts
  landings/postcss/average-color.ts
  landings/root/root.css
  landings/vite/images.ts
  pnpm-lock.yaml
Due: stylelint --fix

Use snap scrolling on landing
  landings/root/root.css
  landings/root/root.html
Due: stylelint --fix

Show busy during signing out since it takes a second
  core/auth.ts
  core/messages/common/en.ts
Due: none

Add button animation to landing
  landings/root/root.css
  landings/root/root.html
  landings/root/root.js
Due: stylelint --fix

Fix loader test flakiness
  .github/workflows/test-loaders.yml
  loader-tests/README.md
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
Due: none

Simplify DB worker and fix mutli-tab regression in Chrome/FF
  web/main/db-worker.ts
Due: none

Fix login form width
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Add mobile Sign Up story
  web/stories/pages/sign-up.stories.svelte
Due: prettier --write, stylelint --fix

Stabilize fireplace location in generation
  landings/images/main/prompt.txt
Due: none

Use real Chrome extension URL
  web/main/extension.ts
Due: none

Fix ugly scroll bar on Chrome under Linux
  web/main/index.css
Due: stylelint --fix

Fix feed link vertical align in feed page
  web/ui/feed-link.svelte
Due: prettier --write, stylelint --fix

Reduce numbers of per page posts in list view
  core/readers/list.ts
  core/test/pages/feeds.test.ts
  core/test/readers/list.test.ts
Due: none

Fix copy-demo-db redirect loop
  web/nginx.conf
  web/vite.config.ts
Due: none

Fix redirect after demo installing
  web/public/copy-demo-db/index.js
Due: none

Try to speed-up login initial sync by batching actions write
  pnpm-lock.yaml
Due: none

Fix race in test
  core/test/pages/start.test.ts
Due: none

Speed up initial log syncing
  core/test/log.test.ts
  pnpm-lock.yaml
  web/.size-limit.json
Due: none

Do now show leaving warning on in-app page reload
  web/main/browser.ts
  web/main/environment.ts
Due: none

Update Logux Server
  pnpm-lock.yaml
  server/modules/sync.ts
  server/test/sync.test.ts
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
