Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Add button without text
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Use new controls for feed filters
  web/pages/organize/edit.svelte
Due: prettier --write, stylelint --fix

Clean up code
  web/pages/organize/edit.svelte
Due: prettier --write, stylelint --fix

More compact story for button
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Update ESLint TS
  package.json
  pnpm-lock.yaml
Due: none

Add dangerous button style
  web/main/colors.css
  web/pages/organize/edit.svelte
  web/pages/profile.svelte
  web/stories/pages/preview.stories.svelte
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix hotkey visibility on secondary button in dark theme
  web/main/colors.css
Due: stylelint --fix

Make arrows hotkey more visible
  web/main/common.css
  web/ui/hotkey.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  pnpm-lock.yaml
  web/package.json
Due: none

Remove Ui prefix from components since it does not work in VS Code autocompletion
  web/main/main.svelte
  web/pages/about.svelte
  web/pages/download.svelte
  web/pages/interface.svelte
  web/pages/organize/edit.svelte
  web/pages/organize/feed.svelte
  web/pages/organize/index.svelte
  web/pages/organize/menu.svelte
  web/pages/organize/posts.svelte
  web/pages/preview.svelte
  web/pages/profile.svelte
  web/pages/start.svelte
  web/pages/starting.svelte
  web/stories/ui/button.stories.svelte
  web/stories/ui/card-link.stories.svelte
  web/stories/ui/card.stories.svelte
  web/stories/ui/loader.stories.svelte
  web/stories/ui/navbar.stories.svelte
  web/stories/ui/radio.stories.svelte
  web/stories/ui/rich-translation.stories.svelte
  web/stories/ui/select-field.stories.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/button.svelte
  web/ui/card-link.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/manage.svelte
  web/ui/navbar/settings.svelte
  web/ui/navbar/switcher.svelte
  web/ui/select-field.svelte
Due: prettier --write, stylelint --fix

Fix feeds categories URL
  core/router.ts
  core/test/not-found.test.ts
  web/main/main.svelte
  web/pages/organize/feed.svelte
  web/pages/organize/menu.svelte
  web/stores/router.ts
  web/ui/navbar/manage.svelte
Due: prettier --write, stylelint --fix

Subsection path refactoring to have a system
  core/router.ts
  core/test/router.test.ts
  web/main/main.svelte
  web/pages/feeds/categories/feed.svelte
  web/pages/feeds/categories/index.svelte
  web/pages/feeds/categories/list.svelte
  web/pages/feeds/edit.svelte
  web/pages/feeds/posts.svelte
  web/pages/feeds/preview.svelte
  web/pages/organize/feed.svelte
  web/pages/settings/about.svelte
  web/pages/settings/download.svelte
  web/pages/settings/interface.svelte
  web/pages/settings/profile.svelte
  web/stores/router.ts
  web/stories/pages/feeds/preview.stories.svelte
  web/stories/pages/settings/download.stories.svelte
  web/stories/pages/settings/interface.stories.svelte
  web/ui/navbar/feeds.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Use proper method to tell about hot keys for screen readers
  web/ui/button.svelte
  web/ui/hotkey.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Use wide button for better visibility
  web/pages/feeds/preview.svelte
Due: prettier --write, stylelint --fix

Use the same component to list and item to prevent scroll reset
  web/main/main.svelte
  web/pages/feeds/categories.svelte
  web/pages/feeds/categories/feed.svelte
  web/pages/feeds/categories/index.svelte
  web/pages/feeds/categories/list.svelte
Due: prettier --write, stylelint --fix

Update dependencies to fix warnings
  package.json
  pnpm-lock.yaml
Due: none

Fix regression by adding missed changes
  web/package.json
Due: none

Simplify nested routes
  core/router.ts
  core/test/not-found.test.ts
  web/main/main.svelte
  web/pages/feeds/add.svelte
  web/pages/feeds/categories.svelte
  web/stores/router.ts
  web/stories/pages/feeds/add.stories.svelte
  web/ui/navbar/feeds.svelte
Due: prettier --write, stylelint --fix

Separate props block
  web/pages/feeds/add.svelte
Due: prettier --write, stylelint --fix

Fix loader styles
  web/pages/feeds/posts.svelte
Due: prettier --write, stylelint --fix

Fix hover color
  web/main/colors.css
Due: stylelint --fix

Add line to package.json not-locked version error message
  scripts/check-versions.ts
Due: none

Fix postcss-nesting support by updating ESM method in TS
  core/package.json
  tsconfig.json
Due: none

More correct import
  web/vite.config.ts
Due: none

Add script to check CSS classes
  pnpm-lock.yaml
  web/package.json
  web/pages/feeds/add.svelte
  web/scripts/check-names.ts
  web/scripts/clean-vars.ts
  web/types.d.ts
  web/ui/navbar/index.svelte
  web/ui/post-card.svelte
  web/ui/select-field.svelte
Due: prettier --write, stylelint --fix

Fix - false-positive test
  web/scripts/check-names.ts
Due: none

Add margin to loader to reduce custom classes
  web/pages/feeds/add.svelte
  web/pages/feeds/posts.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Add Row to reduce custom classes in pages
  web/pages/feeds/edit.svelte
  web/ui/row.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update dependencies
  core/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add TextField errorId
  web/pages/feeds/add.svelte
  web/stories/ui/text-field.stories.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Fix story with enter hint
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Replace pseudo class PostCSS plugin to custom one to fix issues
  pnpm-lock.yaml
  web/.postcssrc.json
  web/package.json
  web/postcss/pseudo-classes.cjs
  web/ui/select-field.svelte
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

Add feeds by categories stories
  web/stories/pages/feeds/categories.stories.svelte
Due: prettier --write, stylelint --fix

Fix button font inside title
  web/main/common.css
  web/pages/feeds/categories.svelte
  web/ui/button.svelte
  web/ui/navbar/item.svelte
  web/ui/select-field.svelte
Due: prettier --write, stylelint --fix

Force using role=list to fix list role in Safari on list-style: none
  web/main/index.css
  web/pages/feeds/categories.svelte
  web/pages/feeds/edit.svelte
  web/pages/feeds/posts.svelte
Due: prettier --write, stylelint --fix

Add styles to feed list
  web/pages/feeds/categories.svelte
Due: prettier --write, stylelint --fix

Fix card items shadows
  web/main/colors.css
  web/stories/ui/card-link.stories.svelte
  web/ui/card-link.svelte
  web/ui/radio-field.svelte
Due: prettier --write, stylelint --fix
