Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Add styles rules check to precommit and LLM quick test
  nano-staged.json
Due: none

Add AGENTS.md to CONTRIBUTING.md and clean up docs
  CONTRIBUTING.md
  README.md
Due: none

Add icons to export buttons
  web/pages/export.svelte
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Force I18n in LLM
  AGENTS.md
Due: none

Add import page
  core/messages/import/en.ts
  core/pages/import.ts
  core/test/pages/import.test.ts
  web/main/main.svelte
  web/pages/import.svelte
  web/stories/pages/import.stories.svelte
Due: prettier --write, stylelint --fix

Prevent duplicated after import
  core/messages/import/en.ts
  core/pages/import.ts
  core/test/pages/import.test.ts
Due: none

Increase size limit
  web/.size-limit.json
Due: none

Clean up test
  core/test/pages/import.test.ts
Due: none

Allow to have full width file buttons
  web/stories/ui/file.stories.svelte
  web/ui/file.svelte
Due: prettier --write, stylelint --fix

Fix click on already opened link in Links
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Use full loader instead of in-button for import page
  web/pages/import.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Add bold example to RichText story
  web/stories/ui/rich-text.stories.svelte
Due: prettier --write, stylelint --fix

Escape popup params to allow = in param
  core/router.ts
  core/test/pages/add.test.ts
Due: none

Allow OPML file with .xml extension
  core/pages/import.ts
  core/test/pages/import.test.ts
Due: none

Be ready on timeout during the copying the responce
  proxy/index.ts
Due: none

Remove tsx from loader-tests since node works well too
  loader-tests/package.json
  pnpm-lock.yaml
Due: none

Fix creating fake user to test loaders
  loader-tests/utils.ts
Due: none

Move opml CLI test to import page to have more realistic test
  core/pages/import.ts
  loader-tests/check-opml.ts
  loader-tests/dom-api.ts
  loader-tests/dom-parser.ts
  loader-tests/utils.ts
Due: none

Enable CORS for error requests too
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Add OPTIONS request support to proxy to fix CORS in some cases
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Fix timeout error in proxy server by increasing timeout to read body and using more faster streaming
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Show error on OPML without feeds
  core/messages/import/en.ts
  core/pages/import.ts
  core/test/pages/import.test.ts
Due: none

Fix page.total for JSON case
  core/pages/import.ts
Due: none

Be sure that feed always have title
  core/loader/index.ts
  core/pages/import.ts
  core/test/pages/add.test.ts
Due: none

Fix links duplications because of leading slash
  core/pages/add.ts
Due: none

Use proxy in loader test to make tests more realistic
  loader-tests/check-opml.ts
  loader-tests/package.json
  pnpm-lock.yaml
Due: none

Fix compatability with broken XML
  core/lib/download.ts
  core/test/loader/atom.test.ts
Due: none

Increase proxy timeout to make it compatible with slow servers
  proxy/index.ts
Due: none

Use constant margin for page icon
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Add mobile story for export 2 options page to see PageIcon interactions between each other
  web/stories/pages/export.stories.svelte
Due: prettier --write, stylelint --fix

Increase paddings on mobile navbar for better touch reachability
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Make navbar height relative from control size
  web/main/sizes.css
Due: stylelint --fix

Make controls bigger on mobile
  web/main/sizes.css
Due: stylelint --fix

Clean settings and Logux cross-tab marks on exit
  core/auth.ts
  core/environment.ts
  core/test.ts
  web/main/environment.ts
Due: none

Fix big button size regression on mobile
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  api/package.json
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Remove old pages moved to new design
  web-archive/pages/feeds/import.svelte
  web-archive/stories/pages/feeds/import.stories.svelte
Due: prettier --write, stylelint --fix

Increase padding before import errors
  web/pages/import.svelte
Due: prettier --write, stylelint --fix

Fix CSS regressions
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
Due: none

Add icons to No Feeds page
  web/ui/no-feeds.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
