Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Move sizes to separated files to be avaiable in visual tests even without other component in the bundle
  web/main/index.css
  web/main/sizes.css
  web/ui/button.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Sync Output/Input padding with Label
  web/ui/input.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add Note and tune colors of buttons and field
  web/main/colors.css
  web/main/fonts.css
  web/stories/ui/note.stories.svelte
  web/ui/button.svelte
  web/ui/input.svelte
  web/ui/note.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Move test credentials to core to not repeat them
  core/test.ts
  web/stories/pages/signup.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Add notes to sign-up page
  core/messages/auth/en.ts
  web/pages/signup.svelte
  web/stories/pages/signup.stories.svelte
  web/ui/actions.svelte
  web/ui/note.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Make main block lighter in dark theme
  web/main/colors.css
Due: stylelint --fix

Simplify code by ignoring rare case
  core/pages/signup.ts
  core/test/pages/signup.test.ts
Due: none

Fix redirect during page init
  core/current-page.ts
  core/test/pages/signup.test.ts
Due: none

Fix mobile padding
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Prevent line breaks in non-beatiful places
  core/i18n.ts
  core/messages/auth/en.ts
  core/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add Exit button to simplify sign-up debug
  web/main/main.svelte
Due: prettier --write, stylelint --fix

Try to fix CORS between web and Logux servers
  server/lib/http.ts
  server/modules/auth.ts
  web/main/environment.ts
Due: none

Fix test coverage
  server/lib/http.ts
  server/test/auth.test.ts
Due: none

Fix tests after starting using non-break space in messages
  core/test/pages/start.test.ts
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .github/actions/deploy/action.yml
  .github/workflows/preview-clean.yml
  core/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/Dockerfile
  web/package.json
Due: none

Simplify code
  proxy/index.ts
Due: none

Fix cookie with CORS
  api/http/utils.ts
  web/main/environment.ts
Due: none

Fix HTTP CORS headers
  proxy/index.ts
  server/lib/http.ts
Due: none

Force to ask password in sign-up page
  core/environment.ts
  core/pages/signup.ts
  core/test.ts
  core/test/pages/signup.test.ts
  core/test/utils.ts
  web/main/environment.ts
  web/main/global.d.ts
  web/pages/signup.svelte
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Simplify loader styles by using theme classes
  core/settings.ts
  eslint.config.ts
  web/main/loader.css
  web/nginx.conf
  web/stores/theme.ts
  web/stories/scene.svelte
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/inverse-theme.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/inverse-theme.svelte
Due: prettier --write, stylelint --fix

Add dangerous state for Note
  web/.size-limit.json
  web/main/colors.css
  web/main/fonts.css
  web/stories/ui/note.stories.svelte
  web/ui/note.svelte
Due: prettier --write, stylelint --fix

Clean up code a little
  core/environment.ts
  core/pages/signup.ts
  core/test.ts
  core/test/pages/signup.test.ts
Due: none

Fix credentials.store() types
  core/environment.ts
  core/test.ts
  core/test/utils.ts
  web/main/environment.ts
Due: none

Move global types to project root to follow popular conventions
  web/README.md
  web/global.d.ts
Due: none

Try to fix Storybook screenshot with theme store sync
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Avoid name conflict between core and web stores
  core/README.md
  web/main/environment.ts
  web/pages/start.svelte
  web/scripts/export-routes.ts
  web/stores/page-theme.ts
  web/stores/url-router.ts
  web/ui/inverse-theme.svelte
Due: prettier --write, stylelint --fix

Replace Actions to Stack
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/actions.svelte
  web/ui/note.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Remove Description by using Stack
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/description.svelte
  web/ui/stack.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Fix line breaks control
  core/i18n.ts
Due: none

Add sign-up second page design
  core/messages/auth/en.ts
  core/pages/signup.ts
  core/test/pages/signup.test.ts
  pnpm-lock.yaml
  web/.size-limit.json
  web/main/colors.css
  web/main/environment.ts
  web/main/fonts.css
  web/main/sizes.css
  web/package.json
  web/pages/signup.svelte
  web/ui/paper.svelte
  web/ui/stack.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Disable button/input in more a11y and flexible for user way
  web/main/index.css
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/button.svelte
  web/ui/form.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add a way to send secret to email by mailto: link to keep privacy
  core/messages/auth/en.ts
  core/pages/signup.ts
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Add tests for mailto link
  core/test/pages/signup.test.ts
Due: none

Tune sign-up warning step
  core/messages/auth/en.ts
  web/pages/signup.svelte
  web/ui/paper.svelte
Due: prettier --write, stylelint --fix

Tune messages on sign-up warning step
  core/messages/auth/en.ts
Due: none

Fix typo
  core/messages/auth/en.ts
Due: none

Fix typo (#309)
  core/messages/auth/en.ts
Due: none

Typo
  .github/workflows/preview-clean.yml
Due: none

Start from adding navbar empty component
  core/router.ts
  core/test/router.test.ts
  web/main/index.css
  web/main/main.svelte
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix
