Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/actions/init-node/action.yml
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
  web/.browserslistrc
  web/package.json
Due: none

Add paddings to Loader story to make them more visible
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Fix storybook height limit
  web/.storybook/preview-head.html
  web/index.html
  web/main/index.css
  web/stories/environment.ts
Due: stylelint --fix

Limit more pagination visible page numbers
  web/stories/ui/pagination.stories.svelte
  web/ui/pagination.svelte
Due: prettier --write, stylelint --fix

Fix Svelte warning by using props more accurate
  web/pages/add.svelte
  web/pages/export.svelte
  web/pages/feeds-by-categories.svelte
  web/pages/feeds/index.svelte
  web/pages/feeds/list.svelte
  web/pages/import.svelte
  web/pages/profile.svelte
  web/pages/signup.svelte
  web/pages/start.svelte
  web/popups/feed.svelte
  web/popups/post.svelte
  web/stories/loaded-popup.svelte
Due: prettier --write, stylelint --fix

Simplify error handling in Input
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix scroll on page change regression
  web/main/browser.ts
Due: none

Remove old web client
  .prettierignore
  eslint.config.ts
  scripts/check-unused-messages.ts
  tsconfig.json
  web-archive/.stylelintrc
  web-archive/pages/busy.svelte
  web-archive/pages/fast.svelte
  web-archive/pages/slow.svelte
  web-archive/stories/pages/fast.stories.svelte
  web-archive/stories/pages/post-mocks.ts
  web-archive/stories/pages/slow.stories.svelte
  web-archive/stories/section.svelte
  web-archive/ui/hotkey.svelte
  web-archive/ui/pagination-bar.svelte
  web-archive/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Fix test coverage
  core/popups/feed.ts
Due: none

Improve SPA UI integration to the system
  web/index.html
  web/main/index.css
  web/main/sizes.css
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Add feed UI
  core/messages/feeds/en.ts
  core/pages/feeds.ts
  core/readers/common.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  web/.size-limit.json
  web/main/colors.css
  web/pages/feeds/feed.svelte
  web/stories/pages/feeds.stories.svelte
  web/ui/button.svelte
  web/ui/feed.svelte
Due: prettier --write, stylelint --fix

Fix wrong message
  web/pages/feeds/feed.svelte
Due: prettier --write, stylelint --fix

Update pnpm and dependencies
  .devcontainer/Dockerfile
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Update Node.js and dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/messages.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  .node-version
  api/package.json
  core/lib/html.ts
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/.browserslistrc
  web/Dockerfile
  web/package.json
Due: none

Fix broken terminal style after running all tests
  web/package.json
Due: none

Speed up formatting by using oxfmt for non-Svelte files
  .oxfmtrc.jsonc
  .prettierrc.json
  nano-staged.json
  package.json
  pnpm-lock.yaml
  proxy/index.ts
  server/test/auth.test.ts
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Fix lock file
  pnpm-lock.yaml
Due: none

Auto-format code
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix length calculation for text with spaces after HTML stripping
  core/lib/html.ts
  core/test/post.test.ts
Due: none

Improve rendering post titles
  core/lib/html.ts
  core/post.ts
  core/test/post.test.ts
  core/text.ts
  web/stories/pages/feeds.stories.svelte
Due: prettier --write, stylelint --fix

Add tool to see post data
  core/devtools.ts
  eslint.config.ts
Due: none

Use pages/popups/readers structure in loaders and fix circular dependencies
  core/loader/atom.ts
  core/loader/common.ts
  core/loader/index.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
Due: none

More realistics tests for loader using request mocks
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
Due: none

Render post source in devtools in debug mode
  core/devtools.ts
  core/loader/atom.ts
  core/loader/common.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
Due: none

Replace onMount/effect with bind to attach
  web/stories/section.svelte
  web/ui/button.svelte
  web/ui/formatted-text.svelte
  web/ui/loader.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Use the same icon size in links list too
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Export getPostPopupParam
  core/popups/index.ts
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Always use arrow in feeds list
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Clean up code
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add helper to load post as we have for all other models
  core/devtools.ts
  core/feed.ts
  core/post.ts
  core/test/post.test.ts
Due: none

Fix code format in mixins
  web/postcss/mixins/background.pcss
  web/postcss/mixins/clickable.pcss
Due: none

Fix Stylelint scripts ignoring the files
  web/.stylelintrc.json
  web/package.json
Due: none

Add author to feed and improve feed style
  core/pages/feeds.ts
  core/post.ts
  core/readers/common.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/test/post.test.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  web/.size-limit.json
  web/main/colors.css
  web/main/fonts.css
  web/pages/feeds/feed.svelte
  web/ui/feed.svelte
  web/ui/feed/author.svelte
  web/ui/feed/index.svelte
  web/ui/feed/post.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Move text helpers to lib as any other helpers
  core/lib/text.ts
  core/post.ts
Due: none

Add very smart post text truncate for feed
  AGENTS.md
  core/lib/html.ts
  core/lib/text.ts
  core/post.ts
  core/test/lib/html.test.ts
  core/test/post.test.ts
  web/.size-limit.json
  web/ui/feed/post.svelte
Due: prettier --write, stylelint --fix

Clean up read state for posts and sync it between list and feed
  web/ui/feed/post.svelte
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Throw an error on parsing broken XML
  core/lib/download.ts
  core/test/lib/download.test.ts
Due: none

Fix domain stolen by Russian government
  loader-tests/feeds.yml
Due: none

Add post media attachments support and fix Atom nested HTML
  core/filter.ts
  core/loader/atom.ts
  core/loader/common.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/loader/utils.ts
  core/post.ts
  core/test/filter.test.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
  core/test/loader/utils.test.ts
  core/test/pages/export.test.ts
  core/test/pages/import.test.ts
  core/test/popups/post.test.ts
  core/test/post.test.ts
  core/test/refresh.test.ts
Due: none

Document new script
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
