Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Improve check-opml output a little (#139)
  loader-tests/check-opml.ts
  loader-tests/utils.ts
  package.json
Due: none

Add Markdown linter (#129)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .remarkrc.js
  CONTRIBUTING.md
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Fix lock file merge conflict
  pnpm-lock.yaml
Due: none

Check what feed did we found at home URL
  loader-tests/check-opml.ts
Due: none

Improve loader-tests output
  loader-tests/check-opml.ts
  loader-tests/utils.ts
Due: none

Fix OPML example
  loader-tests/example.opml
Due: none

Show URL on fetch() error in OPML check
  loader-tests/check-opml.ts
  loader-tests/utils.ts
Due: none

Fix refactoring
  loader-tests/utils.ts
Due: none

Update dependencies
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add note about labels to choose tasks
  CONTRIBUTING.md
Due: none

Make text shorter
  CONTRIBUTING.md
Due: none

Make another section shprter
  CONTRIBUTING.md
Due: none

fix(formatter-text): remove unnecessary styles and imrove token names
  web/main/colors.css
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

First mobile nav prototype
  web/main/index.css
  web/ui/navbar/index.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Corrected mobile navbar
  web/ui/navbar/fast.svelte
  web/ui/navbar/index.svelte
  web/ui/page.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Added mobile navbar story
  pnpm-lock.yaml
  web/.storybook/main.ts
  web/package.json
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Fixed classname according to BEM
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Update Node.js
  .tool-versions
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Run format in PRs
  .github/workflows/format.yml
Due: none

Return code style check in Stylelint
  pnpm-lock.yaml
  web/.stylelintrc
  web/main/colors.css
  web/package.json
  web/stories/section.svelte
  web/ui/under-construction.svelte
Due: prettier --write, stylelint --fix

Move format check to test
  .github/workflows/format.yml
  package.json
Due: none

Replace picocolors imports from scripts, remove picocolors dependency, add global.d.ts file
  loader-tests/package.json
  loader-tests/utils.ts
  package.json
  pnpm-lock.yaml
  proxy/index.ts
  proxy/package.json
  scripts/check-focused-tests.ts
  scripts/check-messages.ts
  scripts/check-versions.ts
  web/package.json
  web/scripts/check-names.ts
  web/scripts/clean-css.ts
Due: none

add global.d.ts, which I forgot to add last time(((
  global.d.ts
Due: none

fix global.d.ts file and add a comment to it
  global.d.ts
Due: none

fix printError function arguement type, fix e.stack values passed to styleText
  proxy/index.ts
  web/scripts/clean-css.ts
Due: none

Replace picocolors imports from scripts, remove picocolors dependency… (#147)
  global.d.ts
  loader-tests/package.json
  loader-tests/utils.ts
  package.json
  pnpm-lock.yaml
  proxy/index.ts
  proxy/package.json
  scripts/check-focused-tests.ts
  scripts/check-messages.ts
  scripts/check-versions.ts
  web/package.json
  web/scripts/check-names.ts
  web/scripts/clean-css.ts
Due: none

upd(formatter-text): divide stories and public assets
  web/public/stories-assets/images/long_width_example.avif
  web/public/stories-assets/images/short_width_example.png
  web/stories/assets/long_width_example.jpeg
  web/stories/assets/short_width_example.png
  web/stories/ui/formatted-text.stories.svelte
Due: prettier --write, stylelint --fix

fix(formatter-text): improving accessibility by increase link contrasts
  web/main/colors.css
Due: stylelint --fix

Run preview deploy even if PR author forget to update pnpm lockfile
  .github/workflows/preview-prepare.yml
Due: none

fix(formatter-text): optimize images and links visual tests
  web/main/colors.css
  web/stories/assets/long_width_example.avif
  web/stories/assets/long_width_example.jpeg
  web/stories/assets/short_width_example.avif
  web/stories/assets/short_width_example.png
  web/stories/ui/formatted-text.stories.svelte
Due: prettier --write, stylelint --fix

Add Markdown plugin that checks title's words capitalization
  .remarkrc.js
  package.json
  pnpm-lock.yaml
  remark-custom-rules/title-capitalization/lib/lowerCaseWords.js
  remark-custom-rules/title-capitalization/lib/utils.js
  remark-custom-rules/title-capitalization/remarkLintTitleCapitalization.js
Due: none

[Add]: formatted text styles (#135)
  web/main/colors.css
  web/main/global.d.ts
  web/stories/assets/long_width_example.avif
  web/stories/assets/short_width_example.avif
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Fix code example
  web/stories/ui/formatted-text.stories.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  core/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Add basic pagination for slow feeds
  core/messages/slow/en.ts
  core/router.ts
  core/slow.ts
  web/pages/slow.svelte
  web/stores/router.ts
Due: prettier --write, stylelint --fix

Make slow tests more precise to match pagination feature
  core/slow.ts
  core/test/slow.test.ts
Due: none

Fix overflow-x on formatted text inside post card
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Fix overflow-x on formatted text inside post card (#151)
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Add basic pagination for slow feeds (#150)
  core/messages/slow/en.ts
  core/router.ts
  core/slow.ts
  core/test/slow.test.ts
  web/pages/slow.svelte
  web/stores/router.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
