Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

refactor: clearer onMount, shorten the variable name
  web/pages/fast.svelte
Due: prettier --write, stylelint --fix

fix: fix eslint issues
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

fix(#98): Scroll page above on 'Mark as read and next load' click (#125)
  web/pages/fast.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Use subprotocol from api/ to sync it with client
  pnpm-lock.yaml
  server/index.ts
  server/package.json
Due: none

Add nested structure to contribution guide to simplify section search
  CONTRIBUTING.md
Due: none

Add draft PR policy
  CONTRIBUTING.md
Due: none

add build artifacts step to ci/cd config
  .github/workflows/test.yml
Due: none

fix wrong quotes formatting
  .github/workflows/test.yml
Due: none

add build artifacts step to ci/cd config (#128)
  .github/workflows/test.yml
Due: none

Fix artifact usage in code test CI workflow
  .github/workflows/test.yml
Due: none

Add markdown linter with plugins and config file
  .remarkrc.js
  package.json
  pnpm-lock.yaml
Due: none

Add Markdown linter with plugins and config file
  .remarkrc.js
Due: none

Main menu - changed role to menubar
  web/ui/card-link.svelte
  web/ui/card-links.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Accept and pass verified role value to sub components
  web/ui/card-link.svelte
  web/ui/card-links.svelte
Due: prettier --write, stylelint --fix

Added explicitly aria-orientation for menubar roles
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Refactor meta theme actualizing
  web/main/browser.ts
  web/main/colors.css
  web/main/helpers.ts
  web/main/main.svelte
Due: prettier --write, stylelint --fix

add(formatted-text): heading and layout tags styles and story
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Unify codestyle to make it more consistent
  web/main/browser.ts
Due: none

Reset unneeded changes in colors.css
  web/main/colors.css
Due: stylelint --fix

Remove param from the updateTheme function
  web/main/browser.ts
Due: none

Edit description and method of export in .remarkrc.js
  .remarkrc.js
Due: none

Show what files was changed during format command
  .github/workflows/format.yml
Due: none

Update PostCSS plugins
  pnpm-lock.yaml
  web/package.json
Due: none

Add GitHub Action for for testing .md files
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .remarkrc.js
  CONTRIBUTING.md
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Add <meta> tag for `theme-color` attribute (#126)
  web/index.html
  web/main/browser.ts
Due: none

Increase size limit
  web/.size-limit.json
Due: none

Add pnpm test to PR checklist
  docs/pull_request_template.md
Due: none

add(formatter-text): rest of tags with styles and stories
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Remove unused variable
  web/pages/feeds/add.svelte
Due: prettier --write, stylelint --fix

Fix indent
  web/main/colors.css
Due: stylelint --fix

refactor(formatter-text): remove unused styles and stories examples
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

add(foramtter-text): css custom vars for links and code
  web/main/colors.css
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Add deps and link core in loader-tests project
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
Due: none

Export getTestEnv & getLoaderForText from core
  core/index.ts
  core/preview.ts
Due: none

Add loader-tests project description in main README
  README.md
Due: none

Add loader-tests project
  loader-tests/package.json
  pnpm-workspace.yaml
Due: none

Move deps to dev dependencies
  loader-tests/index.ts
  loader-tests/package.json
  loader-tests/utils.ts
  pnpm-lock.yaml
Due: none

Rename loader-tests script to avoid ^test: regex
  package.json
Due: none
