Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

better deps change text
  .github/auto-review-comment.yml
Due: none

Update handleEscapeKey logic
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Fix eslint error
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Fix dependency auto-review comment
  .github/auto-review-comment.yml
Due: none

Add role in condition
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Add desktop support for going back from the steps (#225)
  core/preview.ts
  core/router.ts
  core/test/two-steps.test.ts
  web/.size-limit.json
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

fix: fix mobile versions
  core/import.ts
  core/preview.ts
  core/router.ts
  core/test/import.test.ts
  web/pages/feeds/import.svelte
Due: prettier --write, stylelint --fix

fix tests
  core/import.ts
  core/preview.ts
  core/test/router.test.ts
  loader-tests/export-internal-example.json
  loader-tests/export-opml-example.opml
  web/.size-limit.json
  web/pages/feeds/categories.svelte
  web/pages/feeds/import.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Update pnpm and Node.js
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  loader-tests/package.json
  package.json
  proxy/Dockerfile
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Remove zsh start on devcontainer to fix CLI going to container on any call
  .devcontainer/docker/devcontainer.json
  .devcontainer/podman/devcontainer.json
Due: none

Update dependencies
  core/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Fix Node.js checksum in proxy
  proxy/Dockerfile
Due: none

Fix updating Node.js checksum in proxy Dockerfile
  scripts/update-env.ts
Due: none

Clean up code by using URL static methods
  core/preview.ts
  proxy/proxy.ts
  web/ui/text-field.svelte
Due: prettier --write, stylelint --fix

upload only filenames
  .github/workflows/auto-review-prepare.yml
Due: none

upload only filenames (#229)
  .github/workflows/auto-review-prepare.yml
Due: none

fix: retur custom attrs for button
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Remove mobile tap highlight
  web/main/index.css
Due: stylelint --fix

Fix "too many open files" issue in podman
  .devcontainer/podman/devcontainer.json
Due: none

Fix Stylelint warning
  web/main/index.css
Due: stylelint --fix

Update dependencies
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

fix: fix variable naming, add loading visualisation for opml import
  core/export.ts
  core/import.ts
  core/messages/import/en.ts
  core/messages/navbar/en.ts
  core/test/export-internal-example.json
  core/test/export-opml-example.opml
  core/test/export.test.ts
  core/test/import.test.ts
  web/pages/feeds/import.svelte
  web/pages/feeds/internal.svelte
  web/pages/feeds/opml.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Add note about mistakes to CoC
  docs/CODE_OF_CONDUCT.md
Due: none

fix: fix tests
  core/import.ts
  core/test/export-opml-example.opml
  core/test/import.test.ts
Due: none

change config to reflect correct naming & variables
  .github/auto-review-comment.yml
  .github/workflows/auto-review-comment.yml
Due: none

change config to reflect correct naming & variables (#230)
  .github/auto-review-comment.yml
  .github/workflows/auto-review-comment.yml
Due: none

feat: add stories
  core/import.ts
  core/test/export.test.ts
  core/test/import.test.ts
  web/pages/feeds/import.svelte
  web/pages/feeds/list.svelte
  web/stories/pages/feeds/export.stories.svelte
  web/stories/pages/feeds/import.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

fix: fix tests and coverage
  core/import.ts
  core/test/export-internal-example.json
  core/test/export.test.ts
  core/test/import.test.ts
  web/pages/feeds/import.svelte
  web/stories/pages/feeds/export.stories.svelte
  web/stories/pages/feeds/import.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Add export and import pages (#192)
  core/category.ts
  core/export.ts
  core/import.ts
  core/index.ts
  core/messages/export/en.ts
  core/messages/import/en.ts
  core/messages/index.ts
  core/messages/navbar/en.ts
  core/preview.ts
  core/router.ts
  core/test/dom-parser.ts
  core/test/export-internal-example.json
  core/test/export-opml-example.opml
  core/test/export.test.ts
  core/test/import.test.ts
  core/test/router.test.ts
  web/.size-limit.json
  web/main/main.svelte
  web/pages/feeds/export.svelte
  web/pages/feeds/import.svelte
  web/pages/feeds/internal.svelte
  web/pages/feeds/list.svelte
  web/pages/feeds/opml.svelte
  web/stores/router.ts
  web/stories/pages/feeds/export.stories.svelte
  web/stories/pages/feeds/import.stories.svelte
  web/stories/scene.svelte
  web/ui/button.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Update Node.js and pnpm
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  loader-tests/package.json
  package.json
  proxy/Dockerfile
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Move all items from check-list to auto-reviewer
  .github/auto-review-comment.yml
  docs/pull_request_template.md
Due: none

Update Node.js
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  loader-tests/package.json
  package.json
  proxy/Dockerfile
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Remove oklch() and relative colors polyfill since modern browsers support them
  pnpm-lock.yaml
  web/.postcssrc.json
  web/package.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update Node.js
  .devcontainer/Dockerfile
  .node-version
  proxy/Dockerfile
Due: none

Move in oklch() from % to float since relative colors have problems with %
  package.json
  pnpm-lock.yaml
  web/main/colors.css
  web/main/index.css
  web/package.json
  web/pages/feeds/import.svelte
  web/pages/feeds/list.svelte
  web/ui/navbar/fireplace.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .devcontainer/Dockerfile
  package.json
Due: none

Specify a11y self-check
  .github/auto-review-comment.yml
Due: none
