Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Unify fields styles
  web/main/colors.css
  web/ui/input.svelte
  web/ui/navbar/index.svelte
  web/ui/output.svelte
  web/ui/radio.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Add Select field
  web/stories/ui/select.stories.svelte
  web/ui/select.svelte
Due: prettier --write, stylelint --fix

Prevent focus styles repeating
  web/main/animations.css
  web/main/index.css
  web/postcss/mixins/focus.pcss
  web/ui/select.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Fix regression of not moving content to bottom for mobile
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Allow to avoid icons in Radio
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Allow to put select and radio in row stack
  web/ui/radio.svelte
  web/ui/select.svelte
Due: prettier --write, stylelint --fix

Do style polishing to keep focus style more consistant
  web/main/sizes.css
  web/ui/navbar/button.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/popup.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary design token
  web/main/animations.css
Due: stylelint --fix

Simplify script filtering
  loader-tests/package.json
  package.json
Due: none

Do not test code format to make it easier to send PR
  .github/workflows/format.yml
  package.json
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/main.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/visual.yml
  core/package.json
  extension/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Add feed fields to feed popup
  core/lib/stores.ts
  core/messages/common/en.ts
  core/messages/organize/en.ts
  core/popups/feed.ts
  core/test/popups/feed.test.ts
  web/.size-limit.json
  web/popups/feed.svelte
  web/ui/select.svelte
Due: prettier --write, stylelint --fix

Update CI script calls after recent renaming
  .github/workflows/audit.yml
  .github/workflows/docs.yml
Due: none

Update scripts name after recent refactoring
  .github/workflows/main.yml
Due: none

Hide download page until we will have offline mode
  core/router.ts
Due: none

Use fast theme in fast feed popup
  eslint.config.ts
  pnpm-lock.yaml
  web/main/browser.ts
  web/main/colors.css
  web/package.json
  web/popups/feed.svelte
  web/postcss/theme-classes.ts
  web/stories/popups/feed.stories.svelte
  web/test/theme-classes.test.ts
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Update web client docs after removing test for PostCSS plugin
  web/README.md
Due: none

Fix color relative controls in fast theme
  web/.stylelintrc.json
  web/main/colors.css
  web/postcss/tune-color.ts
  web/ui/button.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Create slow feeds by default
  core/feed.ts
Due: none

Do not change mobile popup header color on fast feed
  web/stories/popups/feed.stories.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Fix keeping origin comform theme for popup header on mobile
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Fix code format
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Move to Fedora 43 in Dev Container and Storybook 10
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Add styles for post text
  web/.stylelintrc.json
  web/main/colors.css
  web/main/fonts.css
  web/stories/assets/long_width_example.avif
  web/stories/assets/short_width_example.avif
  web/stories/ui/button.stories.svelte
  web/stories/ui/formatted-text.stories.svelte
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Fix hover style for feeds list
  web/main/colors.css
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Add posts to feed popup
  core/messages/organize/en.ts
  web/main/colors.css
  web/popups/feed.svelte
  web/stories/ui/formatted-text.stories.svelte
  web/ui/feeds.svelte
  web/ui/formatted-text.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Add posts title to feed popup
  core/messages/organize/en.ts
  web/popups/feed.svelte
  web/ui/label.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Re-use styles between posts and feeds
  web/popups/feed.svelte
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Clean up links
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Fix posts block size
  web/popups/feed.svelte
  web/stories/popups/feed.stories.svelte
Due: prettier --write, stylelint --fix

Add basic feeds by category implementation
  core/messages/organize/en.ts
  core/pages/add.ts
  core/pages/feeds-by-categories.ts
  core/pages/mixins/opened-feed.ts
  web/.size-limit.json
  web/main/main.svelte
  web/pages/feeds-by-categories.svelte
  web/stories/pages/feeds-by-categories.stories.svelte
  web/stories/scene.svelte
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/popupable-page.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Unify page titles
  core/messages/add/en.ts
  web/pages/add.svelte
Due: prettier --write, stylelint --fix

Fix padding between recent posts title and posts
  web/popups/feed.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Bigger mobile viewport in stories
  web/stories/popups/feed.stories.svelte
  web/stories/popups/loading.stories.svelte
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Automatically insert corner-shape
  web/postcss.config.ts
  web/postcss/squircle-corner.ts
  web/stories/section.svelte
  web/ui/button.svelte
  web/ui/card.svelte
  web/ui/formatted-text.svelte
  web/ui/input.svelte
  web/ui/links.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/note.svelte
  web/ui/output.svelte
  web/ui/radio.svelte
  web/ui/select.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Fix feeds by category page style
  web/pages/feeds-by-categories.svelte
  web/ui/popupable-page.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Add better keyboard UX for feeds by category
  web/pages/feeds-by-categories.svelte
  web/ui/links.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Add empty feeds state
  core/messages/organize/en.ts
  web/pages/feeds-by-categories.svelte
  web/ui/no-feeds.svelte
Due: prettier --write, stylelint --fix
