Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Update docs
  loader-tests/README.md
Due: none

Rename script to test-loaders.ts
  .github/workflows/test-loaders.yml
  README.md
  loader-tests/package.json
  loader-tests/test-loaders.ts
  package.json
Due: none

Rename type Feed to LoaderTestFeed
  loader-tests/check-opml.ts
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
Due: none

Fix eslint errors
  loader-tests/check-opml.ts
  loader-tests/test-loaders.ts
Due: none

Remove ol
  loader-tests/README.md
Due: none

Add paths for push and PR in test-loaders.yml
  .github/workflows/test-loaders.yml
Due: none

Add 404/500 pages to PR check-list to prevent color differences
  docs/pull_request_template.md
Due: none

Simplify colors in HTML loader: gray P3 == gray sRGB, convert oklch() to hex
  web/index.html
Due: none

Update loader colors
  web/index.html
Due: none

Loaders smoke tests on real content (#174)
  .github/workflows/test-loaders.yml
  README.md
  loader-tests/README.md
  loader-tests/check-opml.ts
  loader-tests/feeds.yml
  loader-tests/package.json
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
  package.json
  pnpm-lock.yaml
Due: none

Add styles to error pages
  web/public/404.html
  web/public/500.html
Due: none

Explain what you need to change folder
  loader-tests/README.md
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Remove margin for <figure> since it makes images too small
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Fix pnpm test errors
  web/pages/slow.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Add slow pagination slider-bar
  core/messages/slow/en.ts
  core/router.ts
  core/slow.ts
  web/pages/slow.svelte
  web/stores/router.ts
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Move next-page button inside pagination-bar component
  core/messages/common/en.ts
  core/messages/slow/en.ts
  web/pages/slow.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Fix up PR comments
  core/router.ts
  core/slow.ts
  web/.nginx/routes.js
  web/pages/slow.svelte
  web/stores/router.ts
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Update pagination segments to use <a>
  web/pages/slow.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Fix eslint errors
  core/messages/slow/en.ts
  web/pages/slow.svelte
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Add story for pagination-bar
  core/router.ts
  web/.nginx/routes.js
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Bump size-limit to 215KB
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Move to buttons for pagination-bar
  web/pages/slow.svelte
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Wrap up pagination redesign
  core/messages/common/en.ts
  web/main/colors.css
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Add image to 404/500
  web/public/404.html
  web/public/500.html
  web/public/error.avif
Due: none

Do not count error page content in Size Limit
  web/.size-limit.json
Due: none

Add 404 and 500 pages (#175)
  docs/pull_request_template.md
  web/.size-limit.json
  web/index.html
  web/public/404.html
  web/public/500.html
  web/public/error.avif
Due: none

Remove SVG icon from 404/500 since it has a different path with cache buster
  web/public/404.html
  web/public/500.html
Due: none

Update lock file
  pnpm-lock.yaml
Due: none

adjusted color for navbar shadow
  web/main/colors.css
Due: stylelint --fix

changed cursor for mobile
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

added spacing for navbar buttons
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

fix link
  docs/pull_request_template.md
Due: none

put correct link
  docs/pull_request_template.md
Due: none

fix deps README link
  docs/pull_request_template.md
Due: none

Mobile navbar (#144)
  pnpm-lock.yaml
  web/.storybook/main.ts
  web/main/colors.css
  web/main/index.css
  web/package.json
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/fast.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/other.svelte
  web/ui/page.svelte
  web/ui/two-steps-page.svelte
Due: prettier --write, stylelint --fix

Increase number of viewports for Storybook
  web/.storybook/preview.ts
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Make XML format on the same level as JSON in DownloadTask
  core/download.ts
  core/loader/atom.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/loader/utils.ts
  core/test/download.test.ts
  loader-tests/check-opml.ts
Due: none

Use test script to run loader tests
  loader-tests/README.md
  loader-tests/package.json
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
