Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Add Toggle component for better post popup header
  core/messages/post/en.ts
  core/popups/post.ts
  core/test/popups/post.test.ts
  web/.stylelintrc.json
  web/popups/post.svelte
  web/stories/ui/switch.stories.svelte
  web/stories/ui/toggle.stories.svelte
  web/ui/switch.svelte
  web/ui/toggle.svelte
Due: prettier --write, stylelint --fix

Add feed and published date to post popup
  core/i18n.ts
  core/popups/post.ts
  core/test/popups/post.test.ts
  web/popups/post.svelte
  web/ui/small-link.svelte
Due: prettier --write, stylelint --fix

Unify author in feed and post popup
  web/ui/feed/author.svelte
  web/ui/feed/post.svelte
  web/ui/small-link.svelte
Due: prettier --write, stylelint --fix

Use softer shadows for light buttons and use attention button for post URL in post popup
  web/main/colors.css
  web/popups/post.svelte
  web/ui/button.svelte
  web/ui/navbar/index.svelte
  web/ui/pagination.svelte
  web/ui/radio.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Use relative time in post popup if post was this day
  core/format.ts
  core/i18n.ts
  core/index.ts
  core/popups/post.ts
  core/test/format.test.ts
  core/test/popups/post.test.ts
  web/popups/post.svelte
Due: prettier --write, stylelint --fix

Typo
  web/main/colors.css
Due: stylelint --fix

Cut feed name in feed and post popup if it is not fit the area
  web/popups/post.svelte
  web/ui/feed/post.svelte
  web/ui/small-link.svelte
Due: prettier --write, stylelint --fix

Fix image resize in post popup
  web/ui/formatted-text.svelte
Due: prettier --write, stylelint --fix

Fix scroll in post title
  core/post.ts
  core/test/post.test.ts
  web/main/fonts.css
  web/popups/post.svelte
  web/ui/formatted-text.svelte
  web/ui/post.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Improve post content in post popup
  core/lib/html.ts
  core/post.ts
  core/test/lib/html.test.ts
  web/.size-limit.json
  web/.stylelintrc.json
  web/main/colors.css
  web/popups/post.svelte
  web/stories/ui/formatted-text.stories.svelte
  web/ui/feed/post.svelte
  web/ui/formatted-text.svelte
  web/ui/post.svelte
Due: prettier --write, stylelint --fix

Do not fall on 429 error
  loader-tests/utils.ts
Due: none

Add fast-svelte-check
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update svelte-fast-check
  .gitignore
  eslint.config.ts
  extension/tsconfig.json
  nano-staged.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  web/.gitignore
  web/package.json
  web/tsconfig.json
Due: none

Clean up proxy test server response types
  proxy/test/index.test.ts
Due: none

Support If-Modified-Since header for feed caching
  core/feed.ts
  core/lib/download.ts
  core/loader/rss.ts
  core/refresh.ts
  core/test/loader/rss.test.ts
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Fix text editor warning about types
  tsconfig.json
Due: none

Update pnpm and use new trustPolicyIgnoreAfter to avoid allow-list
  .devcontainer/Dockerfile
  core/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/.browserslistrc
  web/package.json
Due: none

feat: add credits button to About page with dynamic contributor list and styling
  core/messages/about/en.ts
  core/pages/about.ts
  core/pages/contributors.ts
  web/pages/about.svelte
  web/public/h+h-logo.png
Due: prettier --write, stylelint --fix

Update svelte-fast-check
  package.json
  pnpm-lock.yaml
Due: none

Remove hack since the issue was fixed
  eslint.config.ts
Due: none

Export types used in props
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Improve proxy types
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

FIx script types
  scripts/update-env.ts
Due: none

Allow to use GitHub API for Socket workflow
  .github/workflows/audit.yml
Due: none

Move to tsgo for Svelte
  .github/workflows/main.yml
  eslint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-types.sh
  web/.gitignore
  web/package.json
  web/tsconfig.json
Due: none

Add tsgo
  package.json
  pnpm-lock.yaml
  scripts/check-types.sh
Due: none

Separated TS settings and TS tools per projects
  .gitignore
  api/tsconfig.json
  core/tsconfig.json
  eslint.config.ts
  extension/tsconfig.json
  loader-tests/tsconfig.json
  nano-staged.json
  package.json
  pnpm-lock.yaml
  proxy/tsconfig.json
  scripts/check-types.sh
  scripts/tsconfig.json
  server/tsconfig.json
  tsconfig.json
  web/package.json
  web/tsconfig.json
Due: none

Fix ts-file check in web project
  scripts/check-types.sh
Due: none

Update dependencies to reduce subdependencies of svelte-fast-check
  .devcontainer/Dockerfile
  package.json
  pnpm-lock.yaml
  web/.browserslistrc
  web/package.json
Due: none

Remove loaders test from main test since it is very heavy and should be run on CI
  .github/workflows/test-loaders.yml
  loader-tests/package.json
Due: none

Wrap date parsing in try-catch for proxy caching
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Add If-Modified-Since header at loader level
  core/feed.ts
  core/loader/common.ts
  core/loader/rss.ts
  core/test/loader/rss.test.ts
Due: none

Support If-Modified-Since header for Atom feed caching
  core/loader/atom.ts
  core/test/loader/atom.test.ts
Due: none

Rewrite 304 response test as behavior test
  core/test/loader/rss.test.ts
Due: none

Support If-Modified-Since header for JSON feed caching
  core/loader/json-feed.ts
  core/test/loader/json-feed.test.ts
Due: none

Allow null for body in RequestMock.andRespond
  core/request.ts
  core/test/loader/rss.test.ts
Due: none

Improve warning message for skipped cache checks
  proxy/index.ts
Due: none

Fix types in proxy tests
  proxy/test/index.test.ts
Due: none

Fix nano-staged and check types
  scripts/check-types.sh
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
