Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Tune CTA button design
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add serif font and titles
  core/messages/start/en.ts
  pnpm-lock.yaml
  web/.size-limit.json
  web/main/fonts.css
  web/package.json
  web/pages/start.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Imporove CI runner security with StepSecurity Harden Runner
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
Due: none

Add network host allow-list workflows where it is possible
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
Due: none

Add docs about Harden Runner
  README.md
Due: none

Add extra hosts
  .github/workflows/audit.yml
  .github/workflows/format.yml
  .github/workflows/proxy.yml
Due: none

Unlock more network host
  .github/workflows/audit.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
Due: none

Unlock more network host
  .github/workflows/proxy.yml
Due: none

Move to new Dockerfile syntax
  .devcontainer/Dockerfile
  proxy/Dockerfile
  scripts/check-versions.ts
  scripts/update-env.ts
  server/Dockerfile
Due: none

Fix Node.js/pnpm update script
  scripts/update-env.ts
Due: none

Unlock more network host
  .github/workflows/server.yml
Due: none

Imporove CI runner security with StepSecurity Harden Runner (#305)
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  README.md
Due: none

Move Svelte config to TS
  web/svelte.config.ts
Due: none

Add user ID and password validation to server
  api/README.md
  api/index.ts
  api/validators/auth.ts
  core/lib/validators.ts
  server/modules/auth.ts
  server/test/auth.test.ts
  server/test/sync.test.ts
Due: none

Move refresh status to popup
  core/pages/index.ts
  core/popups/index.ts
  core/popups/refresh.ts
  core/router.ts
  core/test/comfort.test.ts
  core/test/popups/refresh.test.ts
  core/test/router.test.ts
  core/test/utils.ts
  web/.size-limit.json
  web/stores/router.ts
Due: none

Add all core API to browser devtools
  web/main/devtools.ts
Due: none

Fix refression after adding <link> between <title> and <style>
  web/main/index.ts
Due: none

Fix size limit
  web/.size-limit.json
Due: none

Add helper to convert credentials to secret string
  core/auth.ts
  core/test/pages/start.test.ts
Due: none

Test that real credentials will pass validation to avoid regression on credentials format changes
  core/test/auth.test.ts
  core/test/lib/validators.test.ts
Due: none

Sync error codes between client and server
  api/http/signin.ts
  api/http/signup.ts
  core/messages/start/en.ts
  core/pages/start.ts
  core/test/pages/start.test.ts
  server/modules/auth.ts
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Reset error on custom server field changes too
  core/pages/start.ts
Due: none

Add syntax sugar to add new random password to credentials when we are creating user later
  core/auth.ts
  core/test/auth.test.ts
Due: none

Fix session managment on sign-in and sign-out
  core/auth.ts
  core/environment.ts
  core/test/auth.test.ts
Due: none

Allow extra network host on CI
  .github/workflows/visual.yml
Due: none

Add sign-up page logic
  core/messages/index.ts
  core/messages/signup/en.ts
  core/pages/index.ts
  core/pages/signup.ts
  core/test/pages/signup.test.ts
  core/test/pages/start.test.ts
Due: none

Move test tools to separated export
  core/.c8rc.json
  core/auth.ts
  core/environment.ts
  core/package.json
  core/router.ts
  core/test.ts
  core/test/auth.test.ts
  core/test/comfort.test.ts
  core/test/environment.ts
  core/test/lib/download.test.ts
  core/test/loader/json-feed.test.ts
  core/test/menu.test.ts
  core/test/not-found.test.ts
  core/test/pages/add.test.ts
  core/test/pages/redirects.test.ts
  core/test/pages/signup.test.ts
  core/test/pages/start.test.ts
  core/test/popups/feed-url.test.ts
  core/test/popups/post.test.ts
  core/test/router.test.ts
  core/test/utils.ts
  loader-tests/utils.ts
  web/stories/environment.ts
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Update error message check with new dynamic message
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Better TwoOptions design for mobile
  web/ui/two-options.svelte
Due: prettier --write, stylelint --fix

Update loader design
  web/main/loader.css
Due: stylelint --fix

Move label to separeted component to re-use it in other fields
  web/ui/input.svelte
  web/ui/label.svelte
Due: prettier --write, stylelint --fix

Add monospace font and use it in some Input
  pnpm-lock.yaml
  web/.size-limit.json
  web/main/fonts.css
  web/main/index.css
  web/package.json
  web/stories/ui/input.stories.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Update CSP header after loader styles changes
  web/nginx.conf
Due: none

Merge sign-in and sign-up messages since they re-use many messages
  core/messages/auth/en.ts
  core/messages/index.ts
  core/messages/signup/en.ts
  core/pages/signup.ts
  core/pages/start.ts
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
Due: prettier --write, stylelint --fix

Update way to set user in Storybook
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Move to root page UI components concept
  web/pages/start.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Add Output component to show text to copy without a way to edit it
  web/stories/ui/output.stories.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add basic sign-up page
  core/pages/signup.ts
  web/main/main.svelte
  web/pages/signup.svelte
  web/stories/pages/signup.stories.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  .github/workflows/audit.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/preview-clean.yml
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/test-loaders.yml
  .github/workflows/visual.yml
  extension/package.json
  package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
  server/package.json
  web/.size-limit.json
  web/package.json
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
