Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Move focus to page after selecting submenu item
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Add keyboard navigation hint for radio
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Disable keyboard hints on request for submenu and radio
  web/ui/navbar/item.svelte
  web/ui/navbar/submenu.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Fix card shadow in dark
  web/main/colors.css
Due: stylelint --fix

Update TypeScript
  package.json
  pnpm-lock.yaml
Due: none

Move PostCSS plugins to separated dir
  web/.postcssrc.json
  web/postcss/svelte-nesting-css-fixer.cjs
  web/postcss/vars-cleaner.ts
  web/scripts/clean-vars.ts
Due: none

Fix types in CJS plugin for PostCSS
  web/postcss/svelte-nesting-css-fixer.cjs
Due: none

Fix button story card paddings
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Avoid PostCSS transformation for <style> and only minify it
  web/.postcssrc.json
  web/postcss/html-keeper.cjs
Due: none

Add Prettier for .cjs files
  nano-staged.json
Due: none

Move to custom dark/light theme classes plugin to change them in the middle of DOM
  pnpm-lock.yaml
  web/.postcssrc.json
  web/index.html
  web/main/colors.css
  web/package.json
  web/postcss/theme-classes.cjs
  web/test/theme-classes.test.ts
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Use 2 words for global modifiers
  web/.storybook/preview.ts
  web/index.html
  web/main/browser.ts
  web/main/colors.css
  web/main/index.css
  web/postcss/theme-classes.cjs
  web/test/theme-classes.test.ts
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Fix manual theme classes
  web/index.html
Due: none

Remove custom CSS for loading state
  web/main/index.ts
Due: none

Show error in development on hotkey conflict
  web/lib/hotkeys.ts
Due: none

Add UnderConstruction to mark parts for future development
  web/pages/welcome.svelte
  web/ui/under-construction.svelte
Due: prettier --write, stylelint --fix

Fix hotkey check
  web/lib/hotkeys.ts
Due: none

Add test runner to per-project dependencies for better project isolation
  core/package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update type dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add minimum design to profile and about pages
  core/messages/about/en.ts
  core/messages/index.ts
  core/messages/profile/en.ts
  core/messages/settings/en.ts
  web/main/common.css
  web/pages/about.svelte
  web/pages/profile.svelte
  web/stories/ui/card.stories.svelte
  web/ui/card-title.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary theme class case
  web/postcss/theme-classes.cjs
  web/test/theme-classes.test.ts
Due: none

Fix slow theme edge case
  web/postcss/theme-classes.cjs
  web/test/theme-classes.test.ts
Due: none

Update Storybook
  pnpm-lock.yaml
  web/package.json
Due: none

Add Under Construction notes to unfinished settings pages
  web/pages/about.svelte
  web/pages/profile.svelte
  web/ui/under-construction.svelte
Due: prettier --write, stylelint --fix

Remove ugly padding from end of the card with radio in the end
  web/main/colors.css
  web/pages/interface.svelte
  web/pages/load.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Rename application loading to starting to separate from other loading/load
  core/app-loading.ts
  core/index.ts
  core/starting.ts
  core/test/starting.test.ts
  web/main/main.svelte
  web/pages/starting.svelte
  web/stories/pages/starting.stories.svelte
Due: prettier --write, stylelint --fix

Rename load to download to avoid name conflict with loading
  core/messages/settings/en.ts
  core/router.ts
  web/main/main.svelte
  web/pages/download.svelte
  web/stores/router.ts
  web/stories/pages/download.stories.svelte
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix

Add custom envrionment for stories for better stability and avoinding persistent storage
  .eslintrc
  pnpm-lock.yaml
  web/.storybook/preview.ts
  web/main/browser.ts
  web/main/environment.ts
  web/package.json
  web/stories/environment.ts
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Fix <Scene> order and use network type in download page stories
  web/pages/download.svelte
  web/stories/environment.ts
  web/stories/pages/download.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Remove debug code
  web/pages/download.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Update Vite and Prettier
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Clean up tests with feed fixture
  core/feed.ts
  core/test/category.test.ts
  core/test/preview.test.ts
  core/test/refresh.test.ts
  core/test/router.test.ts
Due: none

Typo
  web/main/environment.ts
Due: none

Remove debug code
  web/stories/environment.ts
Due: none

Hide Refresh button on no feeds to no confuse new users
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Select link by Space key too
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Fix types
  core/feed.ts
Due: none

Fix addFeed support of testFeed
  core/feed.ts
Due: none
