Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Use compressed media queries in JS
  web/stores/pointer.ts
Due: none

Disable animations on requests or by system settings
  core/messages/settings/en.ts
  core/settings.ts
  web/.size-limit.json
  web/main/browser.ts
  web/main/index.css
  web/main/loader.css
  web/pages/interface.svelte
  web/stores/animations.ts
  web/stories/pages/interface.stories.svelte
  web/stories/scene.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Add settings to disable animations and cursor reactions
  core/messages/settings/en.ts
  core/package.json
  core/pages/export.ts
  core/settings.ts
  core/test/pages/export.test.ts
  core/test/settings.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/index.html
  web/main/browser.ts
  web/main/index.css
  web/nginx.conf
  web/package.json
  web/pages/interface.svelte
  web/postcss.config.ts
  web/postcss/pointer.ts
  web/postcss/quiet-cursor.ts
  web/postcss/reduced-motion.ts
  web/postcss/theme-classes.ts
  web/stores/animations.ts
  web/stores/pointer.ts
  web/stores/reduced-motion.ts
  web/stories/pages/interface.stories.svelte
  web/stories/scene.svelte
  web/stories/ui/loader.stories.svelte
  web/ui/loader.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix allow-list of quick updates
  pnpm-workspace.yaml
Due: none

Ru-use more contants between styles
  web/main/sizes.css
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Add wide radio blocks
  web/pages/interface.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

More visible invalid input
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Don’t break word if it is not necessary
  web/ui/button.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Update dependencies to fix vite vulnerability
  api/package.json
  core/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

Add switch control
  core/messages/settings/en.ts
  web/main/colors.css
  web/main/sizes.css
  web/pages/interface.svelte
  web/stories/ui/switch.stories.svelte
  web/ui/switch.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/paper.svelte
Due: prettier --write, stylelint --fix

Prevent selector prefix duplicating
  web/postcss/quiet-cursor.ts
Due: none

Typo
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Simpler and more accurate (no duplication) is-reduced-motion CSS transforms
  web/postcss/reduced-motion.ts
  web/postcss/theme-classes.ts
Due: none

Move all media query stores to single file
  web/main/browser.ts
  web/main/environment.ts
  web/pages/interface.svelte
  web/stores/mobile.ts
  web/stores/page-theme.ts
  web/stores/reduced-motion.ts
  web/stories/pages/interface.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Prevent :hover on touch devices to disable sticky :hover after the click
  web/main/browser.ts
  web/postcss/quiet-cursor.ts
  web/stores/media-queries.ts
Due: none

Add comment for hack
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix button shadows
  web/main/colors.css
  web/ui/navbar/index.svelte
  web/ui/radio.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Tune animations by adding easings and move them to CSS tokens
  web/main/animations.css
  web/main/index.css
  web/main/sizes.css
  web/pages/download.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/radio.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Make focus animation longer to make it more visible
  web/main/animations.css
  web/main/index.css
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Move padding padding to design tokens
  web/main/sizes.css
  web/ui/navbar/index.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Typo
  core/messages/auth/en.ts
Due: none

Moved to media breaking points to design tokens
  web/main/index.css
  web/main/sizes.css
  web/postcss.config.ts
  web/postcss/custom-media.ts
  web/ui/navbar/button.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/sync.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Tune page styles
  web/main/index.css
  web/main/sizes.css
  web/ui/navbar/index.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Fix unused CSS custom property
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix Input#onchnage type
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add Input without label
  web/stories/ui/input.stories.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add base add page style
  web/main/main.svelte
  web/main/sizes.css
  web/pages/add.svelte
  web/stories/pages/add.stories.svelte
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

UNify top bright corner
  web/main/colors.css
Due: stylelint --fix

Fix regression after page style refactoring
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Make fonts bigger on very big screen
  web/main/sizes.css
Due: stylelint --fix

refactor(i18n): polish English UI texts and unify tone across app
  core/messages/about/en.ts
  core/messages/add/en.ts
  core/messages/auth/en.ts
  core/messages/common/en.ts
  core/messages/export/en.ts
  core/messages/fast/en.ts
  core/messages/import/en.ts
  core/messages/navbar/en.ts
  core/messages/not-found/en.ts
  core/messages/organize/en.ts
  core/messages/profile/en.ts
  core/messages/settings/en.ts
  core/messages/slow/en.ts
  web-archive/pages/feeds/import.svelte
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Fix storybook regression after page style refactoring
  web/.storybook/preview-head.html
Due: none

Add description to add feed page
  core/messages/add/en.ts
  web/main/colors.css
  web/pages/add.svelte
  web/pages/not-found.svelte
  web/ui/input.svelte
  web/ui/page-icon.svelte
  web/ui/placeholder.svelte
  web/ui/popupable-page.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Fix message
  core/messages/about/en.ts
Due: none

Fix message for mobile
  core/messages/settings/en.ts
Due: none

Make text smaller to fix UI
  core/messages/settings/en.ts
Due: none

Fix message
  core/messages/auth/en.ts
Due: none

Fix line breaks
  core/messages/auth/en.ts
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
