Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Clean up code style
  extension/build.js
  extension/src/background.ts
  extension/vite.config.ts
Due: none

Fix CI
  extension/build.js
  extension/build.ts
  extension/package.json
  extension/vite.config.ts
  tsconfig.json
Due: none

Avoid hacks with JSON files
  extension/build.ts
  extension/manifest.config.ts
  extension/manifest.dev.json
  extension/manifest.json
  extension/manifest.prod.json
  extension/package.json
  extension/vite.config.ts
Due: none

Normalize script names
  extension/README.md
  extension/package.json
Due: none

Add link from main docs
  README.md
Due: none

Normalize docs
  extension/README.md
Due: none

Use real arrow
  extension/README.md
Due: none

Move sources to root
  extension/README.md
  extension/api.ts
  extension/background.ts
  extension/config.ts
  extension/manifest.config.ts
  extension/vite-env.d.ts
Due: none

We do not need import JSON anymore
  tsconfig.json
Due: none

Fix markdown linter warning by adding syntax highlight to code block
  extension/README.md
Due: none

Update pnpm
  .devcontainer/Dockerfile
  package.json
Due: none

Fix preview deploy
  .github/workflows/preview-prepare.yml
Due: none

Refactor colors
  core/messages/navbar/en.ts
  web/main/colors.css
  web/ui/button.svelte
  web/ui/hotkey.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Fix CSS code format
  web/main/colors.css
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Change name of tabs
  core/messages/navbar/en.ts
  web/ui/hotkey.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix build
  web/main/colors.css
Due: stylelint --fix

Normalize package.json
  extension/package.json
  tsconfig.json
Due: none

Fix types
  extension/src/api.ts
  extension/src/background.ts
Due: none

Integrate extension to pnpm monorepo
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Adds Slowreader Chrome extension (#234)
  eslint.config.js
  extension/.env
  extension/.env.dev.example
  extension/.env.example
  extension/.gitignore
  extension/README.md
  extension/build.js
  extension/manifest.dev.json
  extension/manifest.json
  extension/manifest.prod.json
  extension/package.json
  extension/src/api.ts
  extension/src/background.ts
  extension/src/config.ts
  extension/src/vite-env.d.ts
  extension/vite.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

Ignore preview deploy on extension changes
  .github/workflows/preview-close.yml
  .github/workflows/preview-prepare.yml
Due: none

Move other colors to new structure without big changes since we are waiting bigger redesign
  web/main/colors.css
Due: stylelint --fix

Fix code format
  web/main/colors.css
Due: stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
