Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Add more ESLint rules to Svelte
  .eslintrc
  web/pages/organize/edit.svelte
  web/pages/organize/feed.svelte
  web/pages/organize/menu.svelte
  web/pages/organize/posts.svelte
  web/pages/preview.svelte
  web/pages/start.svelte
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Move PostCSS config to ESM
  web/postcss.config.cjs
  web/postcss.config.js
Due: none

Fix oklch() for old browsers
  pnpm-lock.yaml
  web/package.json
  web/postcss.config.js
Due: none

Fix imports order
  web/postcss.config.js
Due: none

Remove unnecessary dependencies
  pnpm-lock.yaml
  web/package.json
Due: none

Clean up dependencies in package.json
  core/package.json
  pnpm-lock.yaml
Due: none

Remove unnecessary file
  web/pages/subscriptions.svelte
Due: prettier --write, stylelint --fix

Remove unnecessary ESLint setting for old Svelte plugin
  .eslintrc
Due: none

Add media type to posts
  core/loader/atom.ts
  core/loader/rss.ts
  core/post.ts
  core/preview.test.ts
Due: none

Add ESLint plugin for uvu
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: none

Fix tests
  core/loader/atom.test.ts
  core/loader/rss.test.ts
  core/preview.test.ts
Due: none

Add filters to core
  core/filter.test.ts
  core/filter.ts
  core/index.ts
Due: none

Remove @babel/core from dependencies
  pnpm-lock.yaml
  web/package.json
Due: none

Update TS ESLint
  package.json
  pnpm-lock.yaml
Due: none

Add UIPostCard
  web/pages/organize/posts.svelte
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Update pnpm
  .tool-versions
Due: none

Update size limit
  web/.size-limit.json
Due: none

Update Node.js
  .tool-versions
  package.json
Due: none

Use more narrow imports in loaders
  core/loader/atom.ts
  core/loader/rss.ts
  core/loader/utils.ts
Due: none

Update types in tests
  core/filter.test.ts
  core/post.ts
  core/preview.test.ts
  core/request.test.ts
Due: none

Clean up code
  core/preview.ts
  core/utils/stores.ts
Due: none

Update Size Limit and ESLint plugins
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Update ESLint config
  .eslintrc
  package.json
  pnpm-lock.yaml
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Add dependencies explicitly
  package.json
  pnpm-lock.yaml
Due: none

Update ESLint config
  package.json
  pnpm-lock.yaml
Due: none

Refactor posts loading to a special posts page
  core/index.ts
  core/loader/atom.test.ts
  core/loader/atom.ts
  core/loader/index.ts
  core/loader/rss.test.ts
  core/loader/rss.ts
  core/posts-page.test.ts
  core/posts-page.ts
  core/preview.test.ts
  core/preview.ts
  web/.size-limit.json
  web/pages/organize/posts.svelte
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Add theme to the app
  core/index.ts
  core/messages/navbar/en.ts
  core/messages/settings/en.ts
  core/router.ts
  core/settings.test.ts
  core/settings.ts
  pnpm-lock.yaml
  web/main/colors.css
  web/main/index.css
  web/main/index.ts
  web/main/main.svelte
  web/package.json
  web/pages/settings.svelte
  web/postcss.config.js
  web/stores/router.ts
  web/ui/navbar.svelte
Due: prettier --write, stylelint --fix

Move PostCSS config to JSON format
  web/.postcssrc.json
  web/postcss.config.js
Due: none

Move tests to subdir
  core/test/client.test.ts
  core/test/download.test.ts
  core/test/error.test.ts
  core/test/feed.test.ts
  core/test/filter.test.ts
  core/test/i18n.test.ts
  core/test/loader/atom.test.ts
  core/test/loader/rss.test.ts
  core/test/organize.test.ts
  core/test/posts-page.test.ts
  core/test/preview.test.ts
  core/test/request.test.ts
  core/test/router.test.ts
  core/test/settings.test.ts
Due: none

Add CSS nesting support
  pnpm-lock.yaml
  web/.postcssrc.json
  web/package.json
Due: none

Fix dark theme
  web/main/index.css
Due: stylelint --fix

Simplify check scripts
  package.json
Due: none

Add check script for missed tests
  scripts/check-focused-tests.js
Due: none

Add setupEnvironment()
  core/client.ts
  core/i18n.ts
  core/index.ts
  core/package.json
  core/router.ts
  core/setup.ts
  core/test/client.test.ts
  core/test/feed.test.ts
  core/test/filter.test.ts
  core/test/i18n.test.ts
  core/test/organize.test.ts
  core/test/preview.test.ts
  core/test/router.test.ts
  core/test/settings.test.ts
  pnpm-lock.yaml
  web/main/environment.ts
  web/main/index.ts
  web/package.json
  web/stores/locale.ts
  web/stores/log.ts
  web/stores/router.ts
Due: none

Update ESLint plugins
  package.json
  pnpm-lock.yaml
Due: none

Update ESLint Svelte plugin
  package.json
  pnpm-lock.yaml
Due: none

Simplify feed adding by moving feed editing after creating
  core/loader/atom.ts
  core/loader/rss.ts
  core/posts-page.ts
  core/preview.ts
  core/test/posts-page.test.ts
  core/test/preview.test.ts
  web/pages/organize/edit.svelte
  web/pages/organize/feed.svelte
  web/pages/preview.svelte
Due: prettier --write, stylelint --fix

Remove debug code
  web/pages/organize/edit.svelte
Due: prettier --write, stylelint --fix

Add UiRadio
  web/pages/settings.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
