Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Fix removing category and move feeds to general
  core/category.ts
  core/test/pages/feeds-by-categories.test.ts
Due: none

Prevent float where we expect only number
  core/feed.ts
Due: none

Fix regression of not deleting feeds
  core/category.ts
Due: none

Show refreshing status in navbar icon
  core/messages/navbar/en.ts
  core/popups/refresh.ts
  core/refresh.ts
  core/test/popups/refresh.test.ts
  core/test/refresh.test.ts
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/announce.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Remove scrollbars if content fits popup
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Combine 2 components into the single one
  web/pages/add.svelte
  web/ui/no-feeds.svelte
  web/ui/page-icon.svelte
  web/ui/placeholder.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Prevent absolute import in IDE
  api/tsconfig.json
  core/tsconfig.json
  extension/tsconfig.json
  loader-tests/tsconfig.json
  proxy/tsconfig.json
  server/tsconfig.json
  web/tsconfig.json
Due: none

Use scalable CSS units
  web/ui/note.svelte
Due: prettier --write, stylelint --fix

Fix destroing closing popup
  core/opened-popups.ts
Due: none

Add refresh popup
  core/lib/queue.ts
  core/messages/refresh/en.ts
  core/popups/refresh.ts
  core/refresh.ts
  core/test/popups/refresh.test.ts
  core/test/refresh.test.ts
  web/.size-limit.json
  web/.stylelintrc.json
  web/main/fonts.css
  web/main/main.svelte
  web/popups/refresh.svelte
  web/stories/popups/refresh.stories.svelte
  web/stories/scene.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/feed-errors.svelte
  web/ui/loader.svelte
  web/ui/navbar/index.svelte
  web/ui/posts-numbers.svelte
Due: prettier --write, stylelint --fix

Show popups stack
  core/opened-popups.ts
  web/main/main.svelte
  web/stories/popups/loading.stories.svelte
  web/ui/popup-shadow.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Show popups stack only on big screens
  web/.storybook/preview.ts
  web/main/sizes.css
  web/stories/popups/loading.stories.svelte
  web/ui/popup-shadow.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Remove iPad viewport since Storybook built-in viewports have better options
  web/.storybook/preview.ts
Due: none

Use production CSP header during the development to test it
  web/vite.config.ts
Due: none

Fix scroll on mobile on auth pages
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Simplify parsing rich translation with links
  core/lib/html.ts
  core/test/lib/html.test.ts
  web/ui/rich-text.svelte
Due: prettier --write, stylelint --fix

Fix the issues when Svelte stop rendings on for-loop ID duplicate
  core/popups/common.ts
  web/main/main.svelte
  web/popups/feed.svelte
  web/popups/loading.svelte
  web/popups/not-found.svelte
Due: prettier --write, stylelint --fix

Fix test coverage
  core/test/popups/feed.test.ts
Due: none

Fix content overflow
  web/stories/popups/refresh.stories.svelte
  web/ui/feed-errors.svelte
Due: prettier --write, stylelint --fix

Simplify Links component
  web/ui/feeds.svelte
  web/ui/links.svelte
  web/ui/posts.svelte
Due: prettier --write, stylelint --fix

Fix flat buttons style
  web/main/colors.css
Due: stylelint --fix

Unify page components props
  web/pages/not-found.svelte
  web/pages/signup.svelte
  web/pages/start.svelte
  web/ui/thin-page.svelte
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Add export page
  core/messages/export/en.ts
  core/pages/export.ts
  core/test/pages/export.test.ts
  core/test/pages/import.test.ts
  web/lib/file.ts
  web/main/main.svelte
  web/pages/export.svelte
  web/stories/pages/export.stories.svelte
Due: prettier --write, stylelint --fix

Hide unknown at rule warning
  web/ui/feed-errors.svelte
  web/ui/links.svelte
  web/ui/navbar/button.svelte
  web/ui/popup-shadow.svelte
  web/ui/popup.svelte
  web/ui/radio.svelte
  web/ui/select.svelte
  web/ui/switch.svelte
Due: prettier --write, stylelint --fix

Update size limit
  web/.size-limit.json
Due: none

Do not use LLM for simple ESLint autofixable issues
  AGENTS.md
Due: none

Typo
  web/main/environment.ts
Due: none

Move saving files in export to environment to move more code to the core
  core/environment.ts
  core/pages/export.ts
  core/test.ts
  core/test/pages/export.test.ts
  core/test/pages/import.test.ts
  web/lib/file.ts
  web/main/environment.ts
  web/pages/export.svelte
Due: prettier --write, stylelint --fix

Add current time to export file
  core/pages/export.ts
  core/test/pages/export.test.ts
Due: none

Reset pages state in Storybook to fix state lock on stories switching
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Remove more legacy web client files which already moved to new system
  web-archive/pages/feeds/add.svelte
  web-archive/pages/feeds/categories.svelte
  web-archive/pages/feeds/edit.svelte
  web-archive/pages/feeds/export.svelte
  web-archive/pages/feeds/internal.svelte
  web-archive/pages/feeds/list.svelte
  web-archive/pages/feeds/opml.svelte
  web-archive/pages/feeds/posts.svelte
  web-archive/pages/not-found.svelte
  web-archive/stories/environment.ts
  web-archive/stories/pages/feeds/categories.stories.svelte
  web-archive/stories/pages/feeds/export.stories.svelte
  web-archive/stories/pages/refresh.stories.svelte
Due: prettier --write, stylelint --fix

Fix centered two panel regression on mobile
  web/ui/two-options-page.svelte
Due: prettier --write, stylelint --fix

Add progress loader to button
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add bold to RichText
  core/lib/html.ts
  core/test/lib/html.test.ts
Due: none

Update button stories
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Make paragraph in RichText more visible
  web/ui/rich-text.svelte
Due: prettier --write, stylelint --fix

Return button loader lable support
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Make error list more universal
  web/popups/refresh.svelte
  web/ui/error-list.svelte
Due: prettier --write, stylelint --fix

Add File component
  web/stories/ui/file.stories.svelte
  web/ui/button.svelte
  web/ui/file.svelte
Due: prettier --write, stylelint --fix

Add better quick tests tool for LLM
  AGENTS.md
  README.md
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
