Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Re-use workflow steps
  .github/actions/init-node/action.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
Due: none

Typo
  .github/workflows/main.yml
Due: none

Fix dependabot config syntax
  .github/dependabot.yml
Due: none

Fix conflict between preview and staging images
  .github/workflows/server.yml
Due: none

Match Dockerfile version correctly
  scripts/check-versions.ts
Due: none

Match Dockerfile version correctly (#251)
  scripts/check-versions.ts
Due: none

Fix missed state
  web/pages/feeds/edit.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  extension/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Move to custom PostCSS processor for Svelte
  pnpm-lock.yaml
  web/package.json
  web/svelte.config.js
Due: none

Clean up code
  web/scripts/check-styles.ts
Due: none

Move to global CSS to support user styles
  docs/new_page.md
  web/pages/busy.svelte
  web/pages/fast.svelte
  web/pages/feeds/add.svelte
  web/pages/feeds/categories.svelte
  web/pages/feeds/edit.svelte
  web/pages/feeds/import.svelte
  web/pages/feeds/internal.svelte
  web/pages/feeds/list.svelte
  web/pages/feeds/opml.svelte
  web/pages/feeds/posts.svelte
  web/pages/slow.svelte
  web/pages/start.svelte
  web/scripts/check-styles.ts
  web/ui/button.svelte
  web/ui/card-actions.svelte
  web/ui/card-link.svelte
  web/ui/card-links.svelte
  web/ui/card.svelte
  web/ui/formatted-text.svelte
  web/ui/hotkey.svelte
  web/ui/icon.svelte
  web/ui/loader.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/fireplace.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/progress.svelte
  web/ui/page-title.svelte
  web/ui/page.svelte
  web/ui/pagination-bar.svelte
  web/ui/paragraph.svelte
  web/ui/post-card.svelte
  web/ui/radio-field.svelte
  web/ui/rich-translation.svelte
  web/ui/row.svelte
  web/ui/select-field.svelte
  web/ui/text-field.svelte
  web/ui/two-steps-page.svelte
  web/ui/under-construction.svelte
Due: prettier --write, stylelint --fix

Remove debug code
  web/pages/busy.svelte
Due: prettier --write, stylelint --fix

Fix Stylelint ignore path
  web/.stylelintrc
Due: none

Fix conflict between Stylelint and Prettier
  web/.stylelintrc
Due: none

Move PostCSS plugins to TypeScript
  pnpm-lock.yaml
  tsconfig.json
  web/.postcssrc.json
  web/package.json
  web/postcss.config.cts
  web/postcss/html-keeper.cts
  web/postcss/pseudo-classes.cts
  web/postcss/svelte-nesting-css-fixer.cts
  web/postcss/theme-classes.cjs
  web/postcss/theme-classes.cts
  web/test/theme-classes.test.ts
Due: none

Move from JS to JSON config for Remark to reduce non-TS code
  .remarkrc
  .remarkrc.js
  README.md
Due: none

Update docs
  proxy/README.md
  server/README.md
  web/README.md
Due: none

Add Podman to docs
  README.md
Due: none

Remove Harmony since we are going to manually built colors
  pnpm-lock.yaml
  web/main/colors.css
  web/package.json
  web/postcss/vars-checker.ts
  web/scripts/check-css.ts
  web/test/vars-cleaner.test.ts
Due: stylelint --fix

Add Drizzle Studio
  server/README.md
  server/drizzle.config.ts
  server/package.json
Due: none

Deploy preview on server and proxy changes
  .github/workflows/preview-close.yml
  .github/workflows/preview-prepare.yml
Due: none

Fix loader animation name
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Refactor BEM linter
  web/package.json
  web/scripts/check-names.ts
Due: none

Check keyframes isolation
  web/pages/feeds/import.svelte
  web/scripts/check-names.ts
  web/ui/navbar/fireplace.svelte
Due: prettier --write, stylelint --fix

Refactor CSS props checker script and remove root merger because it breaks theme
  web/package.json
  web/postcss/props-checker.ts
  web/postcss/roots-merger.ts
  web/scripts/check-css-props.ts
  web/scripts/check-css.ts
  web/test/roots-merger.test.ts
Due: none

Update script description
  web/scripts/check-css-props.ts
Due: none

Refactor CSS names linter
  web/scripts/check-names.ts
Due: none
