Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Fix redirects
  core/current-page.ts
  core/pages/sign-up.ts
  core/test/pages/redirects.test.ts
  core/test/pages/sign-up.test.ts
Due: none

Fix welcome screen on feed pages in demo mode
  core/feed.ts
  core/pages/feeds.ts
  core/test/feed.test.ts
  core/test/pages/feeds.test.ts
  core/test/pages/redirects.test.ts
  core/test/utils.ts
  web/stories/pages/feeds-by-categories.stories.svelte
  web/stories/pages/feeds.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Fix demo for Safari
  web/README.md
  web/public/copy-demo-db/index.js
  web/public/copy-demo-db/worker.js
Due: none

Show empty Fast category view
  core/menu.ts
  core/messages/welcome/en.ts
  core/pages/feeds.ts
  core/readers/empty.ts
  core/test/pages/feeds.test.ts
  web/pages/feeds/empty.svelte
  web/stories/pages/feeds.stories.svelte
Due: prettier --write, stylelint --fix

Add proper SVG favicon for landings pages too
  landings/root/root.html
Due: none

Use dev version of icon on running the app locally
  web/vite.config.ts
Due: none

Try to reduce comments and use more describable names
  AGENTS.md
Due: none

Simplify Mark as Read
  core/lib/stores.ts
  core/pages/feeds.ts
  core/post.ts
  core/readers/common.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/test/pages/feeds.test.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  web/pages/feeds/feed.svelte
  web/pages/feeds/list.svelte
Due: prettier --write, stylelint --fix

Faster hasFeed store
  core/auth.ts
  core/feed.ts
  core/schema.ts
  core/test/utils.ts
  web/stories/pages/feeds-by-categories.stories.svelte
  web/stories/pages/feeds.stories.svelte
  web/stories/scene.svelte
  web/vite.config.ts
Due: prettier --write, stylelint --fix

Try to fix double scroll on mobile
  web/main/browser.ts
  web/main/index.css
Due: stylelint --fix

Move copy-demo-db to Vite
  web/.size-limit.json
  web/README.md
  web/copy-demo-db/index.css
  web/copy-demo-db/index.html
  web/copy-demo-db/index.ts
  web/copy-demo-db/opfs-worker.ts
  web/global.d.ts
  web/public/copy-demo-db/index.css
  web/public/copy-demo-db/worker.js
Due: stylelint --fix

Fix category titles in demo
  web/scripts/demo-feeds.opml
Due: none

Try to fix horizontal overscroll on mobile
  web/main/index.css
  web/ui/feed/post.svelte
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

Make tests closer to reality
  core/test.ts
  core/test/auth.test.ts
  core/test/busy.test.ts
  core/test/demo.test.ts
  core/test/errors.test.ts
  core/test/feed.test.ts
  core/test/filter.test.ts
  core/test/loader/atom.test.ts
  core/test/log.test.ts
  core/test/menu.test.ts
  core/test/modes.test.ts
  core/test/pages/about.test.ts
  core/test/pages/add.test.ts
  core/test/pages/cloud.test.ts
  core/test/pages/export.test.ts
  core/test/pages/fatal.test.ts
  core/test/pages/feeds-by-categories.test.ts
  core/test/pages/feeds.test.ts
  core/test/pages/import.test.ts
  core/test/pages/redirects.test.ts
  core/test/pages/relogin.test.ts
  core/test/pages/sign-up.test.ts
  core/test/pages/start.test.ts
  core/test/pages/storage.test.ts
  core/test/popups.test.ts
  core/test/popups/feed.test.ts
  core/test/popups/post.test.ts
  core/test/popups/refresh.test.ts
  core/test/post.test.ts
  core/test/readers/feed.test.ts
  core/test/readers/list.test.ts
  core/test/refresh.test.ts
  core/test/router.test.ts
  core/test/schema.test.ts
  core/test/utils.ts
  loader-tests/utils.ts
  web/scripts/build-demo-db.ts
Due: none

Rename label to use the same naming as `run-preview`
  .github/workflows/preview-close.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-prepare.yml
Due: none

Make tests closer to browser
  core/popups/feed.ts
  core/test/menu.test.ts
  core/test/pages/add.test.ts
  core/test/pages/fatal.test.ts
  core/test/popups.test.ts
  core/test/popups/feed.test.ts
  core/test/router.test.ts
  core/test/utils.ts
Due: none

Add HN to demo posts
  web/scripts/demo-feeds.opml
Due: none

Update dependencies
  .devcontainer/Dockerfile
  .node-version
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/.browserslistrc
  web/Dockerfile
  web/package.json
Due: none

Fix landing header on mobile
  landings/README.md
  landings/root/root.css
  landings/root/root.html
  landings/root/root.js
  web/copy-demo-db/index.css
  web/main/colors.css
  web/main/index.css
Due: stylelint --fix

Fix shadow
  landings/root/root.css
Due: stylelint --fix

Fix bottom header issues on mobile
  landings/root/root.css
  landings/root/root.html
  landings/root/root.js
Due: stylelint --fix

Fix paddings
  landings/root/root.css
Due: stylelint --fix

Try fo fix iPhone paddings
  landings/root/root.css
Due: stylelint --fix

Another way to blend into iOS
  .stylelintrc.json
  landings/postcss.config.ts
  landings/postcss/top-color.ts
  landings/root/root.css
Due: stylelint --fix

Update PostCSS plughin
  landings/postcss/top-color.ts
Due: none

Fix iOS sections
  landings/root/root.css
Due: stylelint --fix

Add theme-color to landing
  landings/root/root.js
Due: none

No runtime theme-color
  landings/postcss/top-color.ts
  landings/root/root.html
  landings/root/root.js
  landings/vite/images.ts
Due: none

Update theme-color on section scroll
  landings/postcss/top-color.ts
  landings/root/root.html
  landings/root/root.js
  landings/vite/images.ts
Due: none

Avoid gradient between sections
  landings/root/root.css
  landings/root/root.html
Due: stylelint --fix

Try to fix dynamic theme colors on iOS
  landings/root/root.js
Due: none

Another way to fix dynamic theme of section scroll on iOS
  landings/root/root.js
Due: none

Try to use rgb() for dynamic theme in iOS
  landings/root/root.js
Due: none

No frost glass header
  landings/root/root.css
  landings/root/root.js
Due: stylelint --fix

Return a little frost top header
  landings/root/root.css
Due: stylelint --fix

Move to new Nano Stores Async API
  core/lib/stores.ts
  core/menu.ts
  core/package.json
  core/pages/feeds-by-categories.ts
  core/popups/feed.ts
  core/post.ts
  core/readers/common.ts
  pnpm-lock.yaml
  web/package.json
Due: none

Fix empty fast feed page centering on mobile
  web/stories/pages/feeds.stories.svelte
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Fix storybook envirnment
  web/main/browser.ts
  web/main/environment.ts
  web/stores/restart.ts
Due: none

Simpler start forms design
  core/messages/auth/en.ts
  core/pages/mixins/sign-in.ts
  core/test/pages/start.test.ts
  web/pages/relogin.svelte
  web/pages/start.svelte
  web/stories/pages/start.stories.svelte
  web/ui/sign-in-form.svelte
Due: prettier --write, stylelint --fix

Add nice arts with news feed to demo
  web/scripts/build-demo-db.ts
  web/scripts/demo-feeds.opml
Due: none
