Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Fix navbar and browser UI melting on menu-less app mode
  web/main/index.css
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix issue of hidding navbar on overscroll on iOS
  web/main/index.css
Due: stylelint --fix

Polish navbar style
  web/.stylelintrc.json
  web/main/colors.css
  web/main/fonts.css
  web/postcss/tune-color.ts
  web/ui/button.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Fix CSS Custom Properties check for new --tune-color syntax
  web/postcss/props-checker.ts
Due: none

Fix iOS & webapp UI melting
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix overscroll on iPhone
  web/main/index.css
Due: stylelint --fix

Fix Storybook
  web/.storybook/preview-head.html
Due: none

Fix main button loading state
  web/main/colors.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/inverse-theme.svelte
  web/ui/loader.svelte
Due: prettier --write, stylelint --fix

Fix Input/Output style to new design
  web/main/colors.css
  web/stories/ui/input.stories.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix paddings around navbar on small phones
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Polish mobile menu
  web/main/colors.css
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix --tune-color syntax
  web/.stylelintrc.json
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Sync navbar and thin page content width
  web/main/sizes.css
  web/ui/navbar/index.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Use PostCSS plugin to define smooth shadows
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/main/colors.css
  web/package.json
  web/postcss.config.ts
Due: stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  extension/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Smaller shadow to avoid be cut at the end of the screen in navbar
  web/main/colors.css
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix paper shadow
  web/main/colors.css
  web/ui/navbar/index.svelte
  web/ui/paper.svelte
Due: prettier --write, stylelint --fix

Make invalid Input more visible
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Do not open slow menu on mobile on no slow posts
  core/menu.ts
  core/test/menu.test.ts
Due: none

Add UI settings empty page
  web/main/main.svelte
  web/pages/interface.svelte
  web/stories/pages/interface.stories.svelte
Due: prettier --write, stylelint --fix

Fix forced light theme
  web/main/colors.css
Due: stylelint --fix

Fix submenu animation on mobile
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Add radio control
  web/main/sizes.css
  web/stories/ui/radio.stories.svelte
  web/ui/button.svelte
  web/ui/input.svelte
  web/ui/label.svelte
  web/ui/output.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Fix radio over navbar on mobile
  web/ui/navbar/index.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Add multitple titles pages
  core/messages/settings/en.ts
  web/pages/about.svelte
  web/pages/profile.svelte
  web/ui/page.svelte
  web/ui/thin-page.svelte
Due: prettier --write, stylelint --fix

Add theme control to UI settings page
  core/messages/settings/en.ts
  web/pages/interface.svelte
Due: prettier --write, stylelint --fix

Add download settings page
  core/messages/settings/en.ts
  web/.size-limit.json
  web/main/main.svelte
  web/pages/download.svelte
Due: prettier --write, stylelint --fix

Clean radio dark stories
  web/stories/ui/radio.stories.svelte
Due: prettier --write, stylelint --fix

Add stories for download page
  web/stories/pages/download.stories.svelte
Due: prettier --write, stylelint --fix

Make button and radio ready for very long words
  web/stories/ui/button.stories.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/button.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Dangerous button for delete profile
  web/pages/profile.svelte
  web/postcss/tune-color.ts
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add red border for dangerous buttons
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix paddings in forms
  web/pages/interface.svelte
  web/ui/label.svelte
Due: prettier --write, stylelint --fix

Unify buttons design in profile
  web/pages/profile.svelte
Due: prettier --write, stylelint --fix

Use Nano Stores Media Query
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/main/environment.ts
  web/package.json
  web/stores/mobile.ts
  web/stores/page-theme.ts
Due: none

Fix submenu animation on other to slow move
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Add settings to disable cursor: pointer and hover animations for more native look
  core/messages/settings/en.ts
  core/settings.ts
  web/main/browser.ts
  web/main/index.css
  web/main/reset.css
  web/pages/interface.svelte
  web/postcss.config.ts
  web/postcss/mixins/clickable.pcss
  web/postcss/pointer.ts
  web/stores/pointer.ts
  web/ui/navbar/item.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Do not change rulesa specifity on adding html.is-pointer
  web/postcss/pointer.ts
Due: none

Disable :active too on disabled pointer
  web/postcss/pointer.ts
Due: none
