Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Fix Firefox extension warnings
  extension/manifest.ts
Due: none

Update extension description
  extension/_locales/en/messages.json
Due: none

Improve extension files for store
  extension/build.ts
Due: none

Add extension linter
  extension/README.md
  extension/build.ts
  extension/package.json
Due: none

Clean up tests by `using`
  proxy/test/index.test.ts
  server/test.ts
  server/test/assets.test.ts
  server/test/auth.test.ts
  server/test/health.test.ts
  server/test/proxy.test.ts
  server/test/sync.test.ts
  server/test/users.test.ts
  server/test/utils.ts
Due: none

Prevent blocking by telling that we are bot
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Hide user's IP in proxy
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Make proxy more accurate to work with Tumblr
  core/test/request.test.ts
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Improve proxy performance
  core/test/request.test.ts
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Improve proxy security and fix and host redirect bug
  core/test/request.test.ts
  loader-tests/README.md
  loader-tests/check-opml.ts
  loader-tests/example.opml
  loader-tests/feeds.yml
  loader-tests/test-loaders.ts
  loader-tests/utils.ts
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Fix on big slow streams
  loader-tests/feeds.yml
  proxy/README.md
  proxy/index.ts
  proxy/test/index.test.ts
Due: none

Add feed title to feed page
  core/messages/feeds/en.ts
  web/pages/feeds/index.svelte
  web/popups/post.svelte
  web/stories/pages/feeds.stories.svelte
  web/ui/feed-link.svelte
  web/ui/feed/post.svelte
  web/ui/small-link.svelte
Due: prettier --write, stylelint --fix

Improve feed loading if it is already in database
  core/popups/feed.ts
  core/posts-list.ts
  core/test/popups/feed.test.ts
  web/popups/feed.svelte
  web/stories/popups/feed.stories.svelte
Due: prettier --write, stylelint --fix

Add 10 posts from new feed
  core/feed.ts
  core/test/popups/feed.test.ts
Due: none

Simplify CSP by avoiding inline CSS/JS in copy-demo-db
  .github/workflows/main.yml
  web/.size-limit.json
  web/README.md
  web/nginx.conf
  web/pages/start.svelte
  web/public/copy-demo-db.html
  web/public/copy-demo-db/index.css
  web/public/copy-demo-db/index.html
  web/public/copy-demo-db/index.js
  web/scripts/generate-csp.ts
  web/vite.config.ts
Due: prettier --write, stylelint --fix

Do not track IP address of users for better privacy
  server/index.ts
Due: none

Safer IP source in proxy
  proxy/README.md
  proxy/index.ts
  proxy/server.ts
  proxy/test/index.test.ts
  server/README.md
  server/lib/config.ts
  server/modules/proxy.ts
  server/test/config.test.ts
Due: none

Add landings
  core/pages/index.ts
  core/router.ts
  core/test/pages/redirects.test.ts
  landings/root/index.html
  nano-staged.json
  server/modules/assets.ts
  server/package.json
  server/test/assets.test.ts
  web/.size-limit.json
  web/README.md
  web/app.html
  web/nginx.conf
  web/package.json
  web/public/manifest.webmanifest
  web/scripts/check-css-props.ts
  web/scripts/generate-csp.ts
  web/stores/url-router.ts
  web/vite.config.ts
Due: none

Add landing building
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/server.yml
  README.md
  landings/.gitignore
  landings/README.md
  landings/package.json
  landings/tsconfig.json
  landings/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  web/package.json
  web/vite.config.ts
Due: none

Use the same way to call scripts in projects
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  .github/workflows/visual.yml
Due: none

Fix if-none-match in extention support
  web/main/extension.ts
Due: none

Update dependencies to not have stucked Logux Server during development
  .devcontainer/Dockerfile
  .github/workflows/workflows.yml
  api/package.json
  core/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/.browserslistrc
  web/.size-limit.json
  web/Dockerfile
  web/package.json
Due: none

Revert SQLite update
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/.size-limit.json
  web/package.json
Due: none

Fix fatal page style
  web/pages/fatal.svelte
  web/ui/thin-page.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Add error-ish favicon
  AGENTS.md
  web/main/browser.ts
  web/main/colors.css
  web/public/404.html
  web/public/500.html
  web/public/icon-error.svg
  web/public/icon-monochrome.svg
Due: stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Use real extension URL for FF
  landings/root/root.html
  web/main/extension.ts
Due: none

Add landing
  .stylelintrc.json
  README.md
  landings/.gitignore
  landings/README.md
  landings/images/main/main.avif
  landings/images/main/prompt.txt
  landings/package.json
  landings/postcss.config.ts
  landings/root/root.css
  landings/root/root.html
  landings/root/root.js
  landings/scripts/save-images.ts
  landings/vite.config.ts
  landings/vite/images.ts
  package.json
  pnpm-lock.yaml
  web/package.json
  web/vite.config.ts
Due: stylelint --fix

Fix size limit logic
  README.md
  landings/README.md
  landings/package.json
  landings/vite.config.ts
  landings/vite/images.ts
  package.json
  server/modules/assets.ts
  web/.size-limit.json
  web/README.md
  web/nginx.conf
  web/package.json
  web/vite.config.ts
  web/vite/lightningcss.ts
Due: none

Fix build test order
  package.json
  proxy/package.json
Due: none

Fix benchmark path with new landing on root path
  docs/benchmark.md
  web/scripts/benchmark.ts
Due: none

Fix landing on mobile
  landings/postcss.config.ts
  landings/root/root.css
Due: stylelint --fix

Improve extension text
  extension/README.md
  extension/_locales/en/messages.json
  extension/package.json
  landings/package.json
Due: none

Typo
  extension/README.md
Due: none

Add vertical image to landing
  landings/root/root.css
  landings/root/root.html
  landings/vite.config.ts
  landings/vite/images.ts
  web/.size-limit.json
Due: stylelint --fix

Faster "Mark as read"
  core/menu.ts
  core/pages/feeds.ts
  core/post.ts
  core/readers/common.ts
  core/readers/feed.ts
  core/readers/list.ts
  core/test/pages/feeds.test.ts
  web/pages/feeds/feed.svelte
  web/pages/feeds/list.svelte
  web/ui/title.svelte
Due: prettier --write, stylelint --fix

Add DB file export for debug
  core/environment.ts
  core/format.ts
  core/messages/storage/en.ts
  core/pages/export.ts
  core/pages/storage.ts
  core/test/pages/storage.test.ts
  web/main/database.ts
  web/main/environment.ts
  web/main/sahpool-worker.ts
  web/pages/storage.svelte
  web/stories/environment.ts
Due: prettier --write, stylelint --fix

Do not fall on missed `reading` in posts
  core/menu.ts
  core/test/menu.test.ts
Due: none

Better translation
  core/messages/storage/en.ts
Due: none

Fix line breaks
  core/messages/fatal/en.ts
Due: none

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
