Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

More blogs to loader tests
  loader-tests/feeds.yml
Due: none

Fix load tests
  loader-tests/check-opml.ts
  loader-tests/feeds.yml
  loader-tests/utils.ts
Due: none

Add LJ to RSS test
  loader-tests/feeds.yml
Due: none

put an absolute link
  docs/pull_request_template.md
Due: none

fix README dependencies link in PR body (#176)
  docs/pull_request_template.md
Due: none

Open post page in new tab
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Do not show long post content in the list
  core/post.ts
  core/preview.ts
  core/refresh.ts
  core/test/post.test.ts
  web/pages/fast.svelte
  web/pages/slow.svelte
  web/ui/post-card.svelte
Due: prettier --write, stylelint --fix

Add slow pagination slider-bar (#164)
  core/messages/common/en.ts
  core/messages/slow/en.ts
  core/router.ts
  core/slow.ts
  web/main/colors.css
  web/pages/slow.svelte
  web/stores/router.ts
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

More slow posts per page since we do not render full post there
  core/slow.ts
Due: none

Polish pagination bar a little
  web/stories/ui/pagination-bar.stories.svelte
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Fix button from jumping vertically on button click
  web/main/colors.css
Due: stylelint --fix

Make Next page button as main button
  web/ui/pagination-bar.svelte
Due: prettier --write, stylelint --fix

Use look from home for all loader tests
  loader-tests/feeds.yml
  loader-tests/test-loaders.ts
Due: none

Hide mobile menu on click outside menu
  web/ui/navbar/fast.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/other.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  server/package.json
  web/package.json
Due: none

All radio blocks will be label-less
  core/messages/settings/en.ts
  web/pages/feeds/edit.svelte
  web/pages/settings/download.svelte
  web/pages/settings/interface.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/radio-field.svelte
Due: prettier --write, stylelint --fix

Use Discord link without time limit
  CONTRIBUTING.md
  README.md
Due: none

Move to Node.js 22
  .tool-versions
  package.json
Due: none

Use node --run CMD instead of pnpm CMD for a little better performance
  .github/workflows/docs.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/test-loaders.yml
  web/package.json
Due: none

Update dependencies
  core/package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Fix loaders tests running by Node instead of pnpm
  loader-tests/utils.ts
Due: none

Fix different padding around Fast/Slow switcher
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Remove unknown flex on <body>
  web/main/index.css
Due: stylelint --fix

Fix empty request on environment initializing
  web/main/environment.ts
Due: none

Fix initial preview URL on page loading
  core/preview.ts
Due: none

Clean up code
  core/loader/atom.ts
  core/loader/rss.ts
Due: none

Do not look for feed links in non-HTML documents to avoid unexpected results
  core/loader/atom.ts
  core/loader/json-feed.ts
  core/loader/rss.ts
  core/loader/utils.ts
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
Due: none

More complex test for links regexp
  core/test/loader/atom.test.ts
  core/test/loader/json-feed.test.ts
  core/test/loader/rss.test.ts
Due: none

Do not look for feeds file
  core/loader/atom.ts
  core/loader/json-feed.ts
Due: none

Fix test
  core/test/preview.test.ts
Due: none

Prevent links duplicates in preview to not confuse user and do not break UI by key duplicate
  core/preview.ts
  core/test/preview.test.ts
Due: none

Improve proxy security (#100) (#134)
  package.json
  pnpm-lock.yaml
  proxy/README.md
  proxy/global.d.ts
  proxy/index.ts
  proxy/package.json
  proxy/proxy.ts
  proxy/test/proxy.test.ts
  proxy/test/utils.ts
Due: none

Update dependencies
  pnpm-lock.yaml
  proxy/package.json
Due: none

Reload proxy on file changes
  proxy/package.json
Due: none

Isolate proxy dependencies and ignores
  pnpm-lock.yaml
  proxy/.gitignore
  proxy/package.json
Due: none

Clean up code
  proxy/README.md
  proxy/index.ts
  proxy/test/proxy.test.ts
  proxy/test/utils.ts
Due: none

Simplify tests
  proxy/test/proxy.test.ts
  proxy/test/utils.ts
Due: none

Improve cookie test
  proxy/test/proxy.test.ts
Due: none

Improve Origin check in proxy
  proxy/index.ts
  proxy/proxy.ts
  proxy/test/proxy.test.ts
Due: none

Clean up option keys
  proxy/index.ts
  proxy/proxy.ts
  proxy/test/proxy.test.ts
Due: none
