Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Update dependencies
  .devcontainer/Dockerfile
  extension/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Add simple way to update Node.js major version
  README.md
  scripts/update-env.ts
Due: none

Remove debug code
  web/pages/busy.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  core/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/Dockerfile
  web/package.json
Due: none

Fix podman error on mixing tag and hash
  .devcontainer/Dockerfile
  scripts/pin-docker.sh
Due: none

Update base images
  .devcontainer/Dockerfile
  proxy/Dockerfile
  server/Dockerfile
  web/Dockerfile
Due: none

Simplify Prettier call by using ignore instead of complex file pattern in CLI
  .prettierignore
  package.json
Due: none

Move to Vite 7 and faster Prettier 3.6
  extension/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: none

Update files according to new Prettier logic
  .prettierignore
  CONTRIBUTING.md
  web/main/loader.css
Due: stylelint --fix

Update pnpm
  .devcontainer/Dockerfile
Due: none

Fix ESLint monorepo in Zed
  api/package.json
  api/tsconfig.json
  core/tsconfig.json
  extension/package.json
  extension/tsconfig.json
  loader-tests/package.json
  loader-tests/tsconfig.json
  package.json
  pnpm-lock.yaml
  proxy/package.json
  proxy/tsconfig.json
  server/package.json
  server/tsconfig.json
  web/package.json
  web/tsconfig.json
Due: none

Fix Storybook API
  web/stories/ui/loader.stories.svelte
Due: prettier --write, stylelint --fix

Add base button implementation
  web/main/index.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Allow to not use all CSS properties in app if we are using it in visual tests
  web/postcss/props-checker.ts
  web/scripts/check-css-props.ts
Due: none

Clean up button story
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Update Node.js to have strip types without experimental warning
  .devcontainer/Dockerfile
  .node-version
  api/package.json
  core/package.json
  extension/package.json
  loader-tests/package.json
  nano-staged.json
  package.json
  proxy/Dockerfile
  proxy/package.json
  scripts/tsnode
  server/Dockerfile
  server/package.json
  web/package.json
Due: none

Use comfort mode in visual tests
  web/stories/environment.ts
Due: none

Use Noto Sans font
  pnpm-lock.yaml
  web/main/common.css
  web/main/fonts.css
  web/main/index.css
  web/package.json
Due: stylelint --fix

Fix button pressed state
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Use only Latin font in size limit check
  web/.size-limit.json
Due: none

Improve button style
  web/main/colors.css
  web/main/fonts.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix focus state
  pnpm-lock.yaml
  web/main/browser.ts
  web/main/colors.css
  web/package.json
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Update docs
  web/README.md
Due: none

Remove debug code
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Fix button colors a little
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add 2 styles for button
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add more sizes for buttons
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add icon button text to title to be able to read it for users
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix types
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add small style for button
  web/main/fonts.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Remove custom selection color since it works bad with yellow background
  web/main/colors.css
  web/main/index.css
Due: stylelint --fix

Add Input components for text fields
  core/index.ts
  core/test/validators.test.ts
  core/validators.ts
  web/main/fonts.css
  web/stories/ui/input.stories.svelte
  web/ui/button.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Fix code style
  core/validators.ts
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  .devcontainer/Dockerfile
  api/package.json
  extension/package.json
  loader-tests/package.json
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  proxy/package.json
  server/Dockerfile
  server/package.json
  web/Dockerfile
  web/package.json
Due: none

Make custom property name more clear
  web/main/index.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix Input dark story
  web/stories/ui/input.stories.svelte
Due: prettier --write, stylelint --fix

Add dark theme and move colors to design tokens
  web/main/colors.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/input.svelte
Due: prettier --write, stylelint --fix

Add note about specific loader CSS tokens case
  web/main/loader.css
Due: stylelint --fix

Sync loader styles with button/input
  web/main/colors.css
  web/main/loader.css
Due: stylelint --fix
