Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Update depenencies
  core/package.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Fix navbar menu switcher :focus
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Reduce stories
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Use SVG icon in Storybook
  web/.storybook/manager-head.html
Due: none

Update icon
  web/main/icon.svg
  web/public/apple-touch-icon.png
  web/public/favicon.ico
  web/public/icon-192.png
  web/public/icon-512.png
Due: none

Add color fire to slow button on hover
  web/main/colors.css
  web/ui/icon.svelte
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Increase size limit
  web/.size-limit.json
Due: none

Tune hotkey position
  web/ui/hotkey.svelte
Due: prettier --write, stylelint --fix

Fix navbar switcher width
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Add helper to check all in-settings routes
  core/router.ts
  core/test/router.test.ts
Due: none

Add navbar hovers and current style
  web/main/colors.css
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Increase menu width
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Add submenu with settings links
  core/messages/navbar/en.ts
  core/messages/settings/en.ts
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix

Update size limit after compressing icons
  web/.size-limit.json
Due: none

Fix fire position in navbar switcher
  web/ui/navbar/switcher.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  package.json
  pnpm-lock.yaml
  proxy/package.json
  web/package.json
Due: none

Add appearance page
  core/router.ts
  core/test/router.test.ts
  web/main/main.svelte
  web/pages/appearance.svelte
  web/stores/router.ts
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix

Add shortcut to check size limit
  web/package.json
Due: none

Add submenu keyboard navigation
  web/.size-limit.json
  web/main/index.css
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Clean up code
  web/lib/hotkeys.ts
  web/ui/navbar/item.svelte
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Add story to test keyboard navigation help
  web/stories/section.svelte
  web/stories/ui/navbar.stories.svelte
Due: prettier --write, stylelint --fix

Rename settings item to avoid confusion when we will have text appearance settings
  core/messages/settings/en.ts
  core/router.ts
  web/main/main.svelte
  web/pages/interface.svelte
  web/stores/router.ts
  web/stories/ui/navbar.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix

Avoid showing unnecessary arrow hint on submenu with only 1 element
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Make submenu keyboard hints more clear
  web/ui/navbar/item.svelte
  web/ui/navbar/submenu.svelte
Due: prettier --write, stylelint --fix

Fix tests
  core/test/router.test.ts
Due: none

Update Vite
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

Add relative colors support
  pnpm-lock.yaml
  web/.postcssrc.json
  web/package.json
Due: none

Make shadows more realistic
  web/main/colors.css
Due: stylelint --fix

Fix card padding for text
  web/ui/card-actions.svelte
  web/ui/card.svelte
Due: prettier --write, stylelint --fix

Fix button story with card
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Increase card shadow
  web/main/colors.css
Due: stylelint --fix

Fix UiCardActions when it alone in the card
  web/ui/card-actions.svelte
Due: prettier --write, stylelint --fix

Remove default value
  web/main/common.css
Due: stylelint --fix

Unify outer radius with inner radius
  web/main/common.css
Due: stylelint --fix

Add styles for UiRadio
  web/main/reset.css
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Add stules to UI settings page
  web/pages/interface.svelte
  web/stories/pages/interface.stories.svelte
  web/ui/settings.svelte
Due: prettier --write, stylelint --fix

Fix radio circle movement on click
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Increase stories number for radio in dark
  web/stories/ui/radio.stories.svelte
Due: prettier --write, stylelint --fix

Update Size Limit
  pnpm-lock.yaml
  web/package.json
Due: none

Add load settings
  core/messages/settings/en.ts
  core/router.ts
  web/main/main.svelte
  web/pages/interface.svelte
  web/pages/load.svelte
  web/stores/router.ts
  web/stories/pages/load.stories.svelte
  web/ui/navbar/settings.svelte
Due: prettier --write, stylelint --fix
