Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Fix home link hover
  landings/layout/docs.css
Due: stylelint --fix

Move docs to docs/
  .github/CODE_OF_CONDUCT.md
  .github/SECURITY.md
  .github/pull_request_template.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/development/benchmark.md
  docs/development/browser.md
  docs/development/new_page.md
  docs/development/onboarding.md
  docs/privacy.md
  landings/README.md
  landings/vite/docs.ts
  web/README.md
  web/scripts/benchmark.ts
Due: none

Ask to use APCA for colors check
  AGENTS.md
Due: none

Add privacy policy link to sign up page
  core/lib/validators.ts
  core/messages/auth/en.ts
  core/messages/common/en.ts
  core/pages/mixins/custom-server-field.ts
  core/pages/sign-up.ts
  core/test/lib/validators.test.ts
  core/test/pages/sign-up.test.ts
  web/pages/sign-up.svelte
  web/stories/pages/sign-up.stories.svelte
Due: prettier --write, stylelint --fix

Add Privacy Policy text
  .stylelintrc.json
  docs/privacy.md
  landings/layout/docs.css
  landings/layout/layout.css
  landings/layout/sizes.css
  landings/package.json
  landings/root/root.css
  landings/vite/docs.ts
  pnpm-lock.yaml
  web/nginx.conf
Due: stylelint --fix

Clean up docs styles
  .stylelintrc.json
  landings/layout/docs.css
  landings/layout/layout.css
  landings/root/root.css
  web/nginx.conf
Due: stylelint --fix

Tune home button on docs pages
  landings/layout/docs.css
Due: stylelint --fix

Update h+h lab logo
  landings/images/hplush.svg
  landings/root/root.css
  landings/root/root.html
Due: stylelint --fix

Tune floating header style
  landings/layout/docs.css
  landings/layout/layout.css
  web/nginx.conf
Due: stylelint --fix

Move back to own Node.js version since Red Hat HI image is not updated fast enouph
  .github/workflows/preview-prepare.yml
  .github/workflows/proxy.yml
  .github/workflows/server.yml
  proxy/Dockerfile
  scripts/check-versions.ts
  scripts/update-env.ts
  server/Dockerfile
Due: none

Update Node.js and dependencies
  .devcontainer/Dockerfile
  .node-version
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/.browserslistrc
  web/Dockerfile
  web/package.json
Due: none

Use new Node.js debounce
  pnpm-lock.yaml
  server/lib/debounce.ts
  server/modules/sync.ts
  server/package.json
Due: none

Fix Login button readability on landing
  landings/layout/docs.css
  landings/layout/layout.css
  landings/root/root.css
Due: stylelint --fix

Move custom plugin to postcss-smooth-corners
  landings/layout/docs.css
  landings/layout/layout.css
  landings/package.json
  landings/postcss.config.ts
  landings/root/root.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/main/sizes.css
  web/nginx.conf
  web/package.json
  web/postcss.config.ts
  web/postcss/squircle-corner.ts
  web/public/404.html
  web/public/500.html
  web/ui/radio-list.svelte
Due: prettier --write, stylelint --fix

Add screenshots to landing
  .github/workflows/demo-db.yml
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/server.yml
  landings/.gitignore
  landings/README.md
  landings/package.json
  landings/root/root.css
  landings/root/root.html
  landings/scripts/screenshots.ts
  landings/vite/images.ts
  pnpm-lock.yaml
  web/nginx.conf
Due: stylelint --fix

Login now main step for start page since users are comming to thins page from landing Login button
  web/pages/start.svelte
  web/ui/sign-in-form.svelte
Due: prettier --write, stylelint --fix

Add laptop screenshot to mobile landing
  landings/root/root.css
  landings/root/root.html
  landings/root/root.js
  web/nginx.conf
Due: stylelint --fix

Add certificate durtation test
  test/README.md
  test/checks/certificate.ts
  test/checks/index.ts
Due: none

Optimize screenshots for mobile
  landings/root/root.html
  landings/vite/images.ts
  web/nginx.conf
Due: none

Add image alt
  landings/root/root.html
Due: none

Simplify start page and add link back to landing
  core/messages/auth/en.ts
  web/pages/relogin.svelte
  web/pages/sign-up.svelte
  web/pages/start.svelte
  web/ui/home-button.svelte
  web/ui/sign-in-form.svelte
Due: prettier --write, stylelint --fix

Avoid home button for landing-less environments
  web/lib/landing.ts
  web/ui/home-button.svelte
Due: prettier --write, stylelint --fix

Update docs
  web/README.md
Due: none

Compress landing images
  landings/root/root.html
  landings/scripts/screenshots.ts
  landings/vite/images.ts
Due: none

Add more sections to landing
  landings/root/root.css
  landings/root/root.html
Due: stylelint --fix

Fix squircle for landings buttons
  landings/postcss.config.ts
Due: none

Remove agent hook since it creates conflict between parallel agents
  .claude/settings.json
Due: none

Move from actions-up to pnpm to update CI actions to have less tools
  .devcontainer/Dockerfile
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Update docs after Claude Code hook removal
  README.md
Due: none

Auto-format code
  pnpm-lock.yaml
Due: none

Improve error text to make links clickable
  web/demo/build-demo-db.ts
Due: none

Add passkey aaguids database to the server to then use in user passkey list
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/server.yml
  README.md
  package.json
  server/.gitignore
  server/README.md
  server/aaguids/commit.lock
  server/aaguids/download.ts
  server/aaguids/update.ts
  server/aaguids/utils.ts
  server/index.ts
  server/package.json
Due: none

Export X-Forwarded-For logic from proxy to use in the server for auth
  proxy/index.ts
Due: none

Limit HTTP body to the server to prevent DDoS
  server/lib/http.ts
  server/test/auth.test.ts
Due: none

Add secondary info to Links list to use in the new Cloud page
  web/stories/ui/links.stories.svelte
  web/ui/links.svelte
Due: prettier --write, stylelint --fix

More complex server log cleaning to not open user sign-in data for future passkey methods
  server/index.ts
  server/lib/redact.ts
  server/test.ts
  server/test/redact.test.ts
Due: none

Use demo DB from PR is avaiable and never replace demo DB in main by PR
  .github/workflows/main.yml
  .github/workflows/preview-prepare.yml
  .github/workflows/server.yml
Due: none

Remove website removed its feed from demo
  web/demo/demo-feeds.opml
Due: none

Fix server CI
  .github/workflows/main.yml
  .github/workflows/server.yml
  server/README.md
  server/aaguids/utils.ts
  server/package.json
Due: none
