Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Better syntax to disable CSS rule
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Typo
  server/db/index.ts
Due: none

Use CTA variant as main
  web/main/colors.css
  web/pages/about.svelte
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix new button API
  web/pages/profile.svelte
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Fix unused font
  web/main/fonts.css
Due: stylelint --fix

Group font families to custom properties to reduce duplication
  web/main/fonts.css
Due: stylelint --fix

Update pnpm and dependencies
  .devcontainer/Dockerfile
  .github/actions/init-node/action.yml
  core/package.json
  core/test/utils.ts
  package.json
  pnpm-lock.yaml
  proxy/Dockerfile
  server/Dockerfile
  web/Dockerfile
  web/package.json
  web/scripts/check-names.ts
Due: none

Add button without background to use it in sync status
  web/main/colors.css
  web/stories/ui/button.stories.svelte
  web/ui/button.svelte
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Replace c8 to node --test built-in coverage to reduce dependencies
  .prettierignore
  core/.c8rc.json
  core/.gitignore
  core/README.md
  core/auth.ts
  core/client.ts
  core/environment.ts
  core/i18n.ts
  core/lib/download.ts
  core/lib/queue.ts
  core/not-found.ts
  core/package.json
  core/pages/add.ts
  core/pages/import.ts
  core/pages/signup.ts
  core/pages/start.ts
  core/popups/common.ts
  core/request.ts
  core/router.ts
  core/settings.ts
  core/test/loader/utils.test.ts
  package.json
  pnpm-lock.yaml
  proxy/.c8rc.json
  proxy/.gitignore
  proxy/index.ts
  proxy/package.json
  server/.c8rc.json
  server/.gitignore
  server/modules/auth.ts
  server/modules/users.ts
  server/package.json
  web/.gitignore
  web/.stylelintrc.json
  web/package.json
Due: none

Simplify dependencies update for new developers
  README.md
  package.json
Due: none

Less visible sync badge on no changes
  web/ui/navbar/sync.svelte
Due: prettier --write, stylelint --fix

Add plain buttons to different theme stories
  web/stories/ui/button.stories.svelte
Due: prettier --write, stylelint --fix

Use opacity instead of gray text
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Fix signup main button after refactoring
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Thinner font for category to separated better
  web/ui/navbar/category.svelte
Due: prettier --write, stylelint --fix

Use smaller border radius
  web/main/sizes.css
Due: stylelint --fix

Add thin border around secondary buttons and tune shadows
  web/main/colors.css
  web/ui/button.svelte
Due: prettier --write, stylelint --fix

Add new navbar and inputs styles
  web/main/colors.css
  web/main/main.svelte
  web/main/sizes.css
  web/stories/ui/navbar.stories.svelte
  web/ui/button.svelte
  web/ui/input.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
  web/ui/navbar/item.svelte
  web/ui/navbar/other.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Typo
  web/ui/navbar/button.svelte
Due: prettier --write, stylelint --fix

Polish navbar
  web/ui/navbar/button.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix shadow custom properties
  web/main/colors.css
Due: stylelint --fix

Run Chromatic at deep night after my later work
  .github/workflows/visual.yml
Due: none

Use navbar color on mobile as theme color to integrate browser UI with webapp
  web/main/browser.ts
  web/main/index.css
Due: stylelint --fix

Limit navbar width and fix tablet style
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Fix CSS Custom properties usage with new property for browser UI theme
  web/postcss/props-checker.ts
Due: none

Prevent showing pressed state on already openned navbar element
  web/ui/navbar/item.svelte
Due: prettier --write, stylelint --fix

Fix mobile navbar submenu
  web/ui/navbar/category.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Update browser UI theme on light/dark theme changes
  web/main/browser.ts
  web/main/environment.ts
Due: none

Bigger UI on mobile
  web/main/index.css
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Add animation for submenu openning on mobile
  web/main/colors.css
  web/ui/navbar/button.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Tune animations little
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Tune mobile shadow
  web/main/colors.css
Due: stylelint --fix

Fix CryptoKey issue in Chrome on local development
  core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/package.json
  web/package.json
Due: none

Add minimumReleaseAge docs
  README.md
Due: none

Update messages name to new page name
  core/messages/add/en.ts
  core/messages/index.ts
Due: none

Add hack to better melt browser and webapp UIs
  web/main/browser.ts
  web/main/index.css
Due: stylelint --fix

Update colors docs
  web/README.md
Due: none

Use default background color for PWA loading screen
  web/main/colors.css
  web/public/manifest.webmanifest
Due: stylelint --fix

Fix category blue on iPhone
  web/postcss/mixins/clickable.pcss
  web/ui/navbar/button.svelte
Due: prettier --write, stylelint --fix
