Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

Prevent ignoring what person write in URL field in some cases
  core/pages/add.ts
Due: none

Fix regression
  core/pages/add.ts
Due: none

Fix active mobile fix
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

More light click easing
  web/main/animations.css
Due: stylelint --fix

Change feed list arrows design on mobile
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Fix wrong meaning of message
  core/messages/navbar/en.ts
Due: none

Update CSP for content inside HTML page
  web/nginx.conf
Due: none

Add base popups system
  core/messages/common/en.ts
  core/opened-popups.ts
  core/popups/common.ts
  core/popups/feed-url.ts
  core/popups/feed.ts
  core/popups/index.ts
  core/popups/post.ts
  core/popups/refresh.ts
  core/test/popups.test.ts
  web/.size-limit.json
  web/main/colors.css
  web/main/main.svelte
  web/main/sizes.css
  web/popups/feed-url.svelte
  web/popups/loading.svelte
  web/popups/not-found.svelte
  web/stories/popups/loading.stories.svelte
  web/stories/popups/not-found.stories.svelte
  web/ui/popup.svelte
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Add styles for loading and not found popups
  core/messages/common/en.ts
  web/popups/not-found.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Fix add page stories
  web/pages/add.svelte
Due: prettier --write, stylelint --fix

Prevent redirect on navbar clicks to not break back button
  core/menu.ts
  core/test/menu.test.ts
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Close popup on Escape
  web/main/browser.ts
Due: none

Add tool to check that all messages are used
  .github/workflows/messages.yml
  README.md
  package.json
  scripts/check-unused-messages.ts
Due: none

Ignore legacy web UI in unused messages check
  scripts/check-unused-messages.ts
Due: none

Run unused messages check every week instead of every day
  .github/workflows/messages.yml
Due: none

Clean unused messages from implemented pages
  core/messages/add/en.ts
  core/messages/common/en.ts
  core/messages/navbar/en.ts
  core/messages/settings/en.ts
Due: none

Run unused messages check on script update
  .github/workflows/messages.yml
Due: none

Use single popup for feed add and feed view
  core/pages/add.ts
  core/popups/feed-url.ts
  core/popups/feed.ts
  core/popups/index.ts
  core/router.ts
  core/test/pages/add.test.ts
  core/test/popups/feed-url.test.ts
  core/test/popups/feed.test.ts
  web/main/main.svelte
  web/popups/feed.svelte
  web/stories/pages/add.stories.svelte
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Make it more easy to use Envrionment#warn with catch
  core/environment.ts
  core/popups/feed.ts
  core/test/pages/add.test.ts
  web/main/environment.ts
  web/pages/signup.svelte
Due: prettier --write, stylelint --fix

Use normal font in text field to put more text in visible area
  web/main/fonts.css
  web/ui/input.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Change Stack align API to be more flexible
  web/pages/add.svelte
  web/pages/not-found.svelte
  web/pages/signup.svelte
  web/pages/start.svelte
  web/popups/not-found.svelte
  web/ui/stack.svelte
Due: prettier --write, stylelint --fix

Move stories responces API to array to allow to define multiple requests to the same URL
  web/stories/environment.ts
  web/stories/pages/add.stories.svelte
  web/stories/scene.svelte
Due: prettier --write, stylelint --fix

Allow to put field and button in the same row
  web/ui/input.svelte
  web/ui/output.svelte
Due: prettier --write, stylelint --fix

Add focus jump from feeds list to feed popup
  core/popups/common.ts
  core/popups/index.ts
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Safer way to auto-open popup in add page
  core/pages/add.ts
Due: none

Add method to delete feed to popup
  core/popups/feed.ts
  core/test/popups/feed.test.ts
Due: none

Add base feed popup
  core/messages/organize/en.ts
  web/popups/feed.svelte
  web/stories/loaded-popup.svelte
  web/stories/popups/feed.stories.svelte
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Improve popup stories API
  web/stories/loaded-popup.svelte
  web/stories/popups/feed.stories.svelte
Due: prettier --write, stylelint --fix

Reduce DOM size by replacing icons by JS
  web/ui/feeds.svelte
Due: prettier --write, stylelint --fix

Unify navbar icons hover with plain buttons
  web/ui/navbar/button.svelte
Due: prettier --write, stylelint --fix

Allow to put custom buttons to popup headers and put it over mobile navbar
  web/main/sizes.css
  web/popups/feed.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/index.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Improve delete button contrast
  web/main/colors.css
Due: stylelint --fix

Change popup styles
  web/main/sizes.css
  web/ui/popup.svelte
  web/ui/popupable-page.svelte
Due: prettier --write, stylelint --fix

Speed up animations
  web/main/animations.css
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Use fire color for fire on 404
  web/ui/page-icon.svelte
Due: prettier --write, stylelint --fix

Add mobile state of popups
  web/stories/popups/feed.stories.svelte
  web/stories/popups/loading.stories.svelte
  web/stories/ui/navbar.stories.svelte
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Change Radio to be compatible with SyncMap fields
  web/pages/download.svelte
  web/pages/interface.svelte
  web/stories/ui/radio.stories.svelte
  web/ui/radio.svelte
Due: prettier --write, stylelint --fix

Show popup block as 50% but make content thin
  web/main/sizes.css
  web/ui/popup.svelte
Due: prettier --write, stylelint --fix

Add feed fields to feed popup
  core/messages/organize/en.ts
  web/popups/feed.svelte
Due: prettier --write, stylelint --fix

Fix Svelte 5 syntax in story
  web/stories/ui/radio.stories.svelte
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.(js|ts)) or (any of: *.svelte)
  stylelint --fix: (any of: *.css) or (any of: *.svelte)
