Repository hplush/slowreader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.(js|ts)": [
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.svelte": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Move package.packageManager above
  package.json
Due: none

Update Rollup
  web/package.json
  yarn.lock
Due: none

Use Vite in Storybook
  web/.storybook/main.cjs
  web/package.json
  yarn.lock
Due: none

Fix Storybook preview
  web/.storybook/preview.cjs
Due: none

Fix using stores in components with stories
  .stylelintrc
  core/router/index.test.ts
  core/router/index.ts
  web/.storybook/main.cjs
  web/main/colors.css
  web/main/index.css
  web/stores/router.ts
  web/svelte.config.cjs
  web/ui/navbar.svelte
  yarn.lock
Due: prettier --write, stylelint --fix

Fix indent
  .stylelintrc
Due: none

Add new header styles
  .eslintrc
  .stylelintrc
  core/router/index.ts
  web/.size-limit.json
  web/main/App.svelte
  web/main/colors.css
  web/main/index.css
  web/ui/navbar.svelte
  web/ui/navbar/button.svelte
  web/ui/navbar/index.stories.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Update dependencies
  package.json
  web/package.json
  yarn.lock
Due: none

Save space by re-using directories in yarn
  .yarnrc.yml
Due: none

Add I18n
  core/i18n/index.test.ts
  core/i18n/index.ts
  core/index.ts
  core/messages/navbar/en.ts
  core/package.json
  web/main/App.svelte
  web/main/index.ts
  web/package.json
  web/stores/locale.ts
  web/ui/navbar/index.svelte
  yarn.lock
Due: prettier --write, stylelint --fix

Update Size Limit
  web/package.json
  yarn.lock
Due: none

Lock TS
  package.json
  yarn.lock
Due: none

Add start page
  core/router/index.test.ts
  core/router/index.ts
  web/index.html
  web/main/App.svelte
  web/main/index.css
  web/main/index.ts
  web/main/main.svelte
  web/pages/start.svelte
  web/ui/navbar/index.svelte
Due: prettier --write, stylelint --fix

Move start translations to messages
  core/index.ts
  core/messages/start/en.ts
  web/pages/start.svelte
Due: prettier --write, stylelint --fix

Add add page
  core/index.ts
  core/messages/add/en.ts
  web/main/main.svelte
  web/pages/add.svelte
Due: prettier --write, stylelint --fix

Move from lint-staged to nano-staged
  .lintstagedrc
  package.json
  simple-git-hooks.json
  yarn.lock
Due: none

Fix nano-staged
  package.json
  simple-git-hooks.json
  yarn.lock
Due: none

Speed up nano-staged
  package.json
  simple-git-hooks.json
  yarn.lock
Due: none

Remove Jest config
  jest.config.json
Due: none

Update dependencies
  core/package.json
  package.json
  server/package.json
  web/package.json
  yarn.lock
Due: none

Move nano-staged config to separated file
  nano-staged.json
Due: none

Fix nano-staged
  package.json
  yarn.lock
Due: none

Update PostCSS
  package.json
  web/package.json
  yarn.lock
Due: none

Add :focus styles
  web/main/colors.css
  web/main/index.css
Due: stylelint --fix

Update dependencies
  core/package.json
  package.json
  web/package.json
  yarn.lock
Due: none

Add icons
  web/package.json
  web/ui/navbar/index.svelte
  web/vite.config.js
  yarn.lock
Due: prettier --write, stylelint --fix

Fix SVG in storybook
  web/.storybook/main.cjs
Due: none

Update dependencies
  api/package.json
  core/package.json
  package.json
  server/package.json
  web/package.json
  yarn.lock
Due: none

Fix SVG file types
  web/main/global.d.ts
Due: none

Fix size limit
  web/.size-limit.json
Due: none

Sort imports
  web/stores/router.ts
Due: none

Move from Yarn 3 to pnpm
  .github/workflows/test.yml
  .gitignore
  .tool-versions
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  api/package.json
  core/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
  yarn.lock
Due: none

Remove package.packageManager
  package.json
Due: none

Update ESLint
  package.json
  pnpm-lock.yaml
Due: none

Update Node.js and pnpm
  .github/workflows/test.yml
  .tool-versions
Due: none

Add script to sure that .tool-versions is synced with CI
  nano-staged.json
  scripts/check-versions.js
Due: none

Update Prettier
  package.json
  pnpm-lock.yaml
Due: none
